/* COLORS */
.text-amber{color:#ffc107 !important}.bg-amber{color:#000 !important;background-color:#ffc107 !important}
.text-aqua{color:#00ffff !important}.bg-aqua{color:#000 !important;background-color:#00ffff !important}
.text-blue{color:#2196F3 !important}.bg-blue{color:#fff !important;background-color:#2196F3 !important}
.text-light-blue{color:#87CEEB !important}.bg-light-blue{color:#000 !important;background-color:#87CEEB !important}
.text-brown{color:#795548 !important}.bg-brown{color:#fff !important;background-color:#795548 !important}
.text-cyan{color:#00bcd4 !important}.bg-cyan{color:#000 !important;background-color:#00bcd4 !important}
.text-blue-grey{color:#35AEC9 !important}
.bg-blue-grey
{ 
	color:#fff !important;background-color:#35AEC9 !important;
	background-image: linear-gradient(to left, #8edbed, #2f96b4);

}
.text-green{color:#4CAF50 !important}.bg-green{color:#fff !important;background-color:#4CAF50 !important}
.text-light-green{color:#8bc34a !important}.bg-light-green{color:#000 !important;background-color:#8bc34a !important}
.text-indigo{color:#3f51b5 !important}.bg-indigo{color:#fff !important;background-color:#3f51b5 !important}
.text-khaki{color:#b4aa50 !important}.bg-khaki{color:#000 !important;background-color:#f0e68c !important}
.text-lime{color:#cddc39 !important}.bg-lime{color:#000 !important;background-color:#cddc39 !important}
.text-orange{color:#ff9800 !important}.bg-orange{color:#000 !important;background-color:#ff9800 !important}
.text-deep-orange{color:#ff5722 !important}.bg-deep-orange{color:#fff !important;background-color:#ff5722 !important}
.text-pink{color:#e91e63 !important}.bg-pink{color:#fff !important;background-color:#e91e63 !important}
.text-purple{color:#9c27b0 !important}.bg-purple{color:#fff !important;background-color:#9c27b0 !important}
.text-deep-purple{color:#673ab7 !important}.bg-deep-purple{color:#fff !important;background-color:#673ab7 !important}
.text-red{color:#f44336 !important}.bg-red{color:#fff !important;background-color:#f44336 !important}
.text-sand{color:#fdf5e6 !important}.bg-sand{color:#000 !important;background-color:#fdf5e6 !important}
.text-teal{color:#009688 !important}.bg-teal{color:#fff !important;background-color:#009688 !important}
.text-yellow{color:#d2be0e !important}.bg-yellow{color:#000 !important;background-color:#ffeb3b !important}
.text-white{color:#fff !important}.bg-white{color:#000 !important;background-color:#fff !important}
.text-black{color:#000 !important}.bg-black{color:#fff !important;background-color:#000 !important}
.text-grey{color:#757575 !important}.bg-grey{color:#000 !important;background-color:#9e9e9e !important}
.text-light-grey{color:#f1f1f1 !important}.bg-light-grey{color:#000;background-color:#f1f1f1 !important}
.text-dark-grey{color:#3a3a3a !important}.bg-dark-grey{color:white;background-color:#616161 !important}