.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}

.badge2 {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    padding: 2px 6px;
    position: absolute;
    right: 0px;
    top: 0px;
    
    display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 8px;
}

ul.msg_list li {
    background: #f7f7f7;
    padding: 0px;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
}

ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px;
}

ul.msg_list li a {
    padding: 3px 5px !important;
}

ul.msg_list li a .image img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}

ul.msg_list li a .message {
    display: block !important;
    font-size: 11px;
}

.dropdown-menu.msg_list {
    width: 450px !important;
}

.dropdown-menu.msg_list span {
    white-space: normal;
}

.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px;
    display: none;
    float: right;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #999999;
}

.dropdown-menu:after {
    border-bottom: 6px solid #999999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 4%;
    position: absolute;
    top: -6px;
}

.dropdown-menu>li>a {
    color: #5A738E;
}


.dashBoardRow{
    border-radius: 8px;
    border: 2px solid #b3b3b3;
    padding: 5px; 
    height: 50%;
}
.dashBoardRow2{


}

.dashBoardWholeTablePadding{
	padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 5px;	
}

.dashBoardPaddingBottom5px{
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px;
    padding-left: 0px;	
}
.paddingRight-0px {
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px;
    padding-left: 0px;	
}
.paddingRight-5px {
	padding-top: 0px ;
    padding-right: 5px ;
    padding-bottom: 0px;
    padding-left: 0px;	
}
.paddingRight-15px {
	padding-top: 0px ;
    padding-right: 15px ;
    padding-bottom: 0px;
    padding-left: 0px;	
}
.rowPadding {
	padding-top: 0px ;
    padding-right: 20px ;
    padding-bottom: 0px !important;
    padding-left: 20px;	
}

.paddingRight-20px {
	padding-top: 0px ;
    padding-right: 20px ;
    padding-bottom: 20px !important;
    padding-left: 0px;	
}

.paddingLeft-20px {
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 20px !important;
    padding-left: 20px;	
}

.paddingLeft-25px {
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px ;
    padding-left: 30px;	
}
.paddingGrid {
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px ;
    padding-left: 20px;		
}

.dashBoardTableRow{
    border-radius: 8px;
    border: 0px solid #35aec9;
    background-image: linear-gradient(to right, #8edbed, #2f96b4);
      
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px; 
    padding-left: 15px;	

   
    margin-bottom: 5px;
    
    width: 100%;
    font-size: 16px;
	height: 44px;
	line-height: 33px;
	text-align: middle;
	
	background-color: #35aec9;
}

.alertNotifyTableRow{
    border-radius: 8px;
    border: 0px solid #35aec9;
    background-image: linear-gradient(to right, #8edbed, #2f96b4);
      
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px; 
    padding-left: 15px;	

   
    margin-bottom: 5px;
    
    width: 100%;
    font-size: 16px;
	height: 44px;
	line-height: 33px;
	text-align: middle;
	
	background-color: #35aec9;
}


.dashBoardTableRowSelect{
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #35aec9;
    
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px; 
    padding-left: 15px;	
    margin-bottom: 0px;
    
    width: 100%;
    font-size: 18px;
	height: 52px;
	line-height: 33px;
	text-align: middle;
	
	background-color: #8edbed;
}

.dashBoardTableRowDetails{
    border-radius: 0px 0px 0px 0px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #4b4b4b;
  
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 2px !important;
    padding-left: 15px;	
    margin-bottom: 0px;

    font-size: 14px;
	height: 32px;
	line-height: 22px;
	text-align: middle;
	
}
.dashBoardTableRowDetails2{
    border-radius: 0px 0px 0px 0px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #4b4b4b;
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px !important;
    padding-left: 15px;	
    margin-bottom: 0px;
  	margin-top: 0px;
    font-size: 12px;
	height: 28px;
	line-height: 20px;
	text-align: middle;
}
.dashBoardTableRowDetails3{
    border-radius: 0px 0px 0px 0px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #4b4b4b;
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px !important;
    padding-left: 15px;	
    margin-bottom: 0px;
  	margin-top: 0px;
    font-size: 10px;
	height: 20px;
	line-height: 15px;
	text-align: middle;
}
.dashBoardTableRowDetails4{
    border-radius: 0px 0px 0px 0px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #4b4b4b;
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px !important;
    padding-left: 15px;	
    margin-bottom: 0px;
  	margin-top: 0px;
    font-size: 12px;
	height: 28px;
	width: 350px;
	line-height: 20px;
	text-align: middle;
}
.selectedColor {
		background-color: #8edbed;
}

.nonSelectColor {
		background-color: #35aec9;
}
.dashBoardTableLastRowDetails{
    border-radius: 0px 0px 8px 8px;
    
    border-top-color: #4b4b4b;
    border-top-style: solid;
    border-top-width: 2px;
     
   
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 2px !important;
    padding-left: 15px;	
    margin-bottom: 5px;
    
    font-size: 14px;
	height: 32px;
	line-height: 22px;
	text-align: middle;
	
}
#scrollable-content {
  overflow: auto;
  padding-left: 0px;	
}
.scrollable-content2 {
  overflow: auto;
  width: 102%;
    height: 100%;
    
  	margin-left: -15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom:  0px ;
    padding-left: 0px ;
    
    border: 0px solid #b3b3b3;
}
.scrollable-content3 {
  	width: 100%;
    height: 5%;
    
  	margin-left: -17px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom:  0px ;
    padding-left: 0px ;
    
    border: 0px solid #b3b3b3;
    background-color: #35AEC9; 
    color: #35AEC9; 
}

.no-margin {
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.themeColor {
	color: #35aec9;
	background-color: #35aec9;
}
.rightAlign-1em {
	position: absolute;
	right: 1em;
}
.alert-postive2 {
  border-color: transparent;
  background-color: #ffffff;
  color: #4b4b4b; 
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;  
  padding: 5px 5px 5px 5px; 
}
.alert-postive2:hover {
   border-color: #01DFD7;
   background-color: #01DFD7; 
   text-decoration: none;
   border-style: solid;
   border-width: 1px;
}
li { cursor: pointer; cursor: hand; }
.alert-postive2.active, .alert-postive2.activated {
   border-color: #01DFD7;
   background-color: #01DFD7; 
 }
.alert-postive2.button-clear {
   border-color: transparent;
   background: none;
   box-shadow: none;
   color: #35AEC9; }
.alert-postive2.button-icon {
   border-color: transparent;
   background: none; }
.alert-postive2.button-outline {
   border-color: #35AEC9;
   background: transparent;
   color: #35AEC9; }
.alert-postive2.button-outline.active, .alert-postive2.button-outline.activated {
	background-color: #35AEC9;
   box-shadow: none;
   color: #fff; }
.button-small2{
  min-width: 40px;
  width: 10px;
  padding:0px 0px 0px 0px;
}
.button.button-positive3 {
  border-color: transparent;
  background-color: transparent;
  color: #4b4b4b; 
  border-style: solid;
  border-width: 1px;
  outline: none;  
}
.button.button-positive3:hover {
   border-style: solid;
   border-color: #35AEC9;
   color: #01dfd7;   
}
.button.button-positive3.active, .button.button-positive3.activated {
    border-color: #35AEC9;
    background-color: #01dfd7; 
    color: #01dfd7; 
}
.button.button-positive3.button-outline {
   border-color: #000000;
   background: transparent;
   color: #000000; 
}
.top-popup2 {
	font-size: 16px;
}
.top-popup2 ul{
	list-style:none;
	margin: 0;
	padding: 0 0px;
}

.top-popup2 li a{
	text-decoration:none;
    line-height: 20px;
    display: inline-block;
}
.center2 {
    width: 50%;
    padding: 10px;
}

.top-popup2 li a:hover, li a:focus
{
	color: #35AEC9; 
	background-color: #e6e6e6
}
.bold {
	font-weight: bold;
}
.normalWeight {
	font-weight: normal;	
}
.darkRedColor {
	color: 	#8B0000;
}
.redColor {
  	color: #ff0000;
}
.yellowColor {
  	color: #ffff00;
}
.greenColor {
  	color: #42E92E;
}

.sensor-view-headerRow {
	width: 100%;
	height: 30px;
	color: #4b4b4b; 
	background-color:#35AEC9;
	   	
	margin-top: 0px;
	padding-top: 0px ;
	
	padding-left:  0px;  	
	border-radius: 0px;
	
	border-style: solid;
    border-width: 0px 0px 0px 0px;
   	border-color: #35AEC9;
}

.sensor-view-dataRow {
	width: 100%;
	height: 30px;
	color: #4b4b4b; 
	background-color:#8edbed;
	   	
	margin-top: 0px;
	padding-top: 0px ;
	
	padding-left: 0px;  	
	border-radius: 0px;
	
	border-style: solid;
    border-width: 1px 1px 1px 1px;
   	border-color: #35AEC9;
}

.sensor-view-dataRow:hover {
   	background-color: #01dfd7;
   	cursor: pointer; cursor: hand;
}


.sensor-view-headerColumn {
    font-size: 16px;
	font-weight: normal;
	text-align: center;

	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px !important;
    padding-left: 0px;
    
}

.sensor-view-dataColumn {
    font-size: 16px;
	font-weight: normal;
	text-align: center;

	padding-top: 0px ;
    padding-right: 0px ;
    padding-bottom: 0px !important;
    padding-left: 0px;	
}


.sensor-view-dataColumn:hover {
   	background-color: #01dfd7;
   	cursor: pointer; cursor: hand;
}
.ui-grid-row {
   	font-size: 14px;
}
.ui-grid-header {
   	font-size: 14px;
}

.ui-grid-row:hover .ui-grid-cell {
   	background-color: #01dfd7;
   	cursor: pointer; cursor: hand;
}

.diagnosticSensorViewFont {
    font-size: 16px;
	font-weight: bold;
}

.diagnosticSensorViewFont2 {
    font-size: 16px;
	font-weight: normal;
}

.uiGridthemeHeaderColor {
	background-color:#cee9ef !important; 
    background-image: linear-gradient(to bottom, #8edbed, #2f96b4);
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #808080;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  top: 0px;
  bottom: 4px;
  background-color: #808080;
  border: 2px solid #808080;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 2px;
  bottom: 4px;
  background-color: #ddd;
  border: 1px solid #808080;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #01dfd7;

  
}

input:focus + .slider {
  box-shadow: 0 0 1px #01dfd7;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider2.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.slider2.round:before {
  border-radius: 50%;
}
.button.alert-postive2 {
  border-color: transparent;
  background-color: #DCDCDC;
 }
.button.alert-postive2:hover {
   border-color: #01DFD7;
   background-color: #01DFD7;
   cursor: pointer;
   text-decoration: none; }
.button.alert-postive2.active, .button.alert-postive2.activated {
   border-color: #01DFD7;
   background-color: #01DFD7; }
.button.alert-postive2.button-clear {
   border-color: transparent;
   background: none;
   box-shadow: none;
  }
.button.alert-postive2.button-icon {
   border-color: transparent;
   background: none; }
.button.alert-postive2.button-outline {
   border-color: #DCDCDC;
   background: transparent;
    }
.button.alert-postive2.button-outline.active, .button.alert-postive2.button-outline.activated {
	background-color: #DCDCDC;
   box-shadow: none;
   }

.table-curved {
    border-collapse:separate;
    border: solid #ccc 1px;
    border-radius: 5px;
}
.table-curved tr:last-child td
{
    border-bottom-left-radius: 25px;    
    border-bottom-right-radius: 25px;   
}

.ngdialog-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height:100%;
}
.my-dialog{
  width:400px;
  background:#fff;
  border:1px solid #000;
  margin:0 auto; /*center dialog horizontally*/
  position: relative;
}
.markerInfoWindow
{
    height: 800px;
    width: 300px;
}
.cellPopover {
    overflow: visible;
}

