.starbtn{
	text-decoration:none;
	font-size:16px;
}

.starbtn:a{
	text-decoration:none;
	font-size:16px;
}

.starbtn:hover {
	text-decoration:none;
	background-color: #cccccc;
}

.searchbox{
	width: 160px;
	background-color: white;
	color:#000000;
}

.searchbox:focus{
	background-color: white;
	color:#000000;
}

.closebtn{
	text-decoration:none;
	font-size:16px;
}

.closebtn:a {
	text-decoration:none;
	background-color: #cccccc;
}

.closebtn:hover {
	text-decoration:none;
	background-color: #cccccc;
}

.module-item
{
	font-weight: normal;
	font-size: 20px;
}

.menu-item{
	text-indent: 0px;
	font-size: 16px;
}

.gemsNav ul{
	list-style:none;
	margin: 0;
	padding: 0 0px;
	border-bottom: 1px solid  #b3b3b3;
}

.gemsNav li{
	overflow: hidden;
	border-top:  1px solid  #b3b3b3;
}

.gemsNav li a{
	text-decoration:none;
	padding: 5px 10px;
	display:block;
}

.gemsNav li a:hover, li a:focus
{
	background-color: #01dfd7 !important;
	color:white!important;
}

.gemsNav li:last-child{
	border-bottom:none;
}