.mainTop-p{
	vertical-align: center;
	display:inline;
}

.mainTop-icon {
	width: 16px;
	height: 16px;	
}

.mainTop-icon-menu {
	width: 20px;
	height: 20px;	
}

.mainTop-icon-add {
	width: 20px;
	height: 20px;	
}

.mainTop-page-icon {
	width: 12px;
	height: 12px;	
}

.mainTop-title {
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 15px;
}

.mainTop-pageNo{
	line-height:10px;
	text-align:right;
}

.mainTop-text-goto {
	font-size: 12px;
	color: #000000;
	padding-left: 20px;
	padding-right: 5px;
}

.mainTop-left{
	float:left !important;

}

.mainTop-right{
	float:right !important
}

.mainTop-btn{
	 background-color: #f2f2f2; 
	 border: 1px solid #b3b3b3;
	 border-radius: 3px;
}

.mainTop-btn:hover {
	box-shadow: 0px 5px 2px #999999;
}


