/* Bar Top */
.top-logo {
	height: 40px;
	display:block;
}

.top-icon {
	width: 20px;
	hight: 20px;
}

.top-links {
	width: auto;
	float: right;
}

.top-text {
	font-size: 30px;
	color: #555555;
	font-weight: bold;
}
.child {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
}
.top-left{
	float:left !important
}

.top-right{
	float:right !important
}
.top-center{
	float:center !important
}

.top-popup {
	font-size: 12px;
}

.top-popup ul{
	list-style:none;
	margin: 0;
	padding: 0 0px;
}

.top-popup li a{
	text-decoration:none;
	padding: 2px 5px;
	display:block;
}

.top-popup li a:hover, li a:focus
{
	background-color: #e6e6e6
}
.
.verticalAlign { 
  line-height:3em;
  padding: 0px;
  margin: 0px;
}
/* End Bar Top */