
/* for file browser button  */ 
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}



.gems-test{
	border: 1px solid #248925;

}

.mainContent-separator{
	border-top: 1px solid #b3b3b3;
}

.mainContent-separator-light{
	border-top: 1px solid #e6e6e6;
}

.mainContent-btn{
	 background-color: #ffffff; 
	 border: 1px solid #b3b3b3;
	 border-radius: 3px;
}

.mainContent-btn:hover {
	box-shadow: 0px 5px 2px #cccccc;
	
}

.form-icon
{
	width: 10px;
	height: 10px;
}

.row-padding
{
	 padding:10px 10px;
}

.row-padding-LR
{
	 padding:0px 10px;
}

.state-bar
{
	  width: 25%;
}

.state-bar-group
{
	  width: 100%;
}

.gems-form-control
{
	display:block;
	line-height:34px;
	height: 34px;
}

.state-icon{
	width:20px;
	padding-left: 1px;
}

.state-popup-icon{
	width:10px;
}


/* Tabs ====================================*/
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
    
}

/**********
.tabs-nav {
list-style: none;
margin: 0;
overflow: hidden;
padding: 0;
width: 100%;
}

.tabs-nav li {
float: left;
line-height: 38px;
overflow: hidden;
padding: 0;
position: relative;

}

.tabs-nav li a {
background-color: #f8f8f8;
border: 1px solid #e0e0e0;
border-right: none;
color: #888;
font-weight: 500;
display: block;
letter-spacing: 0;
outline: none;
padding: 0 20px;
text-decoration: none;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
} 

.tabs-nav li:first-child a { border-left: 1px solid #e0e0e0; }
.tabs-nav li:last-child a { border-right: 1px solid #e0e0e0; }

.tabs-nav li.active a { color: #333; font-weight: 500; }
.tabs-nav li.active i:before  { color: #555; }

.tabs-nav li i:before { color: #909090; }
.tabs-nav li span { margin-left: -7px; }
.tabs-nav li.active a i {opacity: 1; filter: alpha(opacity=100);}
.tabs-nav li i {opacity: 0.64; filter: alpha(opacity=64); margin: 10px 0 0 0; }

.tabs-nav li a:hover  { background: #fff; }

.tabs-nav li.active a {
background: #fff;
border-bottom: 1px solid #fff;
}

.tab-content {padding: 20px;}
.shop-page .tab-content table p,
.tab-content p { margin: 0px;}
.shop-page .tab-content p {
margin-bottom: 20px;
}
.tabs-container {
border: 1px solid #e0e0e0;;
margin: -1px 0 20px;
overflow: hidden;
width: 100%;
line-height: 21px;
-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}
/* End Tabs ====================================*/


/* Multistep  ====================================*/
/* See below for SASS (allows you easily set dot radius and progress bar thickness and adjusts everything else! */
.multistep .multistep-step {
    padding: 0;
    position: relative;
    margin-bottom: 10px;
}

    .multistep .multistep-step .multistep-stepname {
        margin-bottom: 16px;
        color: #595959;
        font-size: 1.6rem;
        white-space: nowrap;
    }

    .multistep .multistep-step .multistep-dot {
        position: absolute;
        right: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        display: block;
        margin-top: -16px;
        margin-left: -15.5px;
        border-radius: 50%;
        background: #f5f5f5;
        /* Inner Dot */
    }

        .multistep .multistep-step .multistep-dot:after {
            content: ' ';
            border-radius: 50px;
            position: absolute;
            top: 8px;
            bottom: 8px;
            left: 8px;
            right: 8px;
            background: #e0e0e0;
        }

    .multistep .multistep-step .progress {
        position: absolute;
        width: 100%;
        height: 10.56px;
        margin-top: -5.28px;
        box-shadow: none;
        border-radius: 0;
    }

        .multistep .multistep-step .progress .progress-bar {
            width: 0px;
            box-shadow: none;
            background: #91DC5A;
        }

    .multistep .multistep-step:first-child > .progress {
        left: 50%;
        width: 50%;
    }

    .multistep .multistep-step:last-child > .progress {
        width: 50%;
    }

    .multistep .multistep-step.complete .multistep-dot {
        background: #91DC5A;
    }

        .multistep .multistep-step.complete .multistep-dot:after {
            background: #408000;
        }

    .multistep .multistep-step.complete .progress > .progress-bar {
        width: 100%;
    }

    .multistep .multistep-step.next:hover .multistep-dot {
        background: #91DC5A;
    }

        .multistep .multistep-step.next:hover .multistep-dot:after {
            background: #408000;
        }

    .multistep .multistep-step.current .multistep-dot {
        background: #91DC5A;
    }

        .multistep .multistep-step.current .multistep-dot:after {
            background: #ff8000;
        }

    .multistep .multistep-step.current .progress > .progress-bar {
        width: 50%;
    }

    .multistep .multistep-step.current:first-child > .progress > .progress-bar {
        width: 0%;
    }

    .multistep .multistep-step.current:last-child > .progress > .progress-bar {
        width: 100%;
    }

    .multistep .multistep-step a.multistep-dot {
        pointer-events: none;
    }

    .multistep .multistep-step.next a.multistep-dot {
        pointer-events: all;
    }
    
    
/* SASS
$inactiveColor: #f5f5f5;
$inactiveDotColor: #e0e0e0;
$activeColor: #fbe8aa;
$activeDotColor: #fbbd19;
$stepNameColor: #595959;
$dotRadius: 16px;
$barThickness: $dotRadius * .66;
$stepNameSize: 1.6rem;

.multistep {
    .multistep-step {
        padding: 0;
        position: relative;
        margin-bottom: 10px;

        .multistep-stepname {
            margin-bottom: $dotRadius;
            color: $stepNameColor;
            font-size: $stepNameSize;
            white-space: nowrap;
        }

        .multistep-dot {
            position: absolute;
            right: 50%;
            left: 50%;
            width: $dotRadius * 2;
            height: $dotRadius * 2;
            display: block;
            margin-top: -$dotRadius;
            margin-left: -$dotRadius + .5;
            border-radius: 50%;
            background: $inactiveColor;
            &:after {
                content: ' ';
                border-radius: 50px;
                position: absolute;
                top: $dotRadius / 2;
                bottom: $dotRadius / 2;
                left: $dotRadius / 2;
                right: $dotRadius / 2;
                background: $inactiveDotColor;
            }
        }

        .progress {
            position: absolute;
            width: 100%;
            height: $barThickness;
            margin-top: -$barThickness / 2;
            box-shadow: none;
            border-radius: 0;

            .progress-bar {
                width: 0px;
                box-shadow: none;
                background: $activeColor;
            }
        }

        &:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        &:last-child > .progress {
            width: 50%;
        }

        &.complete {
            .multistep-dot {
                background: $activeColor;

                &:after {
                    background: $activeDotColor;
                }
            }

            .progress > .progress-bar {
                width: 100%;
            }
        }

        &.next:hover {
            .multistep-dot {
                background: $activeColor;
            }

            .multistep-dot:after {
                background: $activeDotColor;
            }
        }

        &.current {
            .multistep-dot {
                background: $activeColor;

                &:after {
                    background: $activeDotColor;
                }
            }

            .progress > .progress-bar {
                width: 50%;
            }

            &:first-child > .progress > .progress-bar {
                width: 0%;
            }

            &:last-child > .progress > .progress-bar {
                width: 100%;
            }
        }

        a.multistep-dot {
            pointer-events: none;
        }

        &.next a.multistep-dot {
            pointer-events: all;
        }
    }
}
End ====================================*/


