
.app-img{
   	width:100px;
}

.app-text
{
	font-size: 12px;
	cursor: pointer;
}

.app-p a
{
	cursor: pointer;
	text-decoration: none;
}

.app td{
	padding: 5px 5px;
}

.app div{
	 border: 0px solid #b3b3b3;
	 width: 150px;
	 text-align:left;
}

.homepage-img {
    float: left;
    margin: 0 15px 10px 10px;
}

.homepage-text
{
	font-weight: bold;
	font-size: 130%;
	cursor: pointer;
}

.homepage-p a
{
	cursor: pointer;
	text-decoration: none;
}

.homepage td{
	padding: 5px 5px;
}

.homepage div{
    border-radius: 8px;
    border: 2px solid #b3b3b3;
    padding: 20px; 
    min-width: 300px;
    height: 120px;
}

/*******
.homepage ul{
	list-style:none;
	margin: 0;
	padding: 0 0px;
	border-bottom: 1px solid  #b3b3b3;
}

.homepage li{
	overflow: hidden;
	border-top:  1px solid  #b3b3b3;
}

.homepage li a{
	text-decoration:none;
	padding: 5px 10px;
	display:block;
}

.homepage li a:hover, li a:focus
{

}

.homepage li:last-child{

}
******/