* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #278ea5;
padding: 50px;
}
.login {
margin: 20px auto;
width: 400px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #b3b3b3;
box-shadow: none;
}

.btn {
  border: 0px solid transparent;
  border-radius: 20px;
  background: #35aec9;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;   
}

.btn:hover {
  background-color: #01DFD7;
}

.login-link {
  font-size: 12px;
  color: #191919;
  display: block;
  margin-top: 12px;
}

.power-link {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.button-small2{
  min-width: 40px;
  width: 10px;
  padding:0px 0px 0px 0px;
}
.button.button-login {  
  border: 0px;
  border-radius:2px;
  border-color: transparent;
  background-color: #35AEC9;
  color: #fff; }
.button.button-login:hover {
  border-color: transparent;
  background-color: #01DFD7;
  color: #fff;
  cursor: pointer;  
}
.button.button-login:hover {
    color: #fff;
    text-decoration: none; }
.button.button-login.active, .button.button-login.activated {
    border-color: #01DFD7;
    background-color: #01DFD7; }
.button.button-login.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #35AEC9; }
.button.button-login.button-icon {
    border-color: transparent;
    background: none; }
.button.button-login.button-outline {
    border-color: #35AEC9;
    background: transparent;
    color: #35AEC9; }
.button.button-login.button-outline.active, .button.button-login.button-outline.activated {
	background-color: #35AEC9;
    box-shadow: none;
    color: #fff; }