.gemsTop {
    top: 0;
    width: 100%;
    height: 50px;
    padding-right: 10px;
}

.gemsNavTop {
 	position: fixed !important;
    top: 50px;
    left: 0px;
    height: 45px;
 	width: 230px;
 	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
} 

.gemsNav{
    position: fixed !important;
    top: 50px;
    bottom: 0px;
    width: 230px;
    overflow: scroll;
}

.gemsMain {
 	position: fixed !important;
 	top: 50px;
 	bottom: 0px;
	Left: 0px;
	right: 0px;
	overflow: scroll;
} 

.gemsContentTop {
	position: absolute !important;
	left: 0px;
	right: 0px;
 	height: 45px;
} 

.gemsContent {
    padding: 50px 10px;
} 

.gemsContentWithoutTop {
    padding: 10px 10px;
} 

