.gemsTop-style {
	border-bottom:3px solid #666666;
    background-color: #e6e6e6 !important;
	line-height: 50px;
}

.gemsTop-style a {
	float: left !important;
	padding:0 8px;
	border-bottom:2px solid transparent;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	text-decoration:none !important;
}

.gemsTop-style a:hover {
	background-color: white;
	color: #33CCCC;
}

.gemsNavTop-style {
    background-color: white;
    border-right: 2px solid  #b3b3b3;
    border-bottom:1px solid #b3b3b3;
    z-index: 1;
} 

.navTop-icon {
	width: 20px;
	hight: 20px;
}

.gemsNav-style{
    border-right: 2px solid  #b3b3b3;
    background-color: white;
}

.gemsMain-style {
    background-color: white;
    background-size: cover;
} 

.gemsContentTop-style {
    border-bottom: 1px solid #b3b3b3;
    background-color: #e6e6e6;
	line-height: 42px;
	padding-left:5px;
	padding-right:5px;
	overflow: auto;
} 

.gemsContent-style {
    background-color: white;
} 

.gemsContentTop-style a {
	padding: 20px 5px;
	border-bottom:2px solid transparent;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	text-decoration:none !important;
}

.gemsContentTop-style a:hover {
	background-color: #cccccc;
	color: #33CCCC;
}

html,body{font-family:"Segoe UI",sans-serif;font-size:12px;line-height:1.5}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
a{color:inherit}
table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
table,th,td{border:none}
@font-face { font-family: Varela Round; src: url('../font/VarelaRound-Regular.otf'); }

/* End All Fonts */

/* LEFT */
.gen-animate-left{
position:relative;-webkit-animation-name:animateleft;-webkit-animation-duration:0.4s;animation-name:animateleft;animation-duration:0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
/* End LEFT*/
