
.app-img{
   	width:40px;
}

.app-text
{
	font-size: 100%;
	cursor: pointer;
}

.app-p a
{
	cursor: pointer;
	text-decoration: none;
}

.app td{
	padding: 15px 15px;
}

.app div{
	 border: 0px solid #b3b3b3;
	 width: 50px;
	 text-align:center;
}

.sampleChart-img {
    float: left;
    margin: 20 15px 10px 10px;
}

.sampleChart-text
{
	font-weight: bold;
	font-size: 130%;
	cursor: pointer;
}

.sampleChart-p a
{
	cursor: pointer;
	text-decoration: none;
}

.sampleChart td{
	padding: 20px 20px;
}

.sampleChart div{
    border-radius: 8px;
    border: 2px solid #b3b3b3;
    padding: 20px; 
    min-width: 200px;

}

/*******
.sampleChart ul{
	list-style:none;
	margin: 0;
	padding: 0 0px;
	border-bottom: 1px solid  #b3b3b3;
}

.sampleChart li{
	overflow: hidden;
	border-top:  1px solid  #b3b3b3;
}

.sampleChart li a{
	text-decoration:none;
	padding: 5px 10px;
	display:block;
}

.sampleChart li a:hover, li a:focus
{

}

.sampleChart li:last-child{

}
******/