<!DOCTYPE html>
	
	<div id="mainTop" class="gemsContentTop gemsContentTop-style" ng-init="">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left"> 
				<button class="btn mainTop-btn" type="button" ng-click="#"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Controls" >☰</button>
			</div>
			<div class="mainTop-left">
				<p class="mainTop-title">System Properties &#10137; UI Properties</p>
			</div>
		</form>
		<div class="mainTop-right">
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="" uib-tooltip="Update" >Update</button>
		</div>	
	</div>
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-12">
				Default Language: <select ng-model="" class="form-control"><option>English</option></select><br>
				Table [No. of Records per Page]: <select ng-model="" class="form-control"><option>10</option></select><br>
			</div>
		</div>  
		<div class="row row-padding">
			<div class="col-md-12">
          		<button class="btn mainContent-btn" type="button" ng-click="">Update</button>
          		<button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>
	</div>