<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Purchase Request [XXXXXX]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#"  tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Delete" >Delete</button>
			<button class="btn btn-primary" type="button" ng-click="">Next</button>
		    <button class="btn btn-primary" type="button" ng-click="">Feedback</button>
		</div>	
	</div>

	<div class="gemsContent gemsContent-style">
	<div class="form-group">
		<div class="row row-padding">
		        <div class="col-md-12">
		        Attachment(1): <a><img src="./img/normal/file.png" class="state-icon">quotation.doc</a> 
		        </div>
		    </div>
			<div class="row row-padding-LR mainContent-separator">
		        <div class="col-md-12">
		        </div>
		    </div>
			<div class="row row-padding">
		        <div class="col-md-12">Flow: Purchase Request
			        <div class="row multistep">
				        <div class="col-xs-3 multistep-step complete">
				            <div class="text-center multistep-stepname">Creating</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step current">
				            <div class="text-center multistep-stepname">Submitted for Review</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Pending for Approval</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Completed</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				    </div>
		        </div>
			</div>
		<div class="row row-padding">
			<div class="col-md-6">
				ID: <input type="text" ng-model="" class="form-control" readonly><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Code:<input type="text" ng-model="" class="form-control"><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Type:<select ng-model="type" class="form-control" ng-options="" ><option>CAPEX</option><option>OPEX</option><option>KEY</option></select><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Currency:<select ng-model="currency" class="form-control" ng-options=""><option>HKD</option><option>USD</option></select><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Total Budget:<input type="text" ng-model="" class="form-control"><br>
				Description:<textarea  class="form-control" ng-model="myTextAreas" ></textarea><br>
			</div>
	        <div class="col-md-6">
				Status: <select ng-model="status" class="form-control" ng-options="" ><option>Active</option></select><br>
				State: <div class="gems-form-control">
					<img src="./img/normal/collapse.png" class="state-popup-icon">
					<img src="./img/normal/done.png" class="state-icon">
					<img src="./img/normal/current.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
					</div><br>
				Committed Amount:<input type="text" ng-model="" class="form-control"><br>
				Settlement Code:<input type="text" ng-model="" class="form-control"><br>
				Settlement Date:<input type="text" ng-model="" class="form-control"><br>
				Remark: <textarea  class="form-control" ng-model="myTextAreas" ></textarea><br>
	        </div>
		</div> 	 
		<div class="row row-padding">
			<div class="col-md-12">
				<uib-tabset active="active" class="nav-tabs" >
		        	<uib-tab index="0" heading="CAPEX">
		        		<div class="row row-padding">
					        <div class="col-md-6">
					        <img src="./img/normal/mandatory.png" class="form-icon"> SAS Code:<input type="text" ng-model="" class="form-control"><br>
					        Project Name:<input type="text" ng-model="" class="form-control"><br>
					        Project Manager:<input type="text" ng-model="" class="form-control"><br>
					        Business Manager:<input type="text" ng-model="" class="form-control"><br>
					        Sponsorship:<input type="text" ng-model="" class="form-control"><br>
							</div>
					        <div class="col-md-6">
					        Project Status:<input type="text" ng-model="" class="form-control"><br>
					        Target Start Date:
							<div class="input-group">
					           <input type="text" class="form-control" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
					        </div><br>
					        Target Completion Date:
							<div class="input-group">
					           <input type="text" class="form-control" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
					        </div><br>
					        <img src="./img/normal/mandatory.png" class="form-icon"> Total Mandays:<input type="text" ng-model="" class="form-control"><br>
					        </div>
						</div>
		        	</uib-tab>
		        	<uib-tab index="1" heading="OPEX">
		        		<div class="row row-padding">
					        <div class="col-md-6">
					        <img src="./img/normal/mandatory.png" class="form-icon">Main Category :<select ng-model="main" class="form-control" ng-options=""><option>COMM</option><option>IT</option></select><br>
					        <img src="./img/normal/mandatory.png" class="form-icon">Category:<select ng-model="main" class="form-control" ng-options=""><option>Data Communication</option><option>Market Data</option></select><br>
					        </div>
					        <div class="col-md-6">
					        <img src="./img/normal/mandatory.png" class="form-icon">Sub Category:<select ng-model="main" class="form-control" ng-options=""><option>Dataline - Domestic</option><option>Software - Maintenance</option></select><br>
					        </div>
						</div>
		        	</uib-tab>
		        	<uib-tab index="2" heading="Key Project">
		        		<div class="row row-padding">
					        <div class="col-md-6">
					        <img src="./img/normal/mandatory.png" class="form-icon">Main Category :<select ng-model="main" class="form-control" ng-options=""><option>COMM</option><option>IT</option></select><br>
					        <img src="./img/normal/mandatory.png" class="form-icon">Category:<select ng-model="main" class="form-control" ng-options=""><option>Data Communication</option><option>Market Data</option></select><br>
					        <img src="./img/normal/mandatory.png" class="form-icon">Sub Category:<select ng-model="main" class="form-control" ng-options=""><option>Dataline - Domestic</option><option>Software - Maintenance</option></select><br>
					        <img src="./img/normal/mandatory.png" class="form-icon"> SAS Code:<input type="text" ng-model="" class="form-control"><br>
					        Project Name:<input type="text" ng-model="" class="form-control"><br>
							Project Manager:<input type="text" ng-model="" class="form-control"><br>
					        </div>
					        <div class="col-md-6">
					        Business Manager:<input type="text" ng-model="" class="form-control"><br>
					        Sponsorship:<input type="text" ng-model="" class="form-control"><br>
					        Project Status:<input type="text" ng-model="" class="form-control"><br>
					        Target Start Date:
					        <div class="input-group">
					           <input type="text" class="form-control" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
					        </div><br>
					        Target Completion Date:
					        <div class="input-group">
					           <input type="text" class="form-control" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
					        </div><br>
					        <img src="./img/normal/mandatory.png" class="form-icon"> Total Mandays:<input type="text" ng-model="" class="form-control"><br>
					        </div>
						</div>
		        	</uib-tab>
		        </uib-tabset>
	        </div>
		</div>
	   <div class="row row-padding">
	        <div class="col-md-6">
	          <button class="btn mainContent-btn" type="button" ng-click="">Update</button>
	          <button class="btn mainContent-btn" type="button" ng-click="">Delete</button>
			</div>
			<div class="col-md-6">
	          	<button class="btn btn-primary" type="button" ng-click="">Next</button>
	          	<button class="btn btn-primary" type="button" ng-click="">Feedback</button>
			</div>
		</div>
			<div class="row row-padding"></div>
			<div class="row row-padding mainContent-separator">
		        <div class="col-md-12">
		        <h4>Related Items</h4>
		        </div>
		    </div>
		<div class="row row-padding">
			<div class="col-md-12">
				<uib-tabset active="active" class="nav-tabs" >
		        	<uib-tab index="0" heading="Budgets">
		        		Todo: List of Budget with this PR<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="1" heading="Projects">
		        		Todo: List of Project with this PR<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        </uib-tabset>
	        </div>
		</div>
		
		<div class="row row-padding">
			<div class="col-md-12">
				
	        </div>
		</div>
	</div>
</div>
