<!DOCTYPE html>
	
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left"> 
				<button class="btn mainTop-btn" type="button" ng-click="#"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Controls" >☰</button>
			</div>
			<div class="mainTop-left">
				<p class="mainTop-title">Purchase Request &#10137; My Request</p>
			</div>
			<div class="mainTop-left"> 
				<a href="javascript:void(0)" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Create New" onclick="window.location='#/PRManagement/CreateNew'">
				<img src="./img/normal/add.png" class="mainTop-icon-add"></a>
			</div>
			<div class="mainTop-left"> 
				<p class="mainTop-p mainTop-text-goto">Go to</p>
			</div>
			<div class="mainTop-left">
				<select class="form-control"><option>ID</option><option>Number</option></select>
				<input type="text" name="searchValue" class="form-control" size="10" placeholder="Search"/>
			</div>
		</form>
		<div class="mainTop-right">
			<a href="#"><img src="./img/normal/reload.png" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Reload" class="top-icon"></a>	
			<a href="#"><img src="./img/normal/first.png" class="mainTop-page-icon"></a>
			<a href="#"><img src="./img/normal/previous.png" class="mainTop-page-icon"></a>
			<input type="text" name="pageNo" size="4" value="1" class="mainTop-pageNo"/>
			<p class="mainTop-p">to 30 of 30</p>
			<a href="#"><img src="./img/normal/next.png" class="mainTop-page-icon"></a>
			<a href="#"><img src="./img/normal/last.png" class="mainTop-page-icon"></a>
		</div>
	</div>		

	
	<div class="gemsContent gemsContent-style">
		ToDo: My Purchase Request Table here<br>
		<a href="javascript:void(0)" onclick="window.location='#/PRManagement/Edit/2'">Edit</a>
		<div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		<select class="form-control" ng-model="userGridAction" ng-options="g.name for g in gridActions" style="width:200px;"></select>
	</div>