<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			 uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'USERS'|translate}} [{{sensorConfigTitle|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="createUserOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['ADMINISTRATION_USERS']!=3">{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" ng-if="sensorConfigTitle=='EDIT_RECORD' && currentPermission['ADMINISTRATION_USERS']==1"
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="removeUser(user.id)" uib-tooltip="Delete" >{{'DELETE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['ADMINISTRATION_USERS']!=3">{{'CANCEL'|translate}}</button>
		</div>	
		
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-3">
	        	<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid }">
					{{'LOGIN_ID'|translate}}: <input name="username" type="text" ng-model="user.username" class="form-control" required ng-readonly="user.id>0">
					<p ng-show="userForm.username.$error.required" class="help-block">{{'LOGIN_ID_IS_REQUIRED'|translate}}</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid }">
					{{'NAME'|translate}}:<input name="username" type="text" ng-model="user.name" class="form-control" required>
					<p ng-show="userForm.username.$error.required" class="help-block">{{'NAME_IS_REQUIRED'|translate}}</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.group.$invalid }">
					{{'GROUPS'|translate}}:<select name="group" ng-model="user.groupId" class="form-control" ng-options="d.id as d.name for d in groupList" required></select>
					<p ng-show="userForm.group.$error.required" class="help-block">{{'GROUP_IS_REQUIRED'|translate}}</p>
				</div>		
				<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid }">
					{{'PASSWORD'|translate}}:<input name="password" type="password" ng-model="password" class="form-control" required>
					<p ng-show="userForm.password.$error.required" class="help-block">{{'PASSWORD_IS_REQUIRED'|translate}}</p>
				</div>				
			</div>
	        <div class="col-md-3">
	        	<div class="form-group">{{'EMAIL'|translate}}:<input type="text" ng-model="user.email" class="form-control"></div>
				<div class="form-group">{{'PHONE'|translate}}:<input type="text" ng-model="user.phone" class="form-control"></div>
				<div class="form-group">{{'TITLE'|translate}}:<input type="text" ng-model="user.title" class="form-control"></div>
				<div class="form-group">{{'DEPARTMENT'|translate}}:<input type="text" ng-model="user.department" class="form-control"></div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.active">{{'ACTIVE'|translate}}
					</label>
				</div> 	
	
	<!-- 			User photo:	      
				<div class="fileUpload btn mainContent-btn">
	   				<span>Select</span>
					<input class="upload" type="file" ngf-select ng-model="newImage" name="file" accept="image/*" ngf-max-size="10MB" required
		             	ngf-model-invalid="errorFile"  id="file" >
		        </div>
		        <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="newImage">Remove</button>
		        <br>
		        <img  ngf-thumbnail="newImage" width="80px" ng-show="newImage"> <br> -->
			</div>
		</div>    
</form>