<!DOCTYPE html>

<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<span class="mainTop-span"><button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button></span>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-p mainTop-title">User-Role Maintenance (User ID = {{ editUserId }})</p>
		</div>
		
		<div class="mainTop-right">	
			<span class="mainTop-span"><a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Setting" ><img src="./img/normal/setting.png" class="mainTop-icon"></a></span>
			<span class="mainTop-span"><button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button></span>
		</div>	
	</div>

	<div id="main" class="gemsContent gemsContent-style" >
		<table>
			<tr>
				<td>
					<h4>Available Roles</h4>
			        <div ui-grid="userRoleUnassignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
			    </td>
				<td>
					<div style="vertical-align: middle; text-align: center;">
			            <button class="btn mainContent-btn" type="button" ng-click="assignAllRole()" style="margin: 5px;">&gt;&gt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="assignRole()" style="margin: 5px;">&gt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="unassignRole()" style="margin: 5px;">&lt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="unassignAllRole()" style="margin: 5px;">&lt;&lt;</button><br>
			        </div>
				</td>
				<td>
					<h4>Assigned Roles</h4>
			        <div ui-grid="userRoleAssignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
				</td>
			</tr>
		</table>
		<div style="padding-top:20px">
            <button class="btn mainContent-btn" type="button" ng-click="editUserRoleOk()">Update</button>
        </div>
	</div>
	
		
<!-- 
<div id="userMain" style="padding-left: 20px;">
	<div style="margin-top: 10px;">
		<div class="modal-header">
            <h3 class="modal-title">
            	<button class="btn btn-primary" type="button" ng-click="userEditCancel(editUserId)">&lt;</button> User-Role Maintenance (User ID = {{ editUserId }})
            </h3>
        </div>
        <div class="col-xs-5 col-sm-offset-1 col-xs-offset-1">
        	<div style="display: table; width:100%;">
				<div style="display: table-row;">
					<h3>Available Roles</h3>
		        	<div ui-grid="userRoleUnassignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
			        <div style="position: relative; padding-left: 15px; vertical-align: middle; display: table-cell; text-align: center;">
			            <button class="btn btn-primary" type="button" ng-click="assignAllRole()" style="margin: 5px;">&gt;&gt;</button><br>
			            <button class="btn btn-primary" type="button" ng-click="assignRole()" style="margin: 5px;">&gt;</button><br>
			            <button class="btn btn-primary" type="button" ng-click="unassignRole()" style="margin: 5px;">&lt;</button><br>
			            <button class="btn btn-primary" type="button" ng-click="unassignAllRole()" style="margin: 5px;">&lt;&lt;</button><br>
			        </div>
			    </div>
			</div>
        </div>
        <div class="col-xs-5">
        	<div style="display: table; width:100%;">
				<div style="display: table-row;">
					<h3>Assigned Roles</h3>
		        	<div ui-grid="userRoleAssignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
			        <div style="position: relative; padding-left: 15px; vertical-align: middle; display: table-cell;">
			        </div>
			    </div>
			</div>
        </div>
        <div class="col-xs-12" style="text-align: right;">
            <button class="btn btn-primary" type="button" ng-click="editUserRoleOk()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="userEditCancel(editUserId)">Cancel</button>
        </div>
	</div>
</div>
 -->