<!DOCTYPE html>

<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
	<div class="mainTop-left">
		<p class="mainTop-title">User Password Reset [{{editUserLoginId}}]</p>
	</div>
		
	</div>
	<div id="main" class="gemsContent gemsContent-style">
		<div class="row row-padding">
	        <div class="col-md-6">
				{{'TXT_LOGIN'|translate}} Id: <input type="text" ng-model="editUserLoginId" class="form-control" readonly><br>
				{{'TXT_PASSWORD'|translate}}:<input type="password" ng-model="formData.displayPassword" class="form-control"><br>
			</div>
	   </div> 
		<div class="row row-padding">
			<div class="col-md-12">
				<button type="button" class="btn mainContent-btn" ng-click=confirm(formData)>Reset Password</button>
				<button hidden="true" type="button" class="btn mainContent-btn" ng-click=closeThisDialog("Cancel")>Cancel</button>
	        </div>
		</div>
 </div>