<!DOCTYPE html>

<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
	<div class="mainTop-left">
		<p class="mainTop-title">{{'PROFILE'|translate}} [{{editUserLoginId}}]</p>
	</div>
		
	</div>
	<div id="main" class="gemsContent gemsContent-style" style="padding: 50px 0px 0px 10px;">
		<div class="row row-padding">
	        <div class="col-md-6">
				{{'TXT_LOGIN'|translate}} Id:<input type="text" ng-model="editUserLoginId" class="form-control" readonly><br>
				{{'DEFAULT_LANGUAGE'|translate}}: <select ng-model="formData.language" class="form-control" 
				ng-options="languageOption as languageOption.label for languageOption in languageOptions track by languageOption.locale" ></select>
			</div>
	   </div> 
		<div class="row row-padding">
			<div class="col-md-6" style="padding-top: 0px; padding-bottom: 0px;">
				<button type="button" class="btn mainContent-btn" ng-click=confirm(formData)>{{'SAVE'|translate}}</button>
				<button type="button" class="btn mainContent-btn" ng-click=closeThisDialog("Cancel")>{{'CANCEL'|translate}}</button>
	        </div>
		</div>
 </div>