<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<span class="mainTop-span"><button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button></span>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-p mainTop-title">User-Group Maintenance (User ID = {{ editUserId }})</p>
		</div>
		
		<div class="mainTop-right">	
			<span class="mainTop-span"><a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a></span>
			<span class="mainTop-span"><button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button></span>
		</div>	
	</div>


	<div id="main" class="gemsContent gemsContent-style" >
		<table>
			<tr>
				<td>
					<h4>Available Groups</h4>
			        <div ui-grid="userGroupUnassignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
			    </td>
				<td>
					<div style="vertical-align: middle; text-align: center;">
			            <button class="btn mainContent-btn" type="button" ng-click="assignAllGroup()" style="margin: 5px;">&gt;&gt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="assignGroup()" style="margin: 5px;">&gt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="unassignGroup()" style="margin: 5px;">&lt;</button><br>
			            <button class="btn mainContent-btn" type="button" ng-click="unassignAllGroup()" style="margin: 5px;">&lt;&lt;</button><br>
			        </div>
				</td>
				<td>
					<h4>Assigned Groups</h4>
			       <div ui-grid="userGroupAssignedGridOption" ui-grid-selection ui-grid-auto-resize class="grid"></div>
				</td>
			</tr>
		</table>
		<div style="padding-top:20px">
            <button class="btn mainContent-btn" type="button" ng-click="editUserGroupOk()">Update</button>
        </div>
	</div>

<!-- 
<div id="userMain" style="padding-left: 20px;">
	<div style="margin-top: 10px;">
		<div class="modal-header">
            <h3 class="modal-title">
            	<button class="btn btn-primary" type="button" ng-click="userEditCancel(editUserId)">&lt;</button> User-Group Maintenance (User ID = {{ editUserId }})
            </h3>
        </div>
        
	</div>
</div>

 -->