<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
	<div class="mainTop-left">
		<p class="mainTop-title">{{'UPDATE_HEART_BEAT'|translate}}</p>
	</div>
		
	</div>
	<div id="main" class="gemsContent gemsContent-style">
		<div class="row row-padding">
	        <div class="col-md-6">
			  {{'DEVICE_ADDR'|translate}}:<input type="text" ng-model="deviceToConfig.deviceAddress" class="form-control" readonly><br>
			    {{'ROUTER_ID'|translate}}:<input type="text" ng-model="deviceToConfig.routerId" class="form-control" readonly><br>
			      {{'CORD_ID'|translate}}:<input type="text" ng-model="deviceToConfig.cordId" class="form-control" readonly><br>
		      {{'PARENT_ADDR'|translate}}:<input type="text" ng-model="deviceToConfig.parentAddress" class="form-control" readonly><br>
        {{'HEART_BEAT_IN_SECS'|translate}}:<input type="text" ng-model="formData.measurePeriod" class="form-control"><br>
		</div>
	   </div> 	
	   <div class="row button-padding center1">
			<button type="button" class="btn mainContent-btn" ng-click=confirm(formData) ng-if="currentPermission['UPDATE_HEART_BEAT']<3">{{'SEND_TO_ROUTER'|translate}}</button>
			&nbsp;
			<button type="button" class="btn mainContent-btn" ng-click=closeThisDialog("Delete") ng-if="formData.connected==false&&currentPermission['UPDATE_HEART_BEAT']==1">{{'DELETE_FROM_NETWORK'|translate}}</button>
			&nbsp;
			<button type="button" class="btn mainContent-btn" ng-click=closeThisDialog("Cancel")>{{'CANCEL'|translate}}</button>
		</div>
 </div>