<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{"DIAGNOSTIC_TABLE_VIEW" | translate}}</p>
		</div>		
		<div class="mainTop-left">
			<input type="checkbox" ng-model="realTime" ng-disabled="searched==false" ng-click="toggleRealTime()" class="checkbox">&nbsp;{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
		</div> 	
	</form>
</div>		


<form name="applicationForm" class="gemsContent gemsContent-style">
	<div class="grid" ui-grid="gridOptions" ui-grid-selection  ui-grid-exporter ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()" ></div>
</form>

<script type="text/ng-template" id="popover1.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;">
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TAG_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.deviceId_'>{{row.entity.deviceId}}</span>
			</div>
		</div>

		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TIME'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.dateString2_'>{{row.entity.dateString2}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.readerIds_'>{{row.entity.readerIds}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'COVER_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverDetectStr_'>{{row.entity.coverDetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel_'>{{row.entity.waterLevel}} cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_1_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel1DetectStr_'>{{row.entity.waterLevel1DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_2_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel2DetectStr_'>{{row.entity.waterLevel2DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'H2S'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.h2s_'>{{row.entity.h2s}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'SO2'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.so2_'>{{row.entity.so2}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'CH4'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.ch4_'>{{row.entity.ch4}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_RSSI'|translate}}:</strong>
			</div>
			<div class="col-md-15 no-padding" style="font-weight:normal;margin-top:4px;width:800px;">
				<span animate-on-change='_tagConfiguration.rssi_'>{{row.entity.readerRssi}} dBm</span>
			</div>
		</div>		
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'BATTERY'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.batteryStr}}</span>
			</div>
		</div>	
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'PACKET_COUNTER'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.packetCounter}}</span>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-2" ng-class="false ? 'dashBoardTableRowSelect' : 'dashBoardTableRow'" style="border-radius:0px;">
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'DIAGNOSTIC_CHART_VIEW'|translate}}" style="padding-left:60px; float: left; border-width:0px;" ng-click="grid.appScope.openDiagnosticChartView(row.entity)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
 					 	  <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'TAG_CONFIGURATION'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.openTagConfiguration(row)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa ion-pricetags fa-stack-1x fa-inverse info-number "></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'RESET_MAX_TIME_DIFF'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.resetTimeDiff(row)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa ion-ios-stopwatch fa-stack-1x fa-inverse info-number "></i>
					</span>
				</button>
			</div>
		</div>
</div> 
</script>