<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{"DIAGNOSTIC_CHART_VIEW" | translate}}&#10137;</p>
		</div>	
		<div class="mainTop-left">
 			<p class="mainTop-title"><a ng-click="getAllDeviceId()"><img src="./img/normal/reload.png" 
				tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Refresh Device Ids" class="top-icon"></a></p>
		</div>	
		<div class="mainTop-left">
			<p class="mainTop-title">{{"SELECT_DEVICE_ID" | translate}}: <select ng-model="selectDeviceId" class="form-control" ng-change="onDeviceIdChanged(selectDeviceId)" ng-disabled="connected" >
				<option ng-repeat="deviceId in deviceIdConfigurations" value="{{deviceId}}">{{deviceId}}</option>
			</select></p>
		</div>	
		<div class="mainTop-left">
 			<p class="mainTop-title">{{"SELECT_SENSOR_ID" | translate}}: 
			<select ng-model="selectSensor" class="form-control" ng-options="item.sensorId for item in sensorConfigurations" ng-change="onSensorChanged(selectSensor)" ng-disabled="connected"></select>
		</div>				
	</form>
</div>		


<form name="applicationForm" class="gemsContent gemsContent-style">
<div class="row">
  	<div class="col-md-4">
		<table style="width:100%">
			<caption>{{"SELECT_SENSOR_TYPE" | translate}}:</caption>
				<tr>
				    <td>{{"WATER_LEVEL" | translate}}<input type="checkbox" ng-model="editWaterLevel" class="checkbox"  ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isWaterLevel==false"></td>
				    <td>{{"H2S" | translate}}<input type="checkbox" ng-model="editH2s" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isH2s==false"></td>
				    <td>{{"SO2" | translate}}<input type="checkbox" ng-model="editSo2" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isSo2==false"></td>
				    <td>{{"CO2" | translate}}<input type="checkbox" ng-model="editCo2" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isCo2==false"></td>
				    <td>{{"CH4" | translate}}<input type="checkbox" ng-model="editCh4" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isCh4==false"></td>
  					<td>{{"NH3" | translate}}<input type="checkbox" ng-model="editNh3" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isNh3==false"></td>
  					<td>{{"O2" | translate}}<input type="checkbox" ng-model="editO2" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected||selectSensor.isO2==false"></td>
  					<td>{{"RSSI" | translate}}<input name="rssi" type="checkbox" ng-model="editRssi" class="checkbox" ng-click="updateNumOfSensorSelected()" ng-disabled="connected"></td>
  					
  					
				</tr>
		</table>
	</div>
	<div class="col-md-2">
		<br>
  		{{"CHART_X_AXIS_COVERAGE_MINS"|translate}}:<input type="text" ng-model="chartIntervalInMins" class="form-control" ng-disabled="connected">
	</div>
  	<div class="col-md-2">
  		<br>
		<br>
		<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="connectData(selectDeviceId,selectSensor.sensorId)" ng-disabled="(!editCoverLevel&&!editWaterLevel&&!editH2s&&!editSo2&&!editCo2&&!editCo2&&!editCh4&&!editNh3&&!editO2&&!editRssi)||canPlot()==false">{{!connected ? "CONNECT" : "DISCONNECT" |translate}}</button>
  	</div>
   	<div class="col-md-2">
   	  	<br>
		{{'Y-AXIS-MIN' | translate}}: <input type="text" ng-model="yAxisMinValue" class="form-control" ng-disabled="numOfSensorSelected!=1||connected">
  	</div>
  	<div class="col-md-2">
  	  	<br>
		{{'Y-AXIS-MAX' | translate}}: <input type="text" ng-model="yAxisMaxValue" class="form-control" ng-disabled="numOfSensorSelected!=1||connected">
  	</div>	
</div>				   
<div class="row row-padding" >
	<div id="chartdiv"></div>
</div>  
</form>


			