<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'DIAGNOSTIC_SENSOR_VIEW'|translate}}</p>
		</div>		
		<div class="mainTop-left">
				<input type="checkbox" ng-model="realTime" ng-disabled="searched==false" ng-click="toggleRealTime()" class="checkbox">&nbsp;{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
		</div> 	
	</form>
</div>		
<script type="text/ng-template" id="popover1.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;border-width:0px;">
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TAG_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.deviceId_'>{{row.entity.deviceId}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TIME'|translate}}:</strong>
			</div>
			<div class="col-md-5 no-padding" style="font-weight:normal;margin-top:4px;width:130px;">
				<span animate-on-change='_tagConfiguration.dateString2_'>{{row.entity.dateString}}</span>
			</div>
		</div>

		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.readerIds_'>{{row.entity.readerIds}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'COVER_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverDetectStr_'>{{row.entity.coverDetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel_'>{{row.entity.waterLevel}} cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'COVER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverLevel_'>{{row.entity.coverLevel}} cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_1_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel1DetectStr_'>{{row.entity.waterLevel1DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_2_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel2DetectStr_'>{{row.entity.waterLevel2DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'H2S'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.h2s_'>{{row.entity.h2s}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'SO2'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.so2_'>{{row.entity.so2}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'CH4'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.ch4_'>{{row.entity.ch4}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-4 no-padding" style="font-weight:normal;margin-top:4px;width:100px;"><strong>{{'READER_RSSI_SNR'|translate}}:</strong>
			</div>
			<div class="col-md-15 no-padding" style="font-weight:normal;margin-top:4px;width:800px;">
				<span animate-on-change='_tagConfiguration.rssi_'>{{row.entity.readerRssiSnr}} dBm</span>
			</div>
		</div>		
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-4 no-padding" style="font-weight:normal;margin-top:4px;width:100px;"><strong>{{'READER_NAME_RSSI_SNR'|translate}}:</strong>
			</div>
			<div class="col-md-15 no-padding" style="font-weight:normal;margin-top:4px;width:800px;">
				<span animate-on-change='_tagConfiguration.rssi_'>{{row.entity.readerNameRssiSnr}} dBm</span>
			</div>
		</div>	
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'BATTERY'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.batteryStr}}</span>
			</div>
		</div>	
		<div class="row rowPadding2 dashBoardTableRowDetails4 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'PACKET_COUNTER'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.packetCounter}}</span>
			</div>
		</div>
</div> 
</script>

<form name="applicationForm" class="gemsContent gemsContent-style">
	<div ui-grid="gridOptions" class="grid" ui-grid-auto-resize  ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ng-style="getTableStyle()"></div>
	
</form>


			