<table>
	<tbody>
		<tr ng-repeat="application in applications" ng-if="$index % 1 == 0" style="border-bottom: 0px solid #c4c6be; border-radius:0px; cursor:pointer;" ng-click="navigateToMapView(applications[$index])">
			<td >
				<div class="alert-postive2" >
					<span>
						{{applications[$index].name}}</label>
					</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
