<div class="ngdialog-holder"> 
    <div class="my-dialog center1" style="width:220px;font-size:16px;border-radius: 8px; border: 0px solid #b3b3b3; padding: 5px 15px 5px 5px;"> 
         <span><img ng-show="isLoading" src="img/basic/spinner.gif" width="32" height="32"></img></span>&nbsp;{{loadingMessage}}<br>
         <div ng-if="isLoading==false" class="row button-padding center1 dialogLabelFont" style="padding-top: 10px; padding-bottom: 0px; padding-right: 20px;">
         	<button type="button" ng-click=closeThisDialog("Cancel")>{{'OK'|translate}}</button>
  		 </div>
    </div> 
</div>