<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<div class="mainTop-left">
		<p class="mainTop-title dialogTitleFont">{{'SELECT_A_TAG'|translate}}:&nbsp;&nbsp;{{selectedTagConfigurationFromMap.name}}</p>
	</div>
</div>

<div class="gemsContent gemsContent-style" style="padding: 50px 0px 0px 10px;">
<div class="col-md-12">
</div>
	<div id="map" style="height:450px;width:400px"></div>
	<div class="row button-padding center1 dialogLabelFont" style="padding-top: 20px; padding-bottom: 20px;">
		<button type="button" class="btn mainContent-btn dialogLabelFont" ng-click=confirm(false) ng-disabled="selectedTagConfigurationFromMap==null">{{'OK'|translate}}</button>
		&nbsp;
		<button type="button" class="btn mainContent-btn dialogLabelFont" ng-click=closeThisDialog("Cancel")>{{'CANCEL'|translate}}</button>
	</div>
	<script>
			var tagConfigurations = [];
		  	var map = null;
		  	var markers = [];
		 	var currentSelectedMarker = null;
		  	
		  	function getMarkers() {
		  		return markers;
		  	}
		  	
		  	function clearMakers() {
		  		for (var i = 0; i < markers.length; i++) {
		  	    	markers[i].setMap(null);
		  	   	}
		  		markers = [];
		  	}
		  	
		  	function unSelectCurrentMarker() {
		  		if ( currentSelectedMarker != null) {
		  			currentSelectedMarker.setIcon(currentSelectedMarker.originalImage);
		  			currentSelectedMarker = null;
		  		}
		  	}
		  	
		  	//select current tagConfiguration in the list box
		  	function highlightMarker(tagConfiguration, zoomTo, fromInit) {
		  		unSelectCurrentMarker(); 
		  		var markerToHighlight = markers[tagConfiguration.id];
		  		if (typeof markerToHighlight === "undefined") {
		  			return;
		  		}
		  		var markerUrl = 'img/site/blueMarker.png'; 
	  		 	var image = {
	      		    url: markerUrl,
	      		    // This marker is 32 pixels wide by 32 pixels high.
	      		    size: new google.maps.Size(32, 32),
	      		    // The origin for this image is (0, 0).
	      		    origin: new google.maps.Point(0, 0),
	      		    // The anchor for this image is the base of the flagpole at (0, 51).
	      		    anchor: new google.maps.Point(16, 32)
	       	    };
	  		 	markerToHighlight.setIcon(image); 		 	
	  		 	currentSelectedMarker = markerToHighlight;
	  		 	
	  		 	
	  		 	if (zoomTo == true ) {
		  		 	var pt = new google.maps.LatLng(markerToHighlight.tagConfiguration.lat, markerToHighlight.tagConfiguration.lon);
		  		 	map.setZoom(17);
			  		map.setCenter(pt);
	  		 	}
	  		 	if ( fromInit == false) {
	  		 		angular.element(document.getElementById('mainTop')).scope().selectedTagConfigurationFromMap = currentSelectedMarker.tagConfiguration;
	  		 	}
	    	}
		  	
		  	function scrollToMarkers(tagConfigurations, zoomTo) {
		  		clearMakers();
		  		//initMap();
		  	    for (var i = 0; i < tagConfigurations.length; ++i) {
		           var tagConfiguration = tagConfigurations[i];
		           var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
		           
		           var markerUrl = 'img/site/yellowMarker.png'; 
		           var labelClass = "markerLabelYellow";
		           
		           if ( tagConfiguration.validationResult == true) {
		        	   markerUrl = 'img/site/greenMarker.png';  
		        	   labelClass = 'markerLabelGreen';
		           } else if ( tagConfiguration.validationResult == false ) {
		        	   markerUrl = 'img/site/redMarker.png';  
		        	   labelClass = 'markerLabelRed';
		           }
        	   
		           var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		          		   
		           var marker = new MarkerWithLabel({
		           		position : position,
		             	map: map,
		                draggable: false,
		                raiseOnDrag: false,
		                labelContent: tagConfiguration.name,
		                labelAnchor: new google.maps.Point(100, 0),
		                labelClass: labelClass,
		                labelInBackground: false,
		                icon: image
		           });
		           marker.originalImage = image;
		           marker.tagConfiguration = tagConfiguration; 
		   
		           window.google.maps.event.addListener(marker, 'click', function () {
		        	   highlightMarker(this.tagConfiguration, false, false);
	 		       });
		           
		           markers[tagConfiguration.id] = marker;
		     	}

		  	  	if ( angular.element(document.getElementById('mainTop')).scope().selectedTagConfigurationFromMap != null ) {
		  	  		highlightMarker(  angular.element(document.getElementById('mainTop')).scope().selectedTagConfigurationFromMap, true, true);
		  	  	}
		  	  
		  	}
		  	
		   	function initMap(loadMapOnly) {
		  		var defaultPosition = {lat: 22.2855200, lng: 114.1576900};
		      	map = new google.maps.Map(document.getElementById('map'), {
		         	zoom: 11,
		         	center: defaultPosition
		       	});
		      	
  		        var script = document.createElement('script');
		        script.src = './js/markerwithlabel/markerwithlabel.js';
		        script.type = 'text/javascript';
		        var head = document.getElementsByTagName("head")[0];
		        head.appendChild(script); 
		        
		      	angular.element(document.getElementById('mainTop')).scope().searchTagConfigurations();
		  	}
		</script>
		<script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
		</script>
</div>