<div class="top-popup">
	<ul>
		<li><a ng-click="updateUserProfile()">{{"PROFILE" | translate}}</a></li>
		<li><a href="logout">{{"LOGOUT" | translate}}&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a></li>
	</ul>
</div>


