<div class="top-popup2 ">
	<ul>
<!-- 	
		<li><a ng-click="selectDashBoardChartView()">{{"CHART_VIEW" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-area-chart  fa-2x" style="vertical-align: middle; horizontal-align: center;"></i></a></li>
		<li><a ng-click="selectDashBoardTableView()">{{"TABLE_VIEW" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-table  fa-2x" style="vertical-align: middle; horizontal-align: center;"></i></a></li>
		<li><a ng-click="selectDashBoardSensorView()">{{"SENSOR_VIEW" | translate}}&nbsp;&nbsp;&nbsp;<i class="fa ion-ios-pulse-strong  fa-2x" style="vertical-align: middle; horizontal-align: center;"></i></a></li> 
-->
		<li><a ng-click="selectDashBoardChartView()"><i class="fa fa-area-chart  fa-2x center2" style="vertical-align: middle; horizontal-align: center;"></i></a></li>
		<li><a ng-click="selectDashBoardTableView()"><i class="fa fa-table  fa-2x center2" style="vertical-align: middle; horizontal-align: center;"></i></a></li>
		<li><a ng-click="selectDashBoardSensorView()"><i class="fa ion-ios-pulse-strong  fa-2x center2" style="vertical-align: middle; horizontal-align: center;"></i></a></li> 
		<li><a ng-click="selectDashBoardMapView()">&nbsp;<i class="fa fa-map-marker  fa-2x center2" style="vertical-align: middle; horizontal-align: center;"></i></a></li> 
		
		
	</ul>
</div>


