<div class="top-popup">
 <ul id="menu1"
             role="menu">
            <li><a> <span class="image"> <img
                  src="images/users/amaury.png" alt="Profile Image" />
              </span> <span> <span>Amaury Valdes</span> <span class="time">7
                    mins ago</span>
              </span> <span class="message"> Dashboard has been running
                  without any problems for several weeks... </span>
            </a></li>
            <li><a> <span class="image"> <img
                  src="images/users/amaury.png" alt="Profile Image" />
              </span> <span> <span>Amaury Valdes</span> <span class="time">39
                    mins ago</span>
              </span> <span class="message"> Noticed some some
                  inconsistencies in the data. Will mention to Management... </span>
            </a></li>
            <li><a> <span class="image"> <img
                  src="images/users/amaury.png" alt="Profile Image" />
              </span> <span> <span>Amaury Valdes</span> <span class="time">3
                    hours ago</span>
              </span> <span class="message"> We are planning on releasing
                  the final version of the dashboard next week... </span>
            </a></li>
            <li><a> <span class="image"> <img
                  src="images/users/amaury.png" alt="Profile Image" />
              </span> <span> <span>Amaury Valdes</span> <span class="time">2
                    days ago</span>
              </span> <span class="message"> Still working on some last
                  minute changes that I think will add to the WOW factor... </span>
            </a></li>
            <li>
              <div class="text-center">
                <a> <strong>See All Alerts</strong> <i
                  class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
</div>


