<div class="modal-header">
    <h4 class="modal-title">User Preference</h4>
</div>
<div class="modal-body">
    
    <div class="row row-padding">
    	<table>
	    	<tr>
	    		<td width="200">
	    			<label>Language:</label>
	    		</td>
	    		<td>
		    		<div class="btn-group">
			        <label class="btn btn-info" ng-model="langModel" uib-btn-radio="'english'" btn-checkbox-true>English</label>
			        <label class="btn btn-info" ng-model="langModel" uib-btn-radio="'chinese'">Chinese</label>
			    	</div>
		    	</td>
	    	</tr>
	    	<tr><td><br></td></tr>
	    	<tr>
	    		<td>
	    			<label>No. of Record Per Page: </label>
	    		</td>
	    		<td>
		    		<div class="btn-group">
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'10'">10</label>
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'20'" btn-checkbox-true>20</label>
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'25'">25</label>
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'50'">50</label>
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'100'">100</label>
			        <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'200'">200</label>
		    		</div>
	    		</td>
	    	</tr>
    	</table>
    </div>
    
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="close()">Save</button>
	    <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
	</div>