	
	<div class="mainTop-left">
		<p class="mainTop-title">{{validationObject.validationSubject}}</p>
	</div>
	<div class="row">
        <div class="col-md-12">
		   <textarea rows="6" cols="50" ng-model="validationObject.validationMessages" class="form-control" readonly> </textarea><br>
		</div>
   </div> 
	<div class="row">
		<div class="col-md-5">
		</div>	
		<div class="col-md-2">
			<input type="button" class="btn mainContent-btn" onclick="location.href='logout';" value="Log out" />
		</div>
		<div class="col-md-5">
		</div>
	</div>

