<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Vendor [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
	
		<div class="row row-padding">
	        <div class="col-md-6">
				ID: <input type="text" ng-model="" class="form-control" readonly><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Name:<input type="text" ng-model="" class="form-control"><br>
				Chinese Name:<input type="text" ng-model="" class="form-control"><br>
				Phone:<input type="text" ng-model="" class="form-control"><br>
				Address: <textarea type="text" ng-model="" class="form-control"></textarea>
			</div>
	        <div class="col-md-6">
				Fax:<input type="text" ng-model="" class="form-control"><br>
				E-mail:<input type="text" ng-model="" class="form-control"><br>
				Website:<input type="text" ng-model="" class="form-control"><br>
				BR No:<input type="text" ng-model="" class="form-control"><br>
				Remark: <textarea type="text" ng-model="" class="form-control"></textarea>
	        </div>
		</div>    
	   <div class="row row-padding">
	        <div class="col-md-12">
	          <button class="btn mainContent-btn" type="button" ng-click="">Submit</button>
	          <button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>
</div>