<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	
	<div class="mainTop-left">
		<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
		 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
		 uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
	</div>
	<div class="mainTop-left">
		<p class="mainTop-title">{{'GROUPS'|translate}} [{{groupTitle|translate}}]</p>
	</div>
	
	<div class="mainTop-left">	
		<button class="btn mainTop-btn" type="button" 
		tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
		ng-click="createGroupOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['ADMINISTRATION_GROUPS']!=3">{{'SAVE'|translate}}</button>
		<button class="btn mainTop-btn" type="button" ng-if="sensorConfigTitle=='EDIT_RECORD' && currentPermission['ADMINISTRATION_GROUPS']==1"
		tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
		ng-click="removeGroup(group.id)" uib-tooltip="Delete" >{{'DELETE'|translate}}</button>
		<button class="btn mainTop-btn" type="button" 
		tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
		ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['ADMINISTRATION_GROUPS']!=3">{{'CANCEL'|translate}}</button>
	</div>	
	
</div>
	
<form name="userForm" class="gemsContent gemsContent-style">
	<div class="row row-padding" >
        <div class="col-md-3">
        	<div class="form-group" ng-class="{ 'has-error' : userForm.groupname.$invalid }">
				{{'GROUP_NAME'|translate}}: <input name="groupname" type="text" ng-model="group.name" class="form-control" required ng-readonly="group.id>0">
				<p ng-show="userForm.groupname.$error.required" class="help-block">{{'GROUP_NAME_IS_REQUIRED'|translate}}</p>
			</div>
			<div class="form-group">
				{{'DESCRIPTION'|translate}}: <input name="groupdescription" type="text" ng-model="group.description" class="form-control">
			</div>
			<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="group.active">{{'ACTIVE'|translate}}
				</label>
			</div> 	
		</div>
	</div>    
	<div class="col-md-2">
		<div ui-grid="menuGridUnassignOption" ui-grid-selection class="grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>	
	</div>
	<div class="col-md-1">
		<br>
		<table style="width:100%">
			<tr>
				<td align="center"><br><br><br><br><br><br><br><br><br><br><button type="button" class="btn mainContent-btn" ng-click="assignFunction()">></button><br><br><br></td>
			</tr>
			<tr>
				<td align="center"><button type="button" class="btn mainContent-btn" ng-click="unassignFunction()"><</button></td>
			</tr>
			
		</table>
	</div>
	<div class="col-md-4">
		<div ui-grid="menuGridAssignOption" ui-grid-selection ui-grid-edit="" class="grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
	</div>
</form>
