
<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'TAG_CONFIGURATION'|translate}} [{{subName|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="createTagConfigurationOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3" >{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" ng-if="subName=='EDIT_RECORD' && currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']==1"
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="removeTagConfiguration()" uib-tooltip="Delete" >{{'DELETE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
		<div class="row" >
	        <div class="col-md-5">
	       		<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid }">
					<label>{{'TAG_NAME'|translate}}:</label><input type="text" name="name" ng-model="tagConfiguration.name" class="form-control" required>
					<p ng-show="userForm.name.$error.required" class="help-block">{{'TAG_NAME_IS_REQUIRED'|translate}}</p>
				</div>
	        	<div class="form-group" ng-class="{ 'has-error' : userForm.deviceId.$invalid }">
	       			<label>{{'DEVICE_ID'|translate}}:</label> <input name="deviceId" min="1" type="number" ng-model="tagConfiguration.deviceId" class="form-control" required>
	       		    <p ng-show="userForm.deviceId.$error.required" class="help-block">{{'DEVICE_ID_IS_REQUIRED'|translate}}</p>
	       		</div>
	           	<div class="form-group">
	       			<label>{{'MAN_HOLE_ID'|translate}}:</label> <input name="manHoleId" type="text" ng-model="tagConfiguration.manHoleId" class="form-control">
	       		</div>
	        	<div class="form-group">
	       			<label>{{'MAN_HOLE_HEIGHT'|translate}}:</label> <input name="manHoleHeight" min="0" type="number" ng-model="tagConfiguration.manHoleHeight" class="form-control">
	       		</div>
			  	<div class="form-group">
					<label>{{'DATE'|translate}}:</label>
					<div class="form-group">
			    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="tagConfiguration.createDateTime" callback-fn="setFromDate(arg1)"  >
			    			<input type='text' class="form-control" />
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			        	</div>
			      	</div>  	
			    </div>
				<div class="col-md-15">
					<div name="validationMessage" ui-grid="validationGridOptions" class="grid" ui-grid-auto-resize ng-style="getValidationTableStyle()" ng-if="subName=='EDIT_RECORD'"></div>
				</div>
				<br>
				<div class="col-md-15">
					<div name="sensor" ui-grid="sensorGridOptions" class="grid" ui-grid-auto-resize ng-style="getSensorTableStyle()"></div>
				</div>
			    <br>
				<table style="width:100%">
				  <tr>
				    <td align="left"><button type="button" class="btn mainContent-btn" ng-click="addSensor()">{{'ADD_SENSOR'|translate}}</button></td>
				   </tr>
				</table>
	        	<br>
	        	<div class="form-group" ng-class="{ 'has-error' : userForm.measurementPeriod.$invalid }">
	        		<label>{{'MEASURE_PERIOD'|translate}}:</label><input type="number" min="5" name="measurementPeriod"  ng-model="tagConfiguration.measurePeriod" class="form-control" required>
	        		<p ng-show="userForm.measurementPeriod.$error.required" class="help-block">{{'MEASURE_PERIOD'|translate}}</p>
	        	</div>
	        	<uib-tabset  active="active" class="nav-tabs" style="font-size:14px;" name="tabs"  >
	        		<!-- <uib-tab index="1" heading="{{'SENSOR_DATA_OPTIONS'|translate}}">
	        			<div class="row" style="display:flex;align-items:center;border-radius: 5px; margin:0px 5px 0px 5px;padding: 0px 0px 0px 0px;">
							<div class="col-md-2" style="font-size:14px;font-weight:normal;margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
						  		{{'LATEST_DATA_FROM_READERS'|translate}}
						  	</div>
						  	<div style="margin:8px 0px 0px 0px;padding: 0px 0px 0px 0px;">  	
						  		<label class="switch">
									<input type="checkbox" ng-model="tagConfiguration.readerInSequence" ng-click="toggleFlag(true, false, false)">
								    <div class="slider round"></div>
								</label>
							</div>
							<div class="col-md-6" style="margin: 0px 0px 0px 0px;padding: 0px 5px 0px 5px;" >
								<span style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;background-image: linear-gradient(to right, #00ff00, #ffff00, #ff0000); border-width: 0px 0px 0px 0px;"  range-slider min="0" max="5000" decimal-places="0" model-max="tagConfiguration.readerInSequenceInMs" attach-handle-values="true" show-values="true" disabled="tagConfiguration.readerInSequence==false" pin-handle="min" ></span>
						   	</div>
						   	<div class="col-md-2" style=";margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;" ng-class="{ 'has-error' : userForm.rssiDelayValue.$invalid }" >	  	
						   	 	<input class="form-control" name="rssiDelayValue"  style="margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px; height:30px;  text-align: center;" name="deviceId" min="0" max="5000" type="number" ng-model="tagConfiguration.readerInSequenceInMs" ng-disabled="tagConfiguration.readerInSequence==false" ng-required="tagConfiguration.readerInSequence">
						 	</div>
						   	<div>	  	
						   		<label>&nbsp;ms</label>
							</div>
						</div>
						<div class="row" style="display:flex;align-items:center;border-radius: 5px; margin:0px 5px 0px 5px;padding: 20px 0px 0px 0px;">
							<div class="col-md-2" style="font-size:14px;font-weight:normal;margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
						  		{{'READER_WITH_HIGHEST_RSSI'|translate}}
						  	</div>
						  	<div style="margin:8px 0px 0px 0px;padding: 0px 0px 0px 0px;">  	
						  		<label class="switch">
									<input type="checkbox" ng-model="tagConfiguration.readerWithHighestRssi" ng-click="toggleFlag(false, true, false)">
								    <div class="slider round"></div>
								</label>
							</div>
							<div class="col-md-6" style="margin: 0px 0px 0px 0px;padding: 0px 5px 0px 5px;" >
								<span style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;background-image: linear-gradient(to right, #00ff00, #ffff00, #ff0000); border-width: 0px 0px 0px 0px;"  range-slider min="0" max="5000" decimal-places="0" model-max="tagConfiguration.readerWithHighestRssiInMs" attach-handle-values="true" show-values="true" disabled="tagConfiguration.readerWithHighestRssi==false" pin-handle="min" ></span>
						   	</div>
						   	<div class="col-md-2" style=";margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;" ng-class="{ 'has-error' : userForm.rssiDelayValue.$invalid }" >	  	
						   	 	<input class="form-control" name="rssiDelayValue"  style="margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px; height:30px;  text-align: center;" name="deviceId" min="0" max="5000" type="number" ng-model="tagConfiguration.readerWithHighestRssiInMs" ng-disabled="tagConfiguration.readerWithHighestRssi==false" ng-required="tagConfiguration.readerWithHighestRssi">
				
						 	</div>
						   	<div>	  	
						   		<label>&nbsp;ms</label>
							</div>
						</div>
						<div class="row" style="display:flex;align-items:center;border-radius: 5px; margin:0px 5px 0px 5px;padding: 20px 0px 0px 0px;">
							<div class="col-md-2" style="font-size:14px;font-weight:normal;margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
						  		{{'ASSIGN_TO_SPECIFIC_READERS'|translate}}
						  	</div>
						  	<div style="margin:15px 0px 0px 0px;padding: 0px 0px 10px 0px; " >	  	
						  		<label class="switch">
									<input type="checkbox" ng-model="tagConfiguration.assignToSpecificReaders" ng-click="toggleFlag(false, false, true)">
								    <div class="slider round"></div>
								</label>
							</div>
							<div class="col-md-6" style="margin: 0px 0px 0px 0px;padding: 0px 5px 0px 5px;" >
								<span style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;background-image: linear-gradient(to right, #00ff00, #ffff00, #ff0000); border-width: 0px 0px 0px 0px;"  range-slider min="0" max="5000" decimal-places="0" model-max="tagConfiguration.assignToSpecificReadersInMs" attach-handle-values="true" show-values="true" disabled="tagConfiguration.assignToSpecificReaders==false" pin-handle="min" ></span>
						   	</div>
						   	<div class="col-md-2" style=";margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;" ng-class="{ 'has-error' : userForm.assignToSpecificReaders.$invalid }" >	  	
						   	 	<input class="form-control" name="assignToSpecificReaders"  style="margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px; height:30px;  text-align: center;" name="deviceId" min="0" max="5000" type="number" ng-model="tagConfiguration.assignToSpecificReadersInMs" ng-disabled="tagConfiguration.assignToSpecificReaders==false" ng-required="tagConfiguration.assignToSpecificReaders">
				
						 	</div>
						   	<div>	  	
						   		<label>&nbsp;ms</label>
							</div>
						</div>
						<div ng-show="tagConfiguration.assignToSpecificReaders" class="row" style="display:flex;align-items:center;border-radius: 5px; margin:0px 5px 0px 5px;padding: 10px 0px 0px 0px;">
							<div class="col-md-2" style="font-size:14px;font-weight:normal;margin:0px 0px 0px 0px;padding: 0px 0px 10px 10px;">
							</div>
							<div class="col-md-9"  style="margin: 0px 0px 0px 0px;padding: 0px 5px 5px 5px;" >
						  		<div name="readerGrid" ui-grid="readerGridOptions" class="grid" ui-grid-auto-resize ng-style="getReaderTableStyle()" ng-disabled="tagConfiguration.assignToSpecificReaders==false"></div>
						  	</div>
						  	<div class="col-md-1"  style="margin: 0px 0px 0px 0px;padding: 0px 5px 5px 5px;" >
						  		<div class="row" style="margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
									<button class="form-group" type="button" ng-disabled="tagConfiguration.assignToSpecificReaders==false"
										tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0"
										ng-click="onChangeHistory(currentHistorySelection)" uib-tooltip="{{'UP'|translate}}"><i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i></button>
								</div>
						  		<div class="row" style="margin:0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
									<button class="form-group" type="button"  ng-disabled="tagConfiguration.assignToSpecificReaders==false"
										tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0"
										ng-click="onChangeHistory(currentHistorySelection)" uib-tooltip="{{'DOWN'|translate}}"><i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i></button>
								</div>
						  	</div>
						</div>
	        		</uib-tab> -->
	       			<uib-tab index="1" heading="{{'IMAGE'|translate}}">
						<div class="fileUpload btn mainContent-btn">
			   				<span>{{'SELECT'|translate}}</span>
							<input class="upload" type="file" ngf-select ng-model="image" name="file" accept="image/*" ngf-max-size="10MB"
				             	ngf-model-invalid="errorFile"  id="file">
				             <script>
						       	document.getElementById('file').onchange = function(e) {
						       		angular.element(document.getElementById('mainTop')).scope().onFileChange(e);
						     	};

				             </script>
			            </div>
			            
			            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="tagConfiguration.imageUrlPath!=null||image">{{'DELETE'|translate}}</button>
			            <br>
			            <img ngf-thumbnail="image" width="200px" ng-show="image">
			       		<img id="hiddenImage" ng-src="{{tagConfiguration.imageUrlPath}}" width="200px" >
	       			</uib-tab>
	       			<uib-tab index="2" heading="{{'DESCRIPTION'|translate}}">
	       				<textarea type="text" rows="6" cols="50" maxlength="255" ng-model="tagConfiguration.description" class="form-control"> </textarea><br>
	       			</uib-tab>
	       		</uib-tabset>
	       </div>
			<div class="col-md-6">
	        	<div class="form-group" ng-class="{ 'has-error' : userForm.site.$invalid }">
					<label>{{'SITE'|translate}}:</label><select name="site" ng-model="tagConfiguration.siteConfiguration" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-change="loadMap(tagConfiguration.siteConfiguration,true)" required></select>
					<p ng-show="userForm.site.$error.required" class="help-block">{{'SITE_IS_REQUIRED'|translate}}</p>
				</div>
				<div id="map" style="height:700px" ></div>
			 	<script>
			 	var map = null;
			 	var marker = null;
			 	function placeMarker(location) {
			 	    if ( marker != null)
			 	    	marker.setMap(null);
			 		
			 	    marker = new google.maps.Marker({
			 	        position: location, 
			 	        map: map
			 	    });
			 		//testFunc();
			 		
			 		angular.element(document.getElementById('mainTop')).scope().setMarkerPosition(location, map.getZoom());
			 		
			 	}
			 	
			 	function clearMarkers() {
			 		if ( marker != null)
			 			marker.setMap(null);
			 		
			 		marker = null;
			 	}
			 	
			 	function panZoomMap(siteConfiguration) {
			  		var pt = new google.maps.LatLng(siteConfiguration.lat, siteConfiguration.lon);
			  		map.setCenter(pt);
		            map.setZoom(siteConfiguration.zoomLevel);
			 	}
			 	
		      	function initMap() {
			        var position = {lat: 22.2855200, lng: 114.1576900};
			        map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 11,
			          center: position
			        });
			        google.maps.event.addListener(map, 'click', function(event) {
			           placeMarker(event.latLng);
			        });
			        
			        var tagConfiguration = angular.element(document.getElementById('mainTop')).scope().getTagConfiguration();
			        if ( tagConfiguration != null && tagConfiguration.id > 0) {
			    
			        	position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
				        marker = new google.maps.Marker({
					    	position: position,
					        map: map
					   	});
				        
				        var pt = new google.maps.LatLng(tagConfiguration.siteConfiguration.lat, tagConfiguration.siteConfiguration.lon);
				  		map.setCenter(pt);
			            map.setZoom(tagConfiguration.siteConfiguration.zoomLevel);
				    }
			   	}
			
			    </script>
			    <script async defer
			        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
			    </script>

      		</div>
		</div>
</form>
