
<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'TAG_GROUP_CONFIGURATION'|translate}} [{{subName|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="createTagGroupConfigurationOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid||getCompletePipe()==true" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3&&groupTagConfiguration.id==0" >{{'SAVE'|translate}}</button>
<!-- 			<button class="btn mainTop-btn" type="button" ng-if="subName=='EDIT_RECORD' && currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']==1"
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="removeTagGroupConfiguration()" uib-tooltip="Delete" >{{'DELETE'|translate}}</button> -->
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
		<div class="row" >
	        <div class="col-md-3">
	       		<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid }">
					<label>{{'GROUP_NAME'|translate}}:</label><input type="text" name="name" ng-model="groupTagConfiguration.name" class="form-control" required>
					<p ng-show="userForm.name.$error.required" class="help-block">{{'TAG_NAME_IS_REQUIRED'|translate}}</p>
				</div>
				<div class="col-md-15">
					<div name="tagConfigurations" ui-grid="tagConfigurationGridOptions" class="grid" ng-style="getSensorTableStyle()"></div>
				</div>
	       </div>
			<div class="col-md-8">
	        	<div class="form-group" ng-class="{ 'has-error' : userForm.site.$invalid }">
					<label>{{'SITE'|translate}}:</label><select name="site" ng-model="groupTagConfiguration.siteConfiguration" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-change="getTagConfiguration(groupTagConfiguration)"" required></select>
					<p ng-show="userForm.site.$error.required" class="help-block">{{'SITE_IS_REQUIRED'|translate}}</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.site.$invalid }">
					<button ng-click="createOrCompletePiple()" style="border-radius:5px;">{{createOrCompletePipleTitle | translate }}</button>
					<button ng-click="importPipleFromCsvFile()" style="border-radius:5px;">{{'IMPORT_LINE_FROM_CSV_FILE' | translate }}</button>
				</div>
				<div id="map" style="height:700px" ></div>
				<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
				</script>
				<script>
				var tagConfigurations = [];
			  	var map = null;
			  	var markersMap = [];
			  	var markersList = [];
			  	var currentSelectedMarker = null;
			  	var polyArray = [];
			  	var poly = null;
			  	var path = null;
			  	var deleteMenu = null;
			  	var polyIndexTagConfigurationIdMap = [];
			  	var lastClickOnMarker = null;
			  	
			  	function getPolyArray() 
			  	{
			  		return polyArray;
			  	}
			  	function clearMakers() {
			  		for (var i = 0; i < markersMap.length; i++) {
			  	    	if ( typeof markersMap[i] != 'undefined') {	
			  				markersMap[i].setMap(null);
			  	    	}
			  	   	}
			  		markersMap = [];
			  		markersList = [];
			  		currentSelectedMarker = null;
			  	}
			  	//select current tagConfiguration in the list box
			  	function highlightMarker(tagConfiguration) {
			  		unSelectCurrentMarker(); 
			  		
			  		var markerToHighlight = markersMap[tagConfiguration.id];
	 		  		var markerUrl = 'img/site/blueMarker.png'; 
		  		 	var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		  		 	markerToHighlight.setIcon(null); 		 	
		  		 	var pt = new google.maps.LatLng(markerToHighlight.tagConfiguration.lat, markerToHighlight.tagConfiguration.lon);
			  		map.setCenter(pt);
	
		  			currentSelectedMarker = markerToHighlight;
		    	}
			  	
			  	function unSelectCurrentMarker() {
			  		if ( currentSelectedMarker != null) {
			  			currentSelectedMarker.setIcon(currentSelectedMarker.originalImage);
			  			currentSelectedMarker = null;
			  		}
			  	}
			  	
			  	//called by add
			  	function selectMarker(tagConfiguration) {
			  		//unSelectCurrentMarker(); 
			  		
			  		var markerToSelect = markersMap[tagConfiguration.id];
			  		if (typeof markerToSelect == "undefined") {
			  			return false; 
			  		} 
			  		
			  		var markerUrl = 'img/site/blueMarker.png'; 
		  		 	var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		  		 	markerToSelect.setIcon(image);
		  		 	markerToSelect.originalImage = image;
		  		 	return true;
		    	}
			  	
			  	//called by delete
			  	function deleteMarker(tagConfiguration) {
			  		unSelectCurrentMarker();
			  		
			  		var markerToUnHighlight = markersMap[tagConfiguration.id];
			  		
			  		var markerUrl = null;
		           	var labelClass = "markerLabelYellow";
		           
		           	if ( markerToUnHighlight.tagConfiguration.validationResult == true) {
		        	   markerUrl = 'img/site/greenMarker.png';  
		        	   labelClass = 'markerLabelGreen';
		           	} else if ( markerToUnHighlight.tagConfiguration.validationResult == false ) {
		        	   markerUrl = 'img/site/redMarker.png';  
		        	   labelClass = 'markerLabelRed';
		           	} else {
		        	   markerUrl = 'img/site/yellowMarker.png'; 
		        	   labelClass = 'markerLabelYellow';
		           	}
	     	   
		           	var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		           	
		           	markerToUnHighlight.setIcon(image);
		           	markerToUnHighlight.originalImage = image;
			   	}
			  	

			  	
			  	function scrollToMarkers(tagConfigurations, siteConfiguration) {
			  		clearMakers();
		            
			  	    for (var i = 0; i < tagConfigurations.length; ++i) {
			           var tagConfiguration = tagConfigurations[i];
			           var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
			           
			           var markerUrl = null;
			           var labelClass = "markerLabelYellow";
			           
			           if ( tagConfiguration.validationResult == true) {
			        	   markerUrl = 'img/site/greenMarker.png';  
			        	   labelClass = 'markerLabelGreen';
			           } else if ( tagConfiguration.validationResult == false ) {
			        	   markerUrl = 'img/site/redMarker.png';  
			        	   labelClass = 'markerLabelRed';
			           } else {
			        	   markerUrl = 'img/site/yellowMarker.png'; 
			        	   labelClass = 'markerLabelYellow';
			           }
	        	   
			           var image = {
			      		    url: markerUrl,
			      		    // This marker is 32 pixels wide by 32 pixels high.
			      		    size: new google.maps.Size(32, 32),
			      		    // The origin for this image is (0, 0).
			      		    origin: new google.maps.Point(0, 0),
			      		    // The anchor for this image is the base of the flagpole at (0, 51).
			      		    anchor: new google.maps.Point(16, 32)
			       	    };
			          		   
	 		           var marker = new MarkerWithLabel({
			           		position : position,
			             	map: map,
			                draggable: false,
			                raiseOnDrag: false,
			                labelContent: tagConfiguration.name,
			                labelAnchor: new google.maps.Point(100, 0),
			                labelClass: labelClass,
			                labelInBackground: false,
			                icon: image
			           }); 
				 	   marker.tagConfiguration = tagConfiguration;
				 	   marker.originalImage = image;
				 	  
	 		           window.google.maps.event.addListener(marker, 'click', function () {
	 		        	  lastClickOnMarker = this;
	 		        	  	if ( angular.element(document.getElementById('mainTop')).scope().getCreateOrCompletePipleTitle() === "COMPLETE_LINE") {
	 		        	   		angular.element(document.getElementById('mainTop')).scope().addToGroupTagConfiguration(this.tagConfiguration);
	 		        	    	var event = new Object();
	 		        	    	event.latLng = this.position;
	 		        	   		addLatLng(event);
	 		        	  	}
	 		           });
				        
	 		           markersMap[tagConfiguration.id] = marker;
	 		           markersList.push(marker);
	 		       	}
			  		var pt = new google.maps.LatLng(siteConfiguration.lat, siteConfiguration.lon);
			  		map.setCenter(pt);
		            map.setZoom(siteConfiguration.zoomLevel);
			  	}
			  	
				var removeAt = false;
			  	function addLatLng(event) {
			  		if (removeAt == true) {
			  			removeAt = false;
			  			return;
			  		}
			  		
			  		var groupTagConfiguration = angular.element(document.getElementById('mainTop')).scope().getGroupTagConfiguration();
			  		if ( groupTagConfiguration.siteConfiguration == null) 
			  			return; 
			  		
			  		var path = poly.getPath();

			        // Because path is an MVCArray, we can simply append a new coordinate
			        // and it will automatically appear.
			        path.push(event.latLng);

		      		var markerUrl = 'img/site/circular-cross.png'; 
		  		 	var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(0, 0),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(0, 0)
		       	    };
		  		 	
			        // Add a new marker at the new plotted point on the polyline.
			        var marker = new google.maps.Marker({
			          position: event.latLng,
			          title: '#' + path.getLength(),
			          map: map,
			          icon: image
			        });
			   	}
			  	
		      	function DeleteMenu() {
		          	this.div_ = document.createElement('div');
		          	this.div_.className = 'delete-menu';
		          	this.div_.innerHTML = angular.element(document.getElementById('mainTop')).scope().getDeleteKeyWord();
		          	var menu = this;
		          	google.maps.event.addDomListener(this.div_, 'click', function() {
						menu.removeVertex();
				  	});
		        }
		      	
		      	function declareDeleteMenu() {
		        	DeleteMenu.prototype = new google.maps.OverlayView();
			        DeleteMenu.prototype.onAdd = function() {
			            var deleteMenu = this;
			            var map = this.getMap();
			            this.getPanes().floatPane.appendChild(this.div_);
	
			            // mousedown anywhere on the map except on the menu div will close the
			            // menu.
			            this.divListener_ = google.maps.event.addDomListener(map.getDiv(), 'mousedown', function(e) {
			              if (e.target != deleteMenu.div_) {
			                deleteMenu.close();
			              }
			            }, true);
			          };
	
			          DeleteMenu.prototype.onRemove = function() {
			            google.maps.event.removeListener(this.divListener_);
			            this.div_.parentNode.removeChild(this.div_);
	
			            // clean up
			            this.set('position');
			            this.set('path');
			            this.set('vertex');
			          };
	
			          DeleteMenu.prototype.close = function() {
			            this.setMap(null);
			          };
	
			          DeleteMenu.prototype.draw = function() {
			            var position = this.get('position');
			            var projection = this.getProjection();
	
			            if (!position || !projection) {
			              return;
			            }
	
			            var point = projection.fromLatLngToDivPixel(position);
			            this.div_.style.top = point.y + 'px';
			            this.div_.style.left = point.x + 'px';
			          };
	
			          /**
			           * Opens the menu at a vertex of a given path.
			           */
			          DeleteMenu.prototype.open = function(map, path, vertex, latLng) {
			            this.set('position', path.getAt(vertex));
			            this.set('path', path);
			            this.set('vertex', vertex);
			            this.set('latLng', latLng);
			            this.setMap(map);
			            this.draw();
			          };
	
			          /**
			           * Deletes the vertex from the path.
			           */
			          DeleteMenu.prototype.removeVertex = function() {
			            var path = this.get('path');
			            var vertex = this.get('vertex');
	
			            if (!path || vertex == undefined) {
			              this.close();
			              return;
			            }
			            angular.element(document.getElementById('mainTop')).scope().removeTagConfigurationByLatLng(this.get('latLng'));
			            
			            path.removeAt(vertex);
			            this.close();
			          };
		      	}

		      	function addPolyline(coordinates) {
					
					poly = new google.maps.Polyline({
			            strokeColor: '#0000FF',
			            strokeOpacity: 1.0,
			            strokeWeight: 3,
			            editable: true,
			            path: coordinates
			        });
					polyArray.push(poly);
					path = poly.getPath();

			        google.maps.event.addListener(poly, 'rightclick', function(e) {
			            // Check if click was on a vertex control point
			            if (e.vertex == undefined) {
			              return;
			            }

			            deleteMenu.open(map, poly.getPath(), e.vertex, e.latLng);
			       	});

			        google.maps.event.addListener(path, "insert_at", function(index, obj){
			        	if ( lastClickOnMarker != null) {
			        		polyIndexTagConfigurationIdMap[index] = lastClickOnMarker.tagConfigurationId;
			        		lastClickOnMarker = null;
			        	}
 			        });
 			        
			        google.maps.event.addListener(path, "remove_at", function(index, obj){
			        	removeAt = true;
			        });
			        
			        google.maps.event.addListener(path, "set_at", function(index, obj){
			        	var latLng = path.getArray()[index];
		        	 	var tagConfigurationId = polyIndexTagConfigurationIdMap[index];
		        	 	if (typeof tagConfigurationId == 'undefined' || tagConfigurationId == null) {
		        			var tagConfigurationId = angular.element(document.getElementById('mainTop')).scope().addTagConfigurationByLatLng(latLng);
		        			if( tagConfigurationId != null) {
		        				polyIndexTagConfigurationIdMap[index] = tagConfigurationId;
		        			}
		        		} else {
		        			var tagConfigurationId = angular.element(document.getElementById('mainTop')).scope().removeTagConfigurationByLatLng(latLng, tagConfigurationId);
		        			if( tagConfigurationId != null) {
		        				polyIndexTagConfigurationIdMap[index] = null;
		        			}
		        		}

			        });

			        poly.setMap(map);
				}
				
		      	function initMap() {
		      		declareDeleteMenu(); 
		      		
			  		var defaultPosition = {lat: 22.2855200, lng: 114.1576900};
			      	map = new google.maps.Map(document.getElementById('map'), {
			         	zoom: 11,
			         	center: defaultPosition
			       	});
	
			      /*   poly = new google.maps.Polyline({
			            strokeColor: '#0000FF',
			            strokeOpacity: 1.0,
			            strokeWeight: 3,
			            editable: true
			        });
			        poly.setMap(map);
			           */
			        map.addListener('click', addLatLng );

			        
			        deleteMenu = new DeleteMenu();
			
			        
			        var script = document.createElement('script');
			        script.src = './js/markerwithlabel/markerwithlabel.js';
			        script.type = 'text/javascript';
			        var head = document.getElementsByTagName("head")[0];
			        head.appendChild(script);
			        angular.element(document.getElementById('mainTop')).scope().startPage();
			        
			    }
			  	</script>
      		</div>
		</div>
</form>
