<!DOCTYPE html>
	
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>			
		<div class="mainTop-left">
			<p class="mainTop-title">{{'SYSTEM_CONFIGURATION'|translate}}&#10137;{{'TAG_GROUP_CONFIGURATION'|translate}}&#10137; {{"SELECT_SITE" | translate}}: 
				<select ng-model="selectedSite" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-change="searchGroupTagConfiguration(selectedSite)" ></select>
			</p>
		</div>
		<div class="mainTop-left"> 
			<a href="javascript:void(0)" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Create New" onclick="window.location='#/SystemConfiguration/TagConfigurationGroupView/New'" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']==1">
			<img src="./img/normal/add.png" class="mainTop-icon-add"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">&nbsp;</p>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Refresh tag configurations" ng-click="searchGroupTagConfiguration(selectedSite)">
			<img src="./img/normal/reload.png" class="top-icon"></a>
		</div>
	</form>
</div>		


<div class="gemsContent gemsContent-style">
	<div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()" ></div>
</div>