<!DOCTYPE html>

<div id="mainTop" class="gemsContentTop gemsContentTop-style" style="padding:0px 5px 0px 5px;">
		<p class="mainTop-title dialogTitleFont">{{'SENSOR_CONFIGURATION'|translate}} [{{sensorConfigTitle|translate}}]</p>
</div>
		
<form name="userForm" class="gemsContent gemsContent-style" style="padding-bottom:0px;">
	<div class="row">
        <div class="col-md-12">
        	<div class="form-group" ng-class="{ 'has-error' : userForm.isCoverLevel.$invalid || userForm.isWaterLevel.$invalid || userForm.isH2s.$invalid || userForm.isSo2.$invalid || userForm.isCo2.$invalid || userForm.isCh4.$invalid || userForm.isNh3.$invalid || userForm.isO2.$invalid}">
				<table style="width:100%;padding: 4px 4px 4px 4px;" class="table-curved">{{'SELECT'|translate}} {{'SENSOR_TYPE'|translate}}:
				  <tr>
				    <td>{{'COVER_LEVEL'|translate}}<input type="checkbox" name="isCoverLevel" ng-model="formData.isCoverLevel" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
				    <td>{{'WATER_LEVEL'|translate}}<input type="checkbox" name="isWaterLevel" ng-model="formData.isWaterLevel" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
				    <td>{{'H2S'|translate}}<input type="checkbox" name="isH2s" ng-model="formData.isH2s" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
  					<td>{{'SO2'|translate}}<input type="checkbox" name="isSo2" ng-model="formData.isSo2" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
  					<td>{{'CO2'|translate}}<input type="checkbox" name="isCo2" ng-model="formData.isCo2" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
 	  				<td>{{'CH4'|translate}}<input type="checkbox" name="isCh4" ng-model="formData.isCh4" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
  					<td>{{'NH3'|translate}}<input type="checkbox" name="isMh3" ng-model="formData.isNh3" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
  					<td>{{'O2'|translate}}<input type="checkbox" name="isO2" ng-model="formData.isO2" class="checkbox" ng-click="toggleSensorType(formData.isCoverLevel, formData.isWaterLevel, formData.isH2s, formData.isSo2, formData.isCo2, formData.isCh4, formData.isNh3, formData.isO2)" ng-required="isSensorTypeSelected == false"></td>
  				  </tr>
				</table>
				<p ng-show="userForm.isCoverLevel.$error.required || userForm.isWaterLevel.$error.required || userForm.isH2s.$error.required || userForm.isSo2.$error.required || userForm.isCo2.$error.required || userForm.isCh4.$error.required || userForm.isNh3.$error.required || userForm.isO2.$error.required" class="help-block">{{'SENSOR_TYPE_IS_REQUIRED'|translate}}</p>
			</div>
		</div>
   </div> 
	<div class="row">
		<div class="col-md-12 center1" >
			<button type="button" class="btn mainContent-btn" ng-click=confirm(formData) ng-disabled="userForm.$invalid">{{'OK'|translate}}</button>
			&nbsp;
			<button type="button" class="btn mainContent-btn" ng-click=closeThisDialog("Cancel")>{{'CANCEL'|translate}}</button>
        </div>
	</div>
 </form>