
<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'VALIDATE_TAG_CONFIGURATION'|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="createTagConfigurationOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3" >{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" ng-if="subName=='EDIT_RECORD' && currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']==1"
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="removeTagConfiguration()" uib-tooltip="Delete" >{{'DELETE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['SYSTEM_CONFIGURATION_TAG_CONFIGURATION']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
		<div class="row" >
	        <div class="col-md-4">
	    		<label>{{'DEVICE_ID'|translate}}:</label> <input name="deviceId" min="1" type="number" ng-model="tagConfiguration.deviceId" class="form-control" >
	    		<label>{{'NAME'|translate}}:</label><input type="text" name="name" ng-model="tagConfiguration.name" class="form-control" >
				<label>{{'GROUP_ID'|translate}}:</label><input type="number" min="1" name="groupId" ng-model="tagConfiguration.groupId" class="form-control" > <br>
 				<div class="col-md-15">
					<div name="sensor" ui-grid="sensorGridOptions" class="grid" ui-grid-auto-resize ng-style="getSensorTableStyle()"></div>
				</div>
	        	<br>
	       		<label>{{'MEASURE_PERIOD'|translate}}:</label><input type="number" min="5" name="measurementPeriod"  ng-model="tagConfiguration.measurePeriod" class="form-control"><br>
	    		{{'IMAGE'|translate}}:<br>	      
				<img id="hiddenImage" ng-src="{{tagConfiguration.imageUrlPath}}" width="200px" >
	       </div>
			
		</div>
	</form>
