<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Project [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
	
		<div class="row row-padding">
			<div class="col-md-12">
				Approved Budget:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
			</div>
	        <div class="col-md-6">
	        	ID:<input type="text" ng-model="" class="form-control" readonly><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">SAS Code:<input type="text" ng-model="" class="form-control"><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Project Name:<input type="text" ng-model="" class="form-control"><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Project Owner:
	        	<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	Project Manager:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	Business Manager:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	
			</div>
	        <div class="col-md-6">
				Sponsorship:<input type="text" ng-model="" class="form-control"><br>
				Target Start Date:
				<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>
	        	Target Completion Date:
				<div class="input-group">
		           <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
		        </div><br>
	        	Mandays:<input type="text" ng-model="" class="form-control"><br>
	        	Vendor:<select ng-model="main" class="form-control" ng-options=""><option>ABC Company</option><option>IT Company</option></select><br>
	        	Key Project:<input type="checkbox" ng-model="active" class="checkbox"><br>
	        </div>
		</div>  
		<div class="row row-padding-LR">
	        <div class="col-md-12">
				Description: <textarea type="text" ng-model="" class="form-control"></textarea><br>
	        </div>
		</div>   
		 <div class="row row-padding">
	        <div class="col-md-12">
	          <button class="btn mainContent-btn" type="button" ng-click="">Submit</button>
	          <button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>  
</div>