<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Project [XXXXXX]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#"  tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Delete" >Delete</button>
			<button class="btn btn-primary" type="button" ng-click="">Next</button>
		    <button class="btn btn-primary" type="button" ng-click="">Feedback</button>
		</div>	
	</div>

	<div class="gemsContent gemsContent-style">
	<div class="form-group">
		<div class="row row-padding">
		        <div class="col-md-12">
		        Attachment(2): <a><img src="./img/normal/file.png" class="state-icon">Project Plan.ppt</a>  <a><img src="./img/normal/file.png" class="state-icon">requirement.xls</a> 
		        </div>
		    </div>
			<div class="row row-padding-LR mainContent-separator">
		        <div class="col-md-12">
		        </div>
		    </div>
			<div class="row row-padding">
		        <div class="col-md-12">Flow: Project
			        <div class="row multistep">
				        <div class="col-xs-3 multistep-step complete">
				            <div class="text-center multistep-stepname">Creating</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step current">
				            <div class="text-center multistep-stepname">Submitted for Review</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Pending for Approval</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Completed</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				    </div>
		        </div>
			</div>
		<div class="row row-padding">
			<div class="col-md-6">
	        	ID:<input type="text" ng-model="" class="form-control" readonly><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">SAS Code:<input type="text" ng-model="" class="form-control"><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Project Name:<input type="text" ng-model="" class="form-control"><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Project Owner:
	        	<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	Project Manager:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	Business Manager:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
	        	Sponsorship:<input type="text" ng-model="" class="form-control"><br>
			</div>
	        <div class="col-md-6">
	        	Status: <select ng-model="status" class="form-control" ng-options="" ><option>Active</option></select><br>
				State: <div class="gems-form-control">
					<img src="./img/normal/collapse.png" class="state-popup-icon">
					<img src="./img/normal/done.png" class="state-icon">
					<img src="./img/normal/current.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
					</div><br>
				Target Start Date:
				<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>
	        	Target Completion Date:
				<div class="input-group">
		           <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
		        </div><br>
	        	Mandays:<input type="text" ng-model="" class="form-control"><br>
	        	Vendor:<select ng-model="main" class="form-control" ng-options=""><option>ABC Company</option><option>IT Company</option></select><br>
	        	Key Project:<input type="checkbox" ng-model="active" class="checkbox"><br>
	        </div>
		</div> 	 
		
	   <div class="row row-padding">
	        <div class="col-md-6">
	          <button class="btn mainContent-btn" type="button" ng-click="">Update</button>
	          <button class="btn mainContent-btn" type="button" ng-click="">Delete</button>
			</div>
			<div class="col-md-6">
	          	<button class="btn btn-primary" type="button" ng-click="">Next</button>
	          	<button class="btn btn-primary" type="button" ng-click="">Feedback</button>
			</div>
		</div>
			<div class="row row-padding"></div>
			<div class="row row-padding mainContent-separator">
		        <div class="col-md-12">
		        <h4>Related Items</h4>
		        </div>
		    </div>
		<div class="row row-padding">
			<div class="col-md-12">
				<uib-tabset active="active" class="nav-tabs" >
		        	<uib-tab index="0" heading="Budgets">
		        		Todo: List of Budget in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="1" heading="Risks">
		        		Todo: List of Risks in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="2" heading="Issues">
		        		Todo: List of Issues in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="3" heading="Contracts">
		        		Todo: List of Contracts in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="4" heading="Change Requests">
		        		Todo: List of Change Requests in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="5" heading="Purchase Requests">
		        		Todo: List of Purchase Requests in this project<br>
				        <div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        </uib-tabset>
	        </div>
		</div>
		
		<div class="row row-padding">
			<div class="col-md-12">
				
	        </div>
		</div>
	</div>
</div>
