<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Currency [XXXXXX]</p>
		</div>
		
		<div class="mainTop-right">	
			<!--a href="#"  tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a-->
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Delete" >Delete</button>
		</div>	
	</div>

	<div id="main" class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-6">
				ID: <input type="text" ng-model="" class="form-control" readonly><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> CCY From: <input type="text" ng-model="" class="form-control"><br>
			</div>
	        <div class="col-md-6">
				<img src="./img/normal/mandatory.png" class="form-icon"> CCY To: <input type="text" ng-model="" class="form-control"><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Rate: <input type="text" ng-model="" class="form-control"><br>
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-md-12">
	          	<button class="btn mainContent-btn" type="button" ng-click="update()">Update</button>
	            <button class="btn mainContent-btn" type="button" ng-click="delete()">Delete</button>
			</div>
		</div>
		
    </div>
