<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Application [{{editName}}]</p>
		</div>
		
		<div class="mainTop-right">	
			<!-- a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Image" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a -->
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="editApplicationOk()" uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="removeApplication()" uib-tooltip="Delete" >Delete</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
	
		<div class="row row-padding" >
	        <div class="col-md-6">
	        	ID: <input type="text" ng-model=editApplicationId class="form-control" readonly><br>
	        	Name: <input type="text" ng-model="editName" class="form-control"><br>
				Description: <input type="text" ng-model="editDescription" class="form-control"><br>
				Active: <input type="checkbox" ng-model="editActive" class="checkbox"><br>
			</div>
			<div class="col-md-6">
				Display Order: <input type="text" ng-model="editDisplayOrder" class="form-control"><br>
				Path: <input type="text" ng-model="editPath" class="form-control"><br>
				Image:
				<div class="fileUpload btn mainContent-btn">
   				<span>Select</span>	      
				<input class="upload" type="file" ngf-select ng-model="editImage" name="file" accept="image/*" ngf-max-size="10MB" required
	             	ngf-model-invalid="errorFile"  id="file" >
	             </div>
	            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="editImage">Remove</button>
	           	<br>
	            <img  ngf-thumbnail="editImage" width="80px" ng-show="newImage"> <br>
			</div>
		</div>  
		<div class="row row-padding">
			<div class="col-md-12">
          		<button class="btn mainContent-btn" type="button" ng-click="editApplicationOk()">Update</button>
          		<button class="btn mainContent-btn" type="button" ng-click="removeApplication()">Delete</button>
			</div>
		</div>
</div>