 <!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
<iframe 
 	style="position: fixed;
    background: #FFFFFF;
    border: none;
    width: 100%;
    height: 100%;"
    ng-src="{{linkUrl}}">
</iframe>
</div>