<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Module [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-6">
	        	ID: <input type="text" ng-model="" class="form-control" readonly><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Name: <input type="text" ng-model="newName" class="form-control"><br>
				Active:<input type="checkbox" ng-model="newActive" class="checkbox"><br>
				Homepage:<input type="checkbox" ng-model="newHomepage" class="checkbox"><br>
			</div>
	        <div class="col-md-6">
				Display Order: <input type="text" ng-model="newDisplayOrder" class="form-control"><br>
				Path: <input type="text" ng-model="newPath" class="form-control"><br>
				Image:	      
				<div class="fileUpload btn mainContent-btn">
   				<span>Select</span>
   				<input class="upload" type="file" ngf-select ng-model="newImage" name="file" accept="image/*" ngf-max-size="10MB" required
	             	ngf-model-invalid="errorFile"  id="file" >
	            </div>
	            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="newImage">Remove</button>
	            <br>
	            <img  ngf-thumbnail="newImage" width="80px" ng-show="newImage"> <br>
			</div>
		</div>  
		<div class="row row-padding-LR" >
	        <div class="col-md-12">
	        	Description:<textarea  class="form-control" ng-model="newDescription" ></textarea>
			</div>
		</div>   
		<div class="row row-padding">
			<div class="col-md-12">
	          <button class="btn mainContent-btn" type="button" ng-click="createModuleOk()">Submit</button>
	          <button class="btn mainContent-btn" type="button" ng-click="userCancel()">Cancel</button>
			</div>
		</div>
	
</div>