<!DOCTYPE html>
	
	<div id="mainTop" class="gemsContentTop gemsContentTop-style" ng-init="">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left"> 
				<button class="btn mainTop-btn" type="button" ng-click="#"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Controls" >☰</button>
			</div>
			<div class="mainTop-left">
				<p class="mainTop-title">System Properties &#10137; Basic Configuration</p>
			</div>
		</form>
		<div class="mainTop-right">
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="" uib-tooltip="Update" >Update</button>
		</div>	
	</div>
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-12">
				Browser Title: <input type="text" ng-model="" class="form-control"><br>
				Browser Icon:
				<div class="fileUpload btn mainContent-btn">
   				<span>Select</span>
				<input class="upload" type="file" ngf-select ng-model="newImage" name="file" accept="image/*" ngf-max-size="10MB" required
	             	ngf-model-invalid="errorFile"  id="file" >
	            </div>
	            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="newImage">Remove</button>
	            <br><img  ngf-thumbnail="newImage" width="80px" ng-show="newImage"> <br>
				Login Page Logo:
				<div class="fileUpload btn mainContent-btn">
   				<span>Select</span>
				<input class="upload" type="file" ngf-select ng-model="newImage" name="file" accept="image/*" ngf-max-size="10MB" required
	             	ngf-model-invalid="errorFile"  id="file" >
	            </div>
	            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="newImage">Remove</button>
	            <br><img  ngf-thumbnail="newImage" width="80px" ng-show="newImage"> <br>
				Banner Logo: 
				<div class="fileUpload btn mainContent-btn">
   				<span>Select</span>
				<input class="upload" type="file" ngf-select ng-model="newImage" name="file" accept="image/*" ngf-max-size="10MB" required
	             	ngf-model-invalid="errorFile"  id="file" >
	            </div>
	            <button class="btn mainContent-btn" type="button" ng-click="deleteImage()" ng-show="newImage">Remove</button>
	            <br><img  ngf-thumbnail="newImage" width="80px" ng-show="newImage"> <br>
				Default Language: <select ng-model="" class="form-control"><option>English</option></select><br>
			</div>
		</div>  
		<div class="row row-padding">
			<div class="col-md-12">
          		<button class="btn mainContent-btn" type="button" ng-click="">Update</button>
          		<button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>
	</div>