<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Email Server [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Image" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
	
		<div class="row row-padding" >
	        <div class="col-md-6">
				<img src="./img/normal/mandatory.png" class="form-icon"> Name: <input type="text" ng-model="newName" class="form-control"><br>
				Description: <input type="text" ng-model="newDescription" class="form-control"><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Host: <input type="text" ng-model="newPath" class="form-control"><br>
				<img src="./img/normal/mandatory.png" class="form-icon"> Port: <input type="text" ng-model="newPath" class="form-control"><br>
			</div>
			<div class="col-md-6">
				Username: <input type="text" ng-model="newPath" class="form-control"><br>
				Password: <input type="text" ng-model="newPath" class="form-control"><br>
				Sender Email: <input type="text" ng-model="newPath" class="form-control"><br>
				Order: <input type="text" ng-model="newDisplayOrder" class="form-control"><br>
				Active: <input type="checkbox" ng-model="newActive" class="checkbox"><br>
			</div>
		</div>  
		<div class="row row-padding">
			<div class="col-md-12">
          		<button class="btn mainContent-btn" type="button" ng-click="">Submit</button>
          		<button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>
</div>
