<!DOCTYPE html>
<div id="mainTop"></div>
	<div class="gemsContentWithoutTop gemsContent-style">
		<div align="center" ng-if="modules.length>0"><h1>{{'TXT_HOMEPAGE' | translate }}</h1></div>
		
		<table class="homepage">	
			<tbody>
				<tr ng-repeat="module in modules" ng-if="$index % 3 == 0">
					<td >
						<div>
							<p class="homepage-p"><a ng-click="runModule(modules[$index].id)"><img ng-src="{{modules[$index].imageUrlPath}}" width="80px"class="homepage-img">
							<label class="homepage-text">{{modules[$index].name| translate}}</label>
	       					<br>{{modules[$index].description}}</a></p>
						</div>
					</td>
					<td>
						<div>
							<p class="homepage-p"><a ng-click="runModule(modules[$index+1].id)"><img ng-src="{{modules[$index+1].imageUrlPath}}" width="80px"class="homepage-img">
							<label class="homepage-text">{{modules[$index+1].name| translate}}</label>
	       					<br>{{modules[$index+1].description}}</a></p>			
						</div>
					</td>
					<td>
						<div>
							<p class="homepage-p"><a ng-click="runModule(modules[$index+2].id)"><img ng-src="{{modules[$index+2].imageUrlPath}}" width="80px"class="homepage-img">
							<label class="homepage-text">{{modules[$index+2].name | translate}}</label>
	       					<br>{{modules[$index+2].description}}</a></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>