<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="./img/dsdicon.ico">

<link rel="stylesheet" href="css/login.css">

<link rel="stylesheet" href="css/angular-chart.css">
<link rel="stylesheet" type="text/css"  href="./css/ngDialog.css">
<link rel="stylesheet" type="text/css"  href="./css/ngDialog-theme-default.css">

<script type="text/javascript" src="./js/jquery-2.2.4.js"></script>
<script type="text/javascript" src="./js/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="./js/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="./js/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
 

<script src="./js/bower_components/angular/angular.js"></script>
<script src="./js/angular-animate.js"></script>
<script src="./js/angular-route.min.js"></script>
<script src="./js/controller/dsd.js"></script>
<script src="./js/bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="./js/ui-bootstrap-custom-tpls-1.0.3.min.js"></script>
<script src="./js/angular-sanitize.js"></script>
<script src="./js/Chart.min.js"></script>
<script src="./js/angular-chart.js"></script>
<script src="./js/ng-file-upload/ng-file-upload.js"></script>
<script src="./js/sha256.js"></script>
<script src="./js/angular-translate.js"></script>
<script src="./js/angular-translate-loader-static-files.js"></script>
<script src="./js/ngDialog.min.js"></script>
<!-- openlayer -->
<script src="./js/bower_components/openlayers3/build/ol.js"></script>
<script src="./js/bower_components/angular/angular.min.js"></script>
<script src="./js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./js/dist/angular-openlayers-directive.js"></script>
<!-- dateFormat -->
<script src="./js/date.format.js"></script>

<link rel="stylesheet" href="./js/bower_components/openlayers3/build/ol.css" />
<link rel="stylesheet" href="./js/dist/angular-openlayers-directive.css" />       

<!-- rangeSlider -->
<script src="./js/bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<link rel="stylesheet" href="./js/bower_components/angular-rangeslider/angular.rangeSlider.css">

<!-- ui-select -->
<script src="./js/bower_components/angular-ui-select/dist/select.js"></script>
<link rel="stylesheet" href="./js/bower_components/angular-ui-select/dist/select.css">

<link rel="stylesheet" href="./js/bower_components/angular-ui-switch/angular-ui-switch.css"/>
<script src="./js/bower_components/angular-ui-switch/angular-ui-switch.js"></script> 
<script>
	function myOnSubmit(aForm) {
		//Getting the two input objects
		//Getting the two input objects
		//var inputUsername = aForm['username'];
		var enterPassword = aForm['enterPassword'];
		var password = aForm['password'];
		
		//Hashing the values before submitting
		password.value = Sha256.hash(enterPassword.value);
		//Submitting
		return true;
	}
</script>

</head>
<body ng-app="dsd" ng-controller="loginCtrl">
	<title class="ng-cloak">{{'TXT_MAINTITLE' | translate}}</title>
	<div class="login">
		<div class="login-screen" style="border: 0px solid #b3b3b3;border-radius:20px;">
			<div class="app-title">
				<div>
					<img src="./img/DSD_icon.png" class="login-logo">
				</div>
				<h2 ng-cloak>{{'TXT_MAINTITLE' | translate}}</h2>
			</div>
			<form name="f" action="login" method="POST" class="form"
				onsubmit="return myOnSubmit(this);">
				<div class="login-form">
					<div ng-show="error" class="alert alert-danger" style="color:#f44336">{{error | translate}}</div>
					<div style="padding-bottom:5px;"><label>{{'LOGIN_ID'|translate}}</label></div>
					<div class="control-group">
						<input type="text" class="login-field" name="username" style="border: 1px solid #b3b3b3"
							placeholder="" autofocus required> <label
							class="login-field-icon fui-user" for="login-name"></label>
					</div>
					<div style="padding-top:15px;padding-bottom:5px;"><label>{{'TXT_PASSWORD'|translate}}</label></div>
					<div class="control-group">
						<input type="password" class="login-field" name="enterPassword" style="border: 1px solid #b3b3b3"
							placeholder="" required>
						<input type="hidden" name="password" >
							
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<button type="submit" class="btn btn-primary btn-large btn-block"
						id="login-button">{{ 'TXT_LOGIN' | translate }}</button>
					<!-- <a class="login-link" href="#">{{ 'TXT_FORGET_EMAIL' | translate }}</a>  --><br>
					<div>
					</div>
				</div>
			</form>
			<br>
			<button class="button button-small button-login" ng-click="changeLanguage('zh')" >中文</button>
     		<button class="button button-small button-login" ng-click="changeLanguage('en')" >English</button>
			<span style="float:right;"><a href="http://www.cuhk.edu.hk/english/index.html"><img src="./img/CUHK_logo.png" width="32" height="32"></a>
			<label style="font-size:12px;">{{'VERSION'|translate}}: 0.9.1</label></span>
		</div>
	</div>
</body>
</html>




