<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{name | translate}}</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding">
	        <div class="col-md-12">
	        <p><img  ng-src="{{imageUrlPath}}" width="80px"class="homepage-img">
	        <h3><label>{{name | translate}}</label></h3>
	        {{description}}
	        </p>
	    	</div>
	    </div>
	    
		<div class="row mainContent-separator-light">
	        <div class="col-md-12 bg-light-grey homepage-text">
	        <label>{{"ITEMS" | translate}}</label>
			</div>
		</div>
		<div class="row row-padding mainContent-separator-light" ng-repeat="menu in menus">
	        <a  ng-href="#/{{path}}/{{menu.path}}" ><div class="col-md-12">
	        <label>{{menu.name | translate}}</label><br>
	        {{menu.description}}
	        </div></a>
	    </div>
	    <div class="row row-padding mainContent-separator-light">
	        <div class="col-md-12">
	        </div>
	    </div>
	</div>