<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">User [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
	<div class="form-group">

		<div class="row row-padding">
	        <div class="col-md-3">
	        <img src="./img/normal/mandatory.png" class="form-icon"> Mandatory Text:<br>
	        Password:<br>
	        Checkbox:<br>
	        Email:<br>
	        </div>
	         <div class="col-md-3">
	         <input type="text" ng-model="newUserLoginId" class="form-control">
				<input type="password" ng-model="password" class="form-control">
	        	<input type="checkbox" ng-model="myCheckbox" class="checkbox">
				 <input type="email" ng-model="newUserEmail" class="form-control">
	        </div> 
	        <div class="col-md-3">
	        State:
	        Select:
	        Radio:
	        </div>
	         <div class="col-md-3">
	         	<div class="gems-form-control">
					<img src="./img/normal/collapse.png" class="state-popup-icon">
					<img src="./img/normal/done.png" class="state-icon">
					<img src="./img/normal/done.png" class="state-icon">
					<img src="./img/normal/current.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
					<img src="./img/normal/incomplete.png" class="state-icon">
				</div>
				 <select ng-model="newUserDepartment" class="form-control" ng-options="d.id as d.engName for d in deptList" ></select>
				<div class="radio">
	       		<label class="radio-inline"><input type="radio" ng-model="myVar" value="A"> Option A </label>
	       		<label class="radio-inline"><input type="radio" ng-model="myVar" value="B"> Option B </label>
	       		</div>
	        </div>
	        
	        
	        
	       
		</div>
		<div class="row row-padding-LR">
	        <div class="col-md-12">
				Short Description: <input type="text" ng-model="short" class="form-control">
			</div>
		</div>
		<div class="row row-padding">
	        <div class="col-md-6">
				TextArea:<textarea  class="form-control" ng-model="myTextArea" ></textarea>
			</div>
	        <div class="col-md-6">
	       		Upload:<button type="button" ng-click="myBut" class="form-control">Click to Add</button><br>
				Photo:<div><img src="./img/photo.png" width="100px"></div>
			</div>
		</div>
		<div class="row row-padding-LR">
	        <div class="col-md-12">
				TextArea:<textarea  class="form-control" ng-model="myTextAreas" ></textarea>
			</div>
		</div>
		<div class="row row-padding">
	        <div class="col-md-12">
	          <button class="btn mainContent-btn" type="button" ng-click="createUserOk()">Submit</button>
	          <button class="btn mainContent-btn" type="button" ng-click="userCancel()">Cancel</button>
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-md-12">
				<uib-tabset active="active" class="nav-tabs" >
		        	<uib-tab class="" index="0" heading="General" select="userRoletabShown = !userRoletabShown" deselect="userRoletabShown = !userRoletabShown">
		        		<div class="row row-padding">
					        <div class="col-md-6">
								<div class="col-md-6">Start Date:<input type="text" ng-model="" class="form-control"></div>
								<div class="col-md-6">End Date:<input type="text" ng-model="" class="form-control"></div>
								<div class="col-md-6">Account:<input type="text" ng-model="" class="form-control"></div>
							</div>
					        <div class="col-md-6">
					        	
					        </div>
						</div>
						
						
		        	</uib-tab>
		        	<uib-tab index="1" heading="Activity" select="userGrouptabShown = !userGrouptabShown" deselect="userGrouptabShown = !userGrouptabShown">
		        		<h3>Action: <button type="button" class="btn btn-primary" ng-click="o">Edit</button></h3>
		        		
		        	</uib-tab>
		        	<uib-tab index="3" heading="Approval History" select="userGrouptabShown = !userGrouptabShown" deselect="userGrouptabShown = !userGrouptabShown">
		        		<h3>Action: <button type="button" class="btn btn-primary" ng-click="o">Edit</button></h3>
		        		
		        	</uib-tab>
		        </uib-tabset>
	        </div>
		</div>
	</div>     
</div>