<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div ng-show="isChartView==true" class="mainTop-left">
			<p class="mainTop-title">{{'CHART_VIEW' | translate}} &#10137; {{'SELECT_TAG' | translate}}: <select ng-model="selectedTag" class="form-control" ng-options="tag as tag.name for tag in tagConfigurations" 
				ng-change="onTagSelected(selectedTag)"></select></p>
		</div>	
		<div ng-show="isChartView==true" class="mainTop-left" style="padding: 2px 0px 0px 0px;">
		  	<button class="btn mainTop-btn" type="button" ng-click="onSelectTagFromMap()"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="{{'TAG_LOCATION'|translate}}" ><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i></button>
		</div>		
		<div ng-show="isChartView==true" class="mainTop-left">
			<p class="mainTop-title" >&nbsp;&nbsp;{{'DEVICE_ID' | translate}}:&nbsp;<input type="text" ng-model="selectedTag.deviceId" class="form-control" style="width:60px;" ng-readonly="true"></p>
  		</div>
  		
  		<div ng-show="isChartView==false" class="mainTop-left" >
 			<p class="mainTop-title">{{"DIAGNOSTIC_CHART_VIEW" | translate}}&nbsp;&#10137;&nbsp;&nbsp;{{"SELECT_DEVICE_ID" | translate}}:&nbsp;<select ng-model="selectDeviceId" class="form-control" ng-change="onDeviceIdChanged(selectDeviceId)">
				<option ng-repeat="deviceId in deviceIdConfigurations" value="{{deviceId}}">{{deviceId}}</option>
			</select>&nbsp;<a ng-click="getAllDeviceId()"><img src="./img/normal/reload.png" 
				tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Refresh Device Ids" class="top-icon"></a></p>
		</div>	
	</form>
</div>		


<form name="userForm" class="gemsContent gemsContent-style">
<div class="row">
  	<div class="col-md-3">
		{{'START_DATE' | translate}}:
		<div class="form-group">
    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="startDate" callback-fn="setFromDate(arg1)"  >
           		<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
      	</div>  	
  	</div>
<!--   	<div class="col-md-2" ng-show="false">
		{{'Y-AXIS-MIN' | translate}}: <input type="text" ng-model="yAxisMinValue" class="form-control" ng-disabled="numOfSensorSelected!=1||selectedTag.sensorConfig==null">
  	</div>
  	<div class="col-md-2" ng-show="false">
		{{'Y-AXIS-MAX' | translate}}: <input type="text" ng-model="yAxisMaxValue" class="form-control" ng-disabled="numOfSensorSelected!=1||selectedTag.sensorConfig==null">
  	</div> -->
  	<div class="col-md-9">
  		<div class="form-group" ng-class="{ 'has-error' : userForm.coverLevel.$invalid || userForm.waterLevel.$invalid || userForm.h2s.$invalid || userForm.so2.$invalid || userForm.co2.$invalid || userForm.ch4.$invalid || userForm.nh3.$invalid || userForm.o2.$invalid || userForm.rssi.$invalid}">
			<div class="col-md-9" style="padding-left: 0px;" >
				<table style="width:100%;padding: 4px 4px 4px 4px;" class="table-curved">{{"SELECT_SENSOR_TYPE"| translate}}:
					<tr>
	 					<td>{{"COVER_DETECT" | translate}}<input name="coverDetect" type="radio" ng-model="sensorType.name" value="setCoverDetect" class="radio" ng-required="isSensorTypeSelected == false"></td>
<!-- 				    	<td>{{"WATER_LEVEL_1_DETECT" | translate}}<input name="waterLevel1Detect" type="radio" ng-model="sensorType.name" value="setWaterLevel1Detect" class="radio" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"WATER_LEVEL_2_DETECT" | translate}}<input name="waterLevel2Detect" type="radio" ng-model="sensorType.name" value="setWaterLevel2Detect"  class="radio" ng-required="isSensorTypeSelected == false"></td> -->
						<td>{{"WATER_LEVEL" | translate}}<input name="radio" type="radio" ng-model="sensorType.name" value="setWaterLevel"  class="radio" ng-disabled="isWaterLevel==false" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"H2S" | translate}}<input name="h2s" type="radio" ng-model="sensorType.name" value="setH2s" class="radio"  ng-disabled="isH2s==false" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"SO2" | translate}}<input name="so2" type="radio" ng-model="sensorType.name" value="setSo2" class="radio"  ng-disabled="isSo2==false" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"CO2" | translate}}<input name="co2" type="radio" ng-model="sensorType.name" value="setCo2" class="radio" ng-disabled="isCo2==false" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"CH4" | translate}}<input name="ch4" type="radio" ng-model="sensorType.name" value="setCh4" class="radio" ng-disabled="isCh4==false" ng-required="isSensorTypeSelected == false"></td>
	 					<td>{{"NH3" | translate}}<input name="nh3" type="radio" ng-model="sensorType.name" value="setNh3" class="radio" ng-disabled="isNh3==false" ng-required="isSensorTypeSelected == false"></td>
	 					<td>{{"O2" | translate}}<input name="o2" type="radio" ng-model="sensorType.name" value="setO2" class="radio" ng-disabled="isO2==false" ng-required="isSensorTypeSelected == false"></td>
				    	<td>{{"RSSI" | translate}}<input name="rssi" type="radio" ng-model="sensorType.name"  value="setRssi" class="radio" ng-disabled="selectedTag==null&&selectDeviceId==null" ng-required="isSensorTypeSelected == false"></td>
						<td width="140px;"><p ng-show="userForm.coverLevel.$error.required || userForm.waterLevel.$error.required || userForm.h2s.$error.required || userForm.so2.$error.required || userForm.co2.$error.required || userForm.ch4.$error.required || userForm.nh3.$error.required || userForm.o2.$error.required" class="help-block" >{{'SENSOR_TYPE_IS_REQUIRED'|translate}}</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
  	<div class="col-md-3">
		{{'END_DATE' | translate}}:
		<div class="form-group">
	    	<div class='input-group date' id='datetimepicker2' timepicker ng-model="endDate" callback-fn="setToDate(arg1)"  >
	        	<input type='text' class="form-control" />
	            	<span class="input-group-addon">
	                	<span class="glyphicon glyphicon-calendar"></span>
	              	</span>
	          	</div>
	 	</div>  	
  	</div>
	<div class="col-md-3" style="padding-left: 16px;" >
		{{'Y-AXIS-MAX' | translate}}: 
		<div range-slider min="yAxisMinValue" max="yAxisFixMaxValue" decimal-places="1" model-min="yAxisMinValue" model-max="yAxisMaxValue" attach-handle-values="true" show-values="true" disabled="isSearchSuccess==false" on-handle-up="onChangeYAxis()" pin-handle="min"></div>
	</div>
	<div class="col-md-2" style="padding-left: 16px;"  >
		{{'WATER_LEVEL_CHART_TYPE' | translate}}:
		<select style="margin-top: 8px;" ng-model="waterLevelChartType" class="form-control" ng-change="onWaterLevelChartType(waterLevelChartType)" ng-disabled="sensorType.name!='setWaterLevel'">
			<option value="from_top">{{'FROM_TOP'|translate}}</option>
			<option value="from_bottom">{{'FROM_BOTTOM'|translate}}</option>
		</select>
	</div>
  	<div class="col-md-1" style="padding-left:30px;padding-top:6px;">
  		<button class="btn mainTop-btn" type="button" style="margin-top: 19px;"
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="searchSensorData()" uib-tooltip="Search" ng-disabled="userForm.$invalid||canPlot()==false">{{'SEARCH'|translate}}</button>
  	</div>	
  	<div class="col-md-3">
  		<br>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="realTime" ng-disabled="isSearchSuccess==false" ng-click="toggleRealTime()">{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
			</label>
		</div> 	
  	</div>
</div>
<div class="row">
	<div id="chartContainer" ng-style="{'width':chartWidth, 'height':chartHeight }"></div>
</div>  
</form>


			