<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left">
				<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
			</div>
			<div class="mainTop-left">
				<p class="mainTop-title">{{"FLOOR_PLAN_VIEW" | translate}}&#10137; {{"SELECT_SITE" | translate}}: 
					<select ng-model="selectedSite" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-change="searchTagConfigurations(selectedSite)" required>
					</select>
				</p>
			</div>
			<div class="mainTop-left">
 				<p class="mainTop-title"><a ng-click="searchTagConfigurations(selectedSite)"><img src="./img/normal/reload.png" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					uib-tooltip="Refresh markers" class="top-icon"></a></p>
			</div>			
		</form>
	</div>		

	
	<div class="gemsContent gemsContent-style">
		<div id="map" class="mainMap" ng-style="mapStyle"></div>
		<script>
			var tagConfigurations = [];
		  	var map = null;
		  	var markers = [];
		  	var markersMap = []; 
		  	
		  	function gotoTableView(tagConfigurationId) {
		 		angular.element(document.getElementById('mainTop')).scope().openTagConfiguration(tagConfigurationId, 'TableView');
		  	}
		  	
		  	function gotoChartView(tagConfigurationId) {
		  		angular.element(document.getElementById('mainTop')).scope().openTagConfiguration(tagConfigurationId, 'ChartView');
		  	}
		  	
		  	function gotoTagConfiguration(tagConfigurationId) {
		  		angular.element(document.getElementById('mainTop')).scope().openTagConfiguration(tagConfigurationId, 'TagConfiguration');
		  	}
		  	
		  	function gotoAlertHistory(tagConfigurationId) {
		  		angular.element(document.getElementById('mainTop')).scope().openTagConfiguration(tagConfigurationId, 'AlertHistory');
		  	}
		  	function gotoTagSensorView(tagConfigurationId) {
		  		angular.element(document.getElementById('mainTop')).scope().openTagConfiguration(tagConfigurationId, 'TagSensorView');
		  	}
		  	
		  	function getMarkers() {
		  		return markers;
		  	}
		  	
		  	function getMarkerByDeviceId(deviceId) {
		  		if ( typeof markersMap[deviceId] === "undefined")
		  			return null;
		  		
		  		return markersMap[deviceId];
		  	}
		  	
		  	function clearMakers() {
		  		for (var i = 0; i < markers.length; i++) {
		  	    	markers[i].setMap(null);
		  	   	}
		  		markers = [];
		  		markersMap = [];
		  	}
		  	
		  	//select current tagConfiguration in the list box
		  	function highlightMarker(tagConfiguration) {
		  		var markerToHighlight = markersMap[tagConfiguration.deviceId];
		  		if (typeof markerToHighlight === "undefined") {
		  			return;
		  		}
/* 		  		var markerUrl = 'img/site/blueMarker.png'; 
	  		 	var image = {
	      		    url: markerUrl,
	      		    // This marker is 32 pixels wide by 32 pixels high.
	      		    size: new google.maps.Size(32, 32),
	      		    // The origin for this image is (0, 0).
	      		    origin: new google.maps.Point(0, 0),
	      		    // The anchor for this image is the base of the flagpole at (0, 51).
	      		    anchor: new google.maps.Point(16, 32)
	       	    };
	  		 	markerToHighlight.setIcon(image); 	 */	 	
	  		 	
	  		  	var pt = new google.maps.LatLng(markerToHighlight.tagConfiguration.lat, markerToHighlight.tagConfiguration.lon);
	  		 	map.setZoom(17);
				map.setCenter(pt);
				
				markerToHighlight.infoWindow.open(map, markerToHighlight);
	    	}
		  	
		  	function scrollToMarkers(tagConfigurations, siteConfiguration) {
		  		clearMakers();
		  		initMap(true);
		  	    for (var i = 0; i < tagConfigurations.length; ++i) {
		           var tagConfiguration = tagConfigurations[i];
		           var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
		           
		           var markerUrl = 'img/site/yellowMarker.png'; 
		           var labelClass = "markerLabelYellow";
		           
		           if ( tagConfiguration.validationResult == true) {
		        	   markerUrl = 'img/site/greenMarker.png';  
		        	   labelClass = 'markerLabelGreen';
		           } else if ( tagConfiguration.validationResult == false ) {
		        	   markerUrl = 'img/site/redMarker.png';  
		        	   labelClass = 'markerLabelRed';
		           }
        	   
		           var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		          		   
		           var content = $('.markerInfoWindow').html();
		           var content = angular.element(document.getElementById('mainTop')).scope().enrichContent(content, tagConfiguration);
		           
		           var infoWindow = new google.maps.InfoWindow({ content: content, maxWidth: 700});
			           
		           var marker = new MarkerWithLabel({
		           		position : position,
		             	map: map,
		                draggable: false,
		                raiseOnDrag: false,
		                labelContent: tagConfiguration.name,
		                labelAnchor: new google.maps.Point(100, 0),
		                labelClass: labelClass,
		                labelInBackground: false,
		                icon: image
		           });
		           
		   		   google.maps.event.addListener(marker,'click', (function(marker,content,infoWindow){ 
		   	        	return function() {
		   	        		infoWindow.setContent(content);
		   	        		infoWindow.open(map,marker);
		   	        	};
		   		   })(marker,content,infoWindow)); 
		   		
		   		   marker.tagConfiguration = tagConfiguration;
		           marker.infoWindow = infoWindow;
		           markers.push(marker);
		           
		           markersMap[tagConfiguration.deviceId] = marker;
		     	}
		  		
	            var selectedTagConfiguration = angular.element(document.getElementById('mainTop')).scope().getSelectedTagConfiguration();
	            if (selectedTagConfiguration != null) {
	            	highlightMarker(  selectedTagConfiguration );
	            } else {
	            	var pt = new google.maps.LatLng(siteConfiguration.lat, siteConfiguration.lon);
			  		map.setCenter(pt);
		            map.setZoom(siteConfiguration.zoomLevel);	            	
	            }
		  	}
		  	
		   	function initMap(loadMapOnly) {
		  		var defaultPosition = {lat: 22.2855200, lng: 114.1576900};
		      	map = new google.maps.Map(document.getElementById('map'), {
		         	zoom: 11,
		         	center: defaultPosition
		       	});
		      	
		        var script = document.createElement('script');
		        script.src = './js/markerwithlabel/markerwithlabel.js';
		        script.type = 'text/javascript';
		        var head = document.getElementsByTagName("head")[0];
		        head.appendChild(script);
		        
		        if (loadMapOnly == true) 
		        	return;
		        
/* 		      	var selectedSite = angular.element(document.getElementById('mainTop')).scope().getSelectedSite();
		      	if ( selectedSite != null) {
		      		angular.element(document.getElementById('mainTop')).scope().searchTagConfigurations(selectedSite.id);
		      	} */
		  	}
		</script>
		<script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
		</script>
	</div>
    <div class="markerInfoWindow" ng-show="false">
    	<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="margin-left:1px;margin-right:1px;">
   			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'TAG_NAME'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.name_'> _tagConfiguration.name_ </span>
			</div>
		</div>
    	<div id="tagConfigurationImage" class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="margin-left:1px;margin-right:1px;height:100%;display: _tagConfiguration.display_ ;">
			<img src=" _tagConfiguration.imageUrlPath_" width="145px" style="padding-top:3px;padding-bottom:3px;">    		
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'TAG_ID'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.deviceId_'> _tagConfiguration.deviceId_ </span>
			</div>
		</div>

		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'TIME'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.dateString2_'> _tagConfiguration.dateString2_ </span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'READER_ID'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.readerIds_'> _tagConfiguration.readerIds_ </span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'COVER_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverDetectStr_'> _tagConfiguration.coverDetectStr_ </span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'WATER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel_'> _tagConfiguration.waterLevel_ cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'WATER_LEVEL_1_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel1DetectStr_'> _tagConfiguration.waterLevel1DetectStr_ </span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'WATER_LEVEL_2_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel2DetectStr_'> _tagConfiguration.waterLevel2DetectStr_ </span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'H2S'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.h2s_'> _tagConfiguration.h2s_ ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'SO2'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.so2_'> _tagConfiguration.so2_ ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'CO2'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.co2_'> _tagConfiguration.co2_ ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'CH4'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.ch4_'> _tagConfiguration.ch4_ ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'NH3'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.nh3_'> _tagConfiguration.nh3_ ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'RSSI'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.rssi_'> _tagConfiguration.rssi_ dBm</span>
			</div>
		</div>		
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;"><strong>{{'BATTERY'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'> _tagConfiguration.batteryStr_ </span>
			</div>
		</div>	
<!-- 		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:100px;"><strong>{{'PACKET_COUNTER'|translate}}:</strong>
			</div>
			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:100px;">
				<span animate-on-change='_tagConfiguration.packetCounter_'> _tagConfiguration.packetCounter_ </span>
			</div>
		</div> -->	
		<div class="row ">
			<div class="col-md-2" ng-class="false ? 'dashBoardTableRowSelect' : 'dashBoardTableRow'" style="border-radius:0px;">
				<button class="button button-positive3 paddingRight-0px"  style="float: left; border-radius:0px;" onclick="gotoTableView( _tagConfiguration.id_ )" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'TABLE_VIEW'|translate}}" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <!-- <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> -->
					  <i class="fa fa-table fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px"  style="float: left; border-radius:0px;" onclick="gotoChartView(  _tagConfiguration.id_ )" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'CHART_VIEW'|translate}}">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
 					 	  <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px"  style="float: left; border-radius:0px;" onclick="gotoTagSensorView(  _tagConfiguration.id_ )" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'SENSOR_VIEW'|translate}}">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa ion-ios-pulse-strong fa-stack-1x fa-inverse info-number "><span ng-show="tagConfiguration.numOfSensorDatas>0" class="badge2 bg-red">{{tagConfiguration.numOfSensorDatas}}</span></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px"  style="float: left; border-radius:0px;" onclick="gotoAlertHistory( _tagConfiguration.id_ )" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'ALERT_HISTORY'|translate}}">
					<span class="fa-stack fa-lg">
					  	<i class="fa fa-square fa-stack-2x"></i>
					 	<i class="fa fa-bell fa-stack-1x fa-inverse info-number "><span ng-show="tagConfiguration.numOfAlerts>0" class="badge2 bg-red">{{tagConfiguration.numOfAlerts}}</span></i>
					</span>
				</button>
			</div>
		</div>
    </div>