<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left">
				<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
			</div>
			<div class="mainTop-left">
				<p class="mainTop-title">{{"TABLE_VIEW" | translate}} &#10137; {{"SELECT_SITE" | translate}}: 
					<select ng-model="selectedSiteId" class="form-control" ng-options="site.id as site.name for site in siteConfigurations" ng-change="searchTag(selectedSiteId,selectedGroupId)" ></select>
				</p>
			</div>
<!-- 			<div class="mainTop-left"> 
				<p class="mainTop-p mainTop-text-goto">{{"GROUP_ID" | translate}}:</p>
			</div> 
			<div class="mainTop-left">
				<input type="text" name="searchValue" class="form-control" size="10" placeholder="Search" ng-model="selectedGroupId"/>
				<a><img src="./img/normal/search.png" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					uib-tooltip="Search" class="top-icon" ng-click="searchTag(selectedSiteId,selectedGroupId)" ></a>	
			</div>	-->
		</form>
	</div>		

	
	<div class="gemsContent gemsContent-style">
		<div ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter ui-grid-pagination ng-style="getTableStyle()"></div>
	</div>
	<script type="text/ng-template" id="popover1.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;">
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TAG_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.deviceId_'>{{row.entity.deviceId}}</span>
			</div>
		</div>

		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TIME'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.dateString2_'>{{row.entity.dateString2}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.readerIds_'>{{row.entity.readerIds}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'COVER_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverDetectStr_'>{{row.entity.coverDetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel_'>{{row.entity.waterLevel}} cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_1_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel1DetectStr_'>{{row.entity.waterLevel1DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_2_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel2DetectStr_'>{{row.entity.waterLevel2DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'H2S'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.h2s_'>{{row.entity.h2s}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'SO2'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.so2_'>{{row.entity.so2}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'CH4'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.ch4_'>{{row.entity.ch4}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_RSSI'|translate}}:</strong>
			</div>
			<div class="col-md-15 no-padding" style="font-weight:normal;margin-top:4px;width:800px;">
				<span animate-on-change='_tagConfiguration.rssi_'>{{row.entity.readerRssi}} dBm</span>
			</div>
		</div>		
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'BATTERY'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.batteryStr}}</span>
			</div>
		</div>	
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'PACKET_COUNTER'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.packetCounter}}</span>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-2" ng-class="false ? 'dashBoardTableRowSelect' : 'dashBoardTableRow'" style="border-radius:0px;">
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'FLOOR_PLAN_VIEW'|translate}}" style="padding-left:13px; float: left; border-width:0px;" ng-click="grid.appScope.openTagConfigurationMapData(row.entity)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
 					 	  <i class="fa ion-ios-location fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'CHART_VIEW'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.openTagConfigurationChartData(row.entity)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
 					 	  <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'SENSOR_VIEW'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.openTagConfigurationSensorData(row.entity)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
 					 	  <i class="fa ion-ios-pulse-strong fa-stack-1x fa-inverse"></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'TAG_CONFIGURATION'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.openTagConfiguration(row.entity.tagConfigurationId)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa ion-pricetags fa-stack-1x fa-inverse info-number "></i>
					</span>
				</button>
				<button class="button button-positive3 paddingRight-0px" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0" uib-tooltip="{{'ALERT_HISTORY'|translate}}" style="float: left; border-width:0px;" ng-click="grid.appScope.openTagConfigurationAlertData(row.entity)" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa fa-bell fa-stack-1x fa-inverse info-number "></i>
					</span>
				</button>
			</div>
		</div>
</div> 
</script>
<script type="text/ng-template" id="popover2.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;">
	<div id="map" style="height:300px;width:250px">
	</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
</script>
</div> 
</script>
<script>
	function highlightMarker(tagConfiguration) {
      	map = new google.maps.Map(document.getElementById('map'));
        
       	var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
        
        var markerUrl = 'img/site/yellowMarker.png'; 
        var labelClass = "markerLabelYellow";
        
        if ( tagConfiguration.validationResult == true) {
     	   markerUrl = 'img/site/greenMarker.png';  
     	   labelClass = 'markerLabelGreen';
        } else if ( tagConfiguration.validationResult == false ) {
     	   markerUrl = 'img/site/redMarker.png';  
     	   labelClass = 'markerLabelRed';
        }
        
        var image = {
   		    url: markerUrl,
   		    // This marker is 32 pixels wide by 32 pixels high.
   		    size: new google.maps.Size(32, 32),
   		    // The origin for this image is (0, 0).
   		    origin: new google.maps.Point(0, 0),
   		    // The anchor for this image is the base of the flagpole at (0, 51).
   		    anchor: new google.maps.Point(16, 32)
     	};
        
        var marker = new google.maps.Marker({
       		position : position,
         	map: map,
            icon: image
       	});
        
       	window.google.maps.event.addListener(marker, 'click', function () {
       	});

		var pt = new google.maps.LatLng(tagConfiguration.lat, tagConfiguration.lon);
  		map.setZoom(16);
		map.setCenter(pt);		
	}
	function initMap() {
      	var sensorConfig = angular.element(document.getElementById('mainTop')).scope().getMouseOverTagConfiguration();
     	if ( sensorConfig == null) {
     		return;
     	} 	
        angular.element(document.getElementById('mainTop')).scope().searchTagConfiguration( sensorConfig.deviceId );
	}
</script>