<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'TAG_SENSOR_VIEW' | translate}} &#10137; {{'SELECT_TAG' | translate}}: 
			<select ng-model="selectedTag" class="form-control" ng-options="tag as tag.name for tag in tagConfigurations" ng-change="onDeviceIdSelected(selectedTag.sensorConfigs[0])"></select></p>
		</div>
		<div class="mainTop-left" style="padding: 2px 0px 0px 0px;">
		  	<button class="btn mainTop-btn" type="button" ng-click="onSelectTagFromMap()"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="{{'TAG_LOCATION'|translate}}" ><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i></button>
		</div>		
		<div class="mainTop-left">
			<p class="mainTop-title" >&nbsp;&nbsp;{{'DEVICE_ID' | translate}}:&nbsp;<input type="text" ng-model="selectedTag.deviceId" class="form-control" style="width:60px;" ng-readonly="true"></p>
  		</div>			
	</form>
</div>		


<form name="applicationForm" class="gemsContent gemsContent-style">
<div class="row">
  	<div class="col-md-3">
		{{'START_DATE'|translate}}:
		<div class="form-group">
    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="startDate" callback-fn="setFromDate(arg1)"  >
    			<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
      	</div>  	
  	</div>
  	<div class="col-md-7">
  		<div class="form-group" ng-class="{ 'has-error' : userForm.coverLevel.$invalid || userForm.waterLevel.$invalid || userForm.h2s.$invalid || userForm.so2.$invalid || userForm.co2.$invalid || userForm.ch4.$invalid || userForm.nh3.$invalid || userForm.o2.$invalid || userForm.rssi.$invalid}">
			<div class="col-md-7">
			<table style="width:100%;padding: 4px 4px 4px 4px;" class="table-curved">{{"SELECT_SENSOR_TYPE"| translate}}:
				<tr>
				    <td>{{'WATER_LEVEL'|translate}}<input type="checkbox" ng-model="selectedTag.isWaterLevel" class="checkbox" ng-disabled="true"></td>
				    <td>{{'H2S'|translate}}<input type="checkbox" ng-model="selectedTag.isH2s" class="checkbox" ng-disabled="true"></td>
  					<td>{{'SO2'|translate}}<input type="checkbox" ng-model="selectedTag.isSo2" class="checkbox" ng-disabled="true"></td>
  					<td>{{'CO2'|translate}}<input type="checkbox" ng-model="selectedTag.isCo2" class="checkbox" ng-disabled="true"></td>
				    <td>{{"CH4" | translate}}<input type="checkbox"  ng-model="selectedTag.isCh4" class="checkbox" ng-disabled="true"></td>
  					<td>{{"NH3" | translate}}<input type="checkbox"  ng-model="selectedTag.isNh3" class="checkbox" ng-disabled="true"></td>
  					<td>{{"O2" | translate}}<input type="checkbox"  ng-model="selectedTag.isO2" class="checkbox" ng-disabled="true"></td>
				</tr>
			</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
  	<div class="col-md-3">
		{{'END_DATE'|translate}}::
		<div class="form-group">
	    	<div class='input-group date' id='datetimepicker2' timepicker ng-model="endDate" callback-fn="setToDate(arg1)"  >
	    		<input type='text' class="form-control" />
	            	<span class="input-group-addon">
	                	<span class="glyphicon glyphicon-calendar"></span>
	              	</span>
	          	</div>
	 	</div>  	
  	</div>
  	<div class="col-md-1" style="padding-left:30px;">
  		<br>
		<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="searchSensorData(selectedTag)" uib-tooltip="Search" ng-disabled="selectedTag==null">{{'SEARCH'|translate}}</button>
  	</div>
	<div class="col-md-3">
  		<br>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="realTime" ng-click="toggleRealTime()" ng-disabled="isSearchSuccess==false" >{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
			</label>
		</div> 	
  	</div>
</div>
<div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()"></div>
</form>

<script type="text/ng-template" id="popover1.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;">
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TAG_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.deviceId_'>{{row.entity.deviceId}}</span>
			</div>
		</div>

		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'TIME'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.dateString2_'>{{row.entity.dateString2}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_ID'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.readerIds_'>{{row.entity.readerIds}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;padding-top:0px;padding-bottom:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'COVER_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.coverDetectStr_'>{{row.entity.coverDetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel_'>{{row.entity.waterLevel}} cm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_1_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel1DetectStr_'>{{row.entity.waterLevel1DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'WATER_LEVEL_2_DETECT'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.waterLevel2DetectStr_'>{{row.entity.waterLevel2DetectStr}}</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'H2S'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.h2s_'>{{row.entity.h2s}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'SO2'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.so2_'>{{row.entity.so2}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'CH4'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.ch4_'>{{row.entity.ch4}} ppm</span>
			</div>
		</div>
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'READER_RSSI'|translate}}:</strong>
			</div>
			<div class="col-md-15 no-padding" style="font-weight:normal;margin-top:4px;width:800px;">
				<span animate-on-change='_tagConfiguration.rssi_'>{{row.entity.readerRssi}} dBm</span>
			</div>
		</div>		
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'BATTERY'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.batteryStr}}</span>
			</div>
		</div>	
		<div class="row rowPadding2 dashBoardTableRowDetails2 selectedColor" style="border:0px;margin-left:1px;margin-right:1px;">
   			<div class="col-md-2 no-padding" style="font-weight:normal;margin-top:4px;width:85px;"><strong>{{'PACKET_COUNTER'|translate}}:</strong>
			</div>
			<div class="col-md-3 no-padding" style="font-weight:normal;margin-top:4px;width:80px;">
				<span animate-on-change='_tagConfiguration.batteryStr_'>{{row.entity.packetCounter}}</span>
			</div>
		</div>
</div> 
</script>

			