<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'SITE_CONFIGURATION'|translate}} [{{subName|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="createSiteConfigurationOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['SYSTEM_CONFIGURATION_SITE_CONFIGURATION']!=3">{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" ng-if="subName=='EDIT_RECORD' && currentPermission['SYSTEM_CONFIGURATION_SITE_CONFIGURATION']==1"
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="removeSiteConfiguration()" uib-tooltip="Delete" >{{'DELETE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['SYSTEM_CONFIGURATION_SITE_CONFIGURATION']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
		<div class="row">
	        <div class="col-md-3" >
				<label>{{'SITE_NAME'|translate}}:</label>
				<div class="form-group" ng-class="{ 'has-error' : userForm.newName.$invalid }">
					<input type="text" name="newName" ng-model="siteConfiguration.name" class="form-control" required>
					<p ng-show="userForm.newName.$error.required" class="help-block">{{'NAME_IS_REQUIRED'|translate}}</p>
				</div>
				{{'DESCRIPTION'|translate}}:<textarea rows="6" cols="50" ng-model="siteConfiguration.description" class="form-control"></textarea><br>
<!-- 				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="siteConfiguration.defaultSite" ng-disabled="siteConfiguration.oldDefaultSite">{{'DEFAULT_SITE'|translate}}
					</label>
				</div>  -->	
			</div>
			<div class="col-md-8">
		        <label>{{'MAP'|translate}}:</label>	      
				   <div id="map" style="height:800px" ></div>
				   <script>
				 	var map = null;
				  	function initMap() {
				  		var siteConfiguration = angular.element(document.getElementById('mainTop')).scope().getSiteConfiguration();
				  		var position = {lat: siteConfiguration.lat, lng: siteConfiguration.lon};
				        map = new google.maps.Map(document.getElementById('map'), {
				          zoom: siteConfiguration.zoomLevel,
				          center: position
				        });
				        
				   	}
				
				  	function setSiteConfiguration(siteConfiguration) {
				  		var latlog = map.getCenter();
				  		siteConfiguration.lat = latlog.lat();
				  		siteConfiguration.lon = latlog.lng();
				  		siteConfiguration.zoomLevel = map.getZoom();
				  	}
				  	
				    </script>
				    <script async defer
				        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
				    </script>
		   </div>
		</div>  
	</form>

