<!DOCTYPE html>
	
	<div id="mainTop" class="gemsContentTop gemsContentTop-style" ng-init="searchSiteConfiguration(null,null,null,null)">
		<form class="form-inline" action="#" method="post">
			<div class="mainTop-left">
				<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
				 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
			</div>		
			<div class="mainTop-left">
				<p class="mainTop-title">{{'SYSTEM_CONFIGURATION'|translate}}&#10137;{{'SITE_CONFIGURATION'|translate}}</p>
			</div>
			<div class="mainTop-left"> 
				<a href="javascript:void(0)" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
				uib-tooltip="Create New" onclick="window.location='#/SystemConfiguration/SiteConfiguration/New'" ng-if="currentPermission['SYSTEM_CONFIGURATION_SITE_CONFIGURATION']==1">
				<img src="./img/normal/add.png" class="mainTop-icon-add"></a>
			</div>
		</form>
	</div>		
	
	<div class="gemsContent gemsContent-style">
		<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()"></div>
	</div>