<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">OPEX [{{editOpexId}}]</p>
		</div>
		
		<div class="mainTop-right">	
			<!-- a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a-->
			<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="editOpexOk()" uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="removeOpex()" uib-tooltip="Delete" >Delete</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding" >
	        <div class="col-md-6">
	        	ID: <input type="text" ng-model=editOpexId class="form-control" readonly><br>
	        	Main Category Code: <input type="text" ng-model="editMainCategoryCode" class="form-control"><br>
				Main Category Name: <input type="text" ng-model="editMainCategoryName" class="form-control"><br>
				Category Code: <input type="text" ng-model="editCategoryCode" class="form-control"><br>
				Category Name: <input type="text" ng-model="editCategoryName" class="form-control"><br>					
			</div>
			 <div class="col-md-6">
				Sub Category Code: <input type="text" ng-model="editSubCategoryCode" class="form-control"><br>
				Sub Category Name: <input type="text" ng-model="editSubCategoryName" class="form-control"><br>
				Remark: <input type="text" ng-model="editRemark" class="form-control"><br>					
			</div>
		</div>  
		<div class="row row-padding">
			<div class="col-md-12">
          		<button class="btn mainContent-btn" type="button" ng-click="editOpexOk()">Update</button>
          		<button class="btn mainContent-btn" type="button" ng-click="removeOpex()">Delete</button>
			</div>
		</div>
</div>