<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Contract [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit for review" >Submit For Review</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
		<div class="form-group">
			<div class="row row-padding">
		        <div class="col-md-6">
					<img src="./img/normal/mandatory.png" class="form-icon"> Number:<input type="text" ng-model="" class="form-control"><br>
					<img src="./img/normal/mandatory.png" class="form-icon"> Vendor:<div class="input-group">
		      		<input type="text" class="form-control">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        <img src="./img/normal/search.png" class="mainTop-icon"></button>
				      </div>
				    </div><br>
					Type: <select ng-model="" class="form-control" ng-options="" ><option>Software</option></select><br>
				</div>
		        <div class="col-md-6">
		        	Status: <select ng-model="status" class="form-control" ng-options="" ><option></option></select><br>
					State: <select ng-model="state" class="form-control" ng-options="" ><option>Draft</option></select><br>
					Department: <select ng-model="newUserDepartment" class="form-control" ng-options="d.id as d.engName for d in deptList" ></select><br>
		        </div>
		        <div class="col-md-12">
					Short Description: <input type="text" ng-model="short" class="form-control">
				</div>
			</div>
			<div class="row row-padding-LR">
		        
			</div>
			<div class="row row-padding">
				<div class="col-md-12">
					<uib-tabset active="active" class="nav-tabs" >
			        	<uib-tab index="0" heading="General">
			        		<div class="row row-padding">
						        <div class="col-md-6">
									Start Date:<input type="text" ng-model="" class="form-control"><br>
									End Date:<input type="text" ng-model="" class="form-control"><br>
									Account:<input type="text" ng-model="" class="form-control"><br>
								</div>
						        <div class="col-md-6">
						        	Person in charge:<input type="text" ng-model="" class="form-control"><br>
									PO Number:<input type="text" ng-model="" class="form-control"><br>
									Approver:<input type="text" ng-model="" class="form-control"><br>
						        </div>
						        <div class="col-md-12">
						        	Description:<textarea  class="form-control" ng-model="myTextAreas" ></textarea>
						        </div>
							</div>
			        	</uib-tab>
			        </uib-tabset>
		        </div>
			</div>
			<div class="row row-padding">
				<div class="col-md-12">
		          <button class="btn mainContent-btn" type="button" ng-click="">Submit</button>
		          <button class="btn mainContent-btn" type="button" ng-click="">Submit For Review</button>
		          <button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
				</div>
			</div>
			
		</div>
	</div>