<!DOCTYPE html>
	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Contract [T24059]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#"  tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Update" >Update</button>
			<button class="btn mainTop-btn" type="button" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Delete" >Delete</button>
			<button class="btn btn-primary" type="button" ng-click="">Next</button>
		    <button class="btn btn-primary" type="button" ng-click="">Feedback</button>
		</div>	
	</div>

	<div class="gemsContent gemsContent-style">
		<div class="form-group">
			<div class="row row-padding">
		        <div class="col-md-12">
		        Attachment(2): <a><img src="./img/normal/file.png" class="state-icon">filexer.xls</a>  <a><img src="./img/normal/file.png" class="state-icon">upload.xls</a> 
		        </div>
		    </div>
			<div class="row row-padding-LR mainContent-separator">
		        <div class="col-md-12">
		        </div>
		    </div>
			<div class="row row-padding">
		        <div class="col-md-12">Flow: Contract New
			        <div class="row multistep">
				        <div class="col-xs-3 multistep-step complete">
				            <div class="text-center multistep-stepname">Draft</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step current">
				            <div class="text-center multistep-stepname">Submitted for Review</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Pending for Sign-off</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				
				        <div class="col-xs-3 multistep-step disabled">
				            <div class="text-center multistep-stepname">Completed</div>
				            <div class="progress"><div class="progress-bar"></div></div>
				            <a href="#" class="multistep-dot"></a>
				        </div>
				    </div>
		        </div>
			</div>
			<div class="row row-padding">
		        <div class="col-md-6">
					<img src="./img/normal/mandatory.png" class="form-icon"> Number:<input type="text" ng-model="" class="form-control"><br>
					<img src="./img/normal/mandatory.png" class="form-icon"> Vendor:<div class="input-group">
		      		<input type="text" class="form-control">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        <img src="./img/normal/search.png" class="mainTop-icon"></button>
				      </div>
				    </div><br>
					Type: <select ng-model="" class="form-control" ng-options="" ><option>Software</option></select><br>
				</div>
		        <div class="col-md-6">
		        	Status: <select ng-model="status" class="form-control" ng-options="" ><option>Active</option></select><br>
					State: <div class="gems-form-control">
						<img src="./img/normal/collapse.png" class="state-popup-icon">
						<img src="./img/normal/done.png" class="state-icon">
						<img src="./img/normal/current.png" class="state-icon">
						<img src="./img/normal/incomplete.png" class="state-icon">
						<img src="./img/normal/incomplete.png" class="state-icon">
						</div><br>
					Department: <select ng-model="newUserDepartment" class="form-control" ng-options="d.id as d.engName for d in deptList" ></select><br>
		        </div>
		        <div class="col-md-12">
					Short Description: <input type="text" ng-model="short" class="form-control"><br>
				</div>
				<div class="col-md-6">
					Created By:<input type="text" ng-model="" class="form-control" readonly><br>
					Last Updated By: <input type="text" ng-model="" class="form-control" readonly><br>
				</div>
		        <div class="col-md-6">
	        		Created Date:<input type="text" ng-model="" class="form-control" readonly><br>
					Last Updated Date: <input type="text" ng-model="" class="form-control" readonly><br>
		        </div>
			</div>
			<div class="row row-padding-LR">
		        
			</div>
			<div class="row row-padding">
				<div class="col-md-12">
					<uib-tabset active="active" class="nav-tabs" >
			        	<uib-tab index="0" heading="General">
			        		<div class="row row-padding">
						        <div class="col-md-6">
									Start Date:<input type="text" ng-model="" class="form-control"><br>
									End Date:<input type="text" ng-model="" class="form-control"><br>
									Account:<input type="text" ng-model="" class="form-control"><br>
								</div>
						        <div class="col-md-6">
						        	Person in charge:<input type="text" ng-model="" class="form-control"><br>
									PO Number:<input type="text" ng-model="" class="form-control"><br>
									Approver:<input type="text" ng-model="" class="form-control"><br>
						        </div>
						        <div class="col-md-12">
						        	Description:<textarea  class="form-control" ng-model="myTextAreas" ></textarea>
						        </div>
							</div>
			        	</uib-tab>
			        	<uib-tab index="1" heading="Activity">
			        	</uib-tab>
			        	<uib-tab index="2" heading="Flow History">
			        	</uib-tab>
			        </uib-tabset>
		        </div>
			</div>
			<div class="row row-padding">
				<div class="col-md-6">
		          <button class="btn mainContent-btn" type="button" ng-click="">Update</button>
		          <button class="btn mainContent-btn" type="button" ng-click="">Delete</button>
				</div>
				<div class="col-md-6">
		          	<button class="btn btn-primary" type="button" ng-click="">Next</button>
		          	<button class="btn btn-primary" type="button" ng-click="">Feedback</button>
				</div>
			</div>
			<div class="row row-padding"></div>
			<div class="row row-padding mainContent-separator">
		        <div class="col-md-12">
		        <h4>Related Items</h4>
		        </div>
		    </div>
			<div class="row row-padding">
			<div class="col-md-12">
				<uib-tabset active="active" class="nav-tabs" >
		        	<uib-tab index="0" heading="Projects">
		        		Todo: List of Project with this Contract<br>
		        		<div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        	<uib-tab index="1" heading="Purchase Request">
		        		Todo: List of PR with this Contract<br>
		        		<div ui-grid="userGridOption" ui-grid-selection class="grid record-grid" ui-grid-auto-resize ng-style="getTableStyle()"></div>
		        	</uib-tab>
		        </uib-tabset>
	        </div>
		</div>
		</div>
	</div>
