<!DOCTYPE html>

	<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="cancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<a href="javascript:void(0)" onclick="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Actions" ><img src="./img/normal/menu.png" class="mainTop-icon-menu"></a>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">Payment [New Record]</p>
		</div>
		
		<div class="mainTop-right">	
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Manage Attachment" ><img src="./img/normal/attachment.png" class="mainTop-icon"></a>
			<a href="#" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Settings" ><img src="./img/normal/setting.png" class="mainTop-icon"></a>
			<button class="btn mainTop-btn" type="button" 
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Submit" >Submit</button>
		</div>	
	</div>
		
	<div class="gemsContent gemsContent-style">
		<div class="row row-padding">
		<div class="col-md-12">
				Approved Purchase Request:
				<div class="input-group">
	      		<input type="text" class="form-control">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        <img src="./img/normal/search.png" class="mainTop-icon"></button>
			      </div>
			    </div><br>
			</div>
	        <div class="col-md-6">
	        	ID:<input type="text" ng-model="" class="form-control" readonly><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Issue Date:<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>	        	
	        	<img src="./img/normal/mandatory.png" class="form-icon">Currency:<select ng-model="currency" class="form-control" ng-options=""><option>HKD</option><option>USD</option></select><br>
	        	<img src="./img/normal/mandatory.png" class="form-icon">Amount:<input type="text" ng-model="" class="form-control"><br>
	        	Vendor:<select ng-model="main" class="form-control" ng-options=""><option>ABC Company</option><option>IT Company</option></select><br>
	        	Best Transaction No.:<input type="text" ng-model="" class="form-control"><br>
	        	Responsible:<input type="text" ng-model="" class="form-control"><br>
	        	Description:<textarea type="text" ng-model="" class="form-control"></textarea><br>
			</div>
	        <div class="col-md-6">
				
	        	Invoice No.:<input type="text" ng-model="" class="form-control"><br>
	        	Invoice Date:<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>
	        	Invoice Received Date:<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>
	        	Invoice Due Date:<div class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </div><br>
	        	Asset Code:<input type="text" ng-model="" class="form-control"><br>
	        	Fixed Asset Book Value:<input type="text" ng-model="" class="form-control"><br>
	        	Team:<input type="text" ng-model="" class="form-control"><br>
	        	Remark:<textarea type="text" ng-model="" class="form-control"></textarea><br>
	        </div>
		</div>
		 <div class="row row-padding">
	        <div class="col-md-12">
	          <button class="btn mainContent-btn" type="button" ng-click="">Submit</button>
	          <button class="btn mainContent-btn" type="button" ng-click="">Cancel</button>
			</div>
		</div>  
</div>