<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{"ALERT"|translate}}&#10137;{{"ALERT_HISTORY"|translate}}</p>
		</div>		
	</form>
</div>		


<form name="applicationForm" class="gemsContent gemsContent-style">
<div class="row">
  	<div class="col-md-2">
  		{{"ALERT_LEVEL"|translate}}:<select ng-model="alertLevel" class="form-control" ng-options="item for item in alertLevels" ></select><br>
  </div>
  	<div class="col-md-2">
		{{"START_DATE"|translate}}:
      	<div class="form-group">
    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="startDate" callback-fn="setFromDate(arg1)"  >
           		<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
	    </div>  
  	</div>
  	<div class="col-md-3">
  		<br>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="realTime" ng-click="toggleRealTime()" >{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
			</label>
		</div> 	
  	</div>
</div>
<div class="row">
  	<div class="col-md-2">
  		{{"TAG_CONFIGURATION"|translate}}:<select ng-model="selectedTagConfiguration" class="form-control" ng-options="item as item.name for item in tagConfigurations" ></select><br>
  	</div>
  	<div class="col-md-2">
		{{"END_DATE"|translate}}:
      	<div class="form-group">
    		<div class='input-group date' id='datetimepicker2' timepicker ng-model="endDate" callback-fn="setToDate(arg1)"  >
           		<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
	    </div>   	
  	</div>
  	<div class="col-md-3">
  		<br>
		<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="searchAlertData(selectedTagConfiguration.id)" uib-tooltip="Search" ng-disabled="searching==true">{{"SEARCH"|translate}}</button>
  	</div>
</div>
	<br>		   
	<div class="grid" ui-grid="gridOptions" ui-grid-selection  ui-grid-exporter ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()" ></div>
</form>
<script type="text/ng-template" id="popover1.html">
<div class="popover-content"  style="padding: 0px 0px 0px 0px;margin-left:0px;margin-right:0px;">
	<div id="map" style="height:300px;width:250px">
	</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
</script>
</div> 
</script>
<script>
	function initMap() {
      	var mouseOverAlert = angular.element(document.getElementById('mainTop')).scope().getMouseOverAlert();
     	if ( mouseOverAlert == null) {
     		return;
     	} 	

      	map = new google.maps.Map(document.getElementById('map'));
        
     	var tagConfiguration = mouseOverAlert.tagConfiguration;
     	var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
        
        var markerUrl = 'img/site/yellowMarker.png'; 
        var labelClass = "markerLabelYellow";
        
        if ( tagConfiguration.validationResult == true) {
     	   markerUrl = 'img/site/greenMarker.png';  
     	   labelClass = 'markerLabelGreen';
        } else if ( tagConfiguration.validationResult == false ) {
     	   markerUrl = 'img/site/redMarker.png';  
     	   labelClass = 'markerLabelRed';
        }
        
        var image = {
   		    url: markerUrl,
   		    // This marker is 32 pixels wide by 32 pixels high.
   		    size: new google.maps.Size(32, 32),
   		    // The origin for this image is (0, 0).
   		    origin: new google.maps.Point(0, 0),
   		    // The anchor for this image is the base of the flagpole at (0, 51).
   		    anchor: new google.maps.Point(16, 32)
     	};
        
        var marker = new google.maps.Marker({
       		position : position,
         	map: map,
            icon: image
       	});
        
       window.google.maps.event.addListener(marker, 'click', function () {
       });

		var pt = new google.maps.LatLng(tagConfiguration.lat, tagConfiguration.lon);
  		map.setZoom(16);
		map.setCenter(pt);
	}
</script>

	
			