<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
	<div class="mainTop-left">
		<p class="mainTop-title dialogTitleFont">{{'ALERT_DETAILS'|translate}}</p>
	</div>
		
	</div>
	<div id="main" class="gemsContent gemsContent-style" style="padding: 50px 0px 0px 10px;">
		<div class="row row-padding">
	        <div class="col-md-6 dialogLabelFont">
	          {{'ALERT_NAME'|translate}}<input type="text" ng-model="formData.alert.alertSettingName" class="form-control dialogContentFont" readonly><br>
	          {{'ALERT_LEVEL'|translate}}<input type="text" ng-model="formData.alert.alertSettingLevel" class="form-control dialogContentFont" readonly><br>
	         {{'TIME'|translate}}<input type="text" ng-model="formData.alert.createDateTimeStr" class="form-control dialogContentFont" readonly><br>
	         {{'TAG_CONFIGURATION'|translate}}<br>
		 	<div class="row no-padding">
		 	 	<div class="col-md-10">
		 			<input type="text" ng-model="formData.alert.tagConfigurationName" class="form-control dialogContentFont" readonly>
		 		</div>
		 		<div class="col-md-2">
		 			<button type="button" class="btn mainContent-btn dialogLabelFont" ng-click=confirm(true)>{{'OPEN_TAG_LOCATION'|translate}}</button><br>
				</div>
			</div><br>
			</div>
			<div class="col-md-12 dialogLabelFont">
			   {{'ALERT_MESSAGE'|translate}}<textarea type="text" rows="8" cols="50" ng-model="formData.alert.messageHtml" class="form-control dialogContentFont" readonly> </textarea><br>
			</div>
	   </div> 
		<div class="row button-padding center1 dialogLabelFont" style="padding-top: 0px; padding-bottom: 20px;">
			<button type="button" class="btn mainContent-btn dialogLabelFont" ng-click=confirm(false)>{{'OPEN_ALERT_SETTING'|translate}}</button>
			&nbsp;
			<button type="button" class="btn mainContent-btn dialogLabelFont" ng-click=closeThisDialog("Cancel")>{{'CLOSE'|translate}}</button>
		</div>

 </div>