<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{"ALERT"|translate}}&#10137;{{"ALERT_GROUP"|translate}}</p>
		</div>		
	</form>
</div>		


<form name="applicationForm" class="gemsContent gemsContent-style">
<div class="row">
	<div class="col-md-3">
		{{"SITE_CONFIGURATION"|translate}}:<select ng-model="selectedSite" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-change="getTagConfiguration(selectedSite)" ></select>
	</div>
  	<div class="col-md-2">
		{{"START_DATE"|translate}}:
      	<div class="form-group">
    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="startDate" callback-fn="setFromDate(arg1)"  >
           		<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
	    </div>  
  	</div>
  	<div class="col-md-2">
		{{"END_DATE"|translate}}:
      	<div class="form-group">
    		<div class='input-group date' id='datetimepicker2' timepicker ng-model="endDate" callback-fn="setToDate(arg1)"  >
           		<input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        	</div>
	    </div>   	
  	</div>
  	<div class="col-md-1">
  		<br>
		<button class="btn mainTop-btn" type="button" 
			tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			ng-click="searchAlertData(selectedSite)" uib-tooltip="Search" ng-disabled="searching==true||selectedSite==null">{{"SEARCH"|translate}}</button>
  	</div>
  	<div class="col-md-2">
  		<br>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="realTime" ng-click="toggleRealTime()" >{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
			</label>
		</div> 	
  	</div>
</div>
<div id="map" style="height:400px" ></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
</script>
<script>

	var tagConfigurations = [];
  	var map = null;
  	var markersMap = [];
  	var markersList = [];
  	var currentSelectedMarker = null;
  	var polyArray = [];
  	var poly = null;
  	var path = null;
  	var polyIndexTagConfigurationIdMap = [];
  	var lastClickOnMarker = null;
  	
  	function getPolyArray() 
  	{
  		return polyArray;
  	}
  	function clearMakers() {
  		for (var i = 0; i < markersMap.length; i++) {
  	    	if ( typeof markersMap[i] != 'undefined') {	
  				markersMap[i].setMap(null);
  	    	}
  	   	}
  		markersMap = [];
  		markersList = [];
  		currentSelectedMarker = null;
  	}
  	//select current tagConfiguration in the list box
  	function highlightMarker(tagConfiguration) {
  		unSelectCurrentMarker(); 
  		
  		var markerToHighlight = markersMap[tagConfiguration.id];
	  		var markerUrl = 'img/site/blueMarker.png'; 
		 	var image = {
  		    url: markerUrl,
  		    // This marker is 32 pixels wide by 32 pixels high.
  		    size: new google.maps.Size(32, 32),
  		    // The origin for this image is (0, 0).
  		    origin: new google.maps.Point(0, 0),
  		    // The anchor for this image is the base of the flagpole at (0, 51).
  		    anchor: new google.maps.Point(16, 32)
   	    };
		markerToHighlight.setIcon(null); 		 	
		var pt = new google.maps.LatLng(markerToHighlight.tagConfiguration.lat, markerToHighlight.tagConfiguration.lon);
  		map.setCenter(pt);
		currentSelectedMarker = markerToHighlight;
	}
  	
  	function unSelectCurrentMarker() {
  		if ( currentSelectedMarker != null) {
  			currentSelectedMarker.setIcon(currentSelectedMarker.originalImage);
  			currentSelectedMarker = null;
  		}
  	}
  	
  	//called by add
  	function selectMarker(tagConfiguration) {
  		//unSelectCurrentMarker(); 
  		
  		var markerToSelect = markersMap[tagConfiguration.id];
  		if (typeof markerToSelect == "undefined") {
  			return false; 
  		} 
  		
  		var markerUrl = 'img/site/blueMarker.png'; 
		 	var image = {
  		    url: markerUrl,
  		    // This marker is 32 pixels wide by 32 pixels high.
  		    size: new google.maps.Size(32, 32),
  		    // The origin for this image is (0, 0).
  		    origin: new google.maps.Point(0, 0),
  		    // The anchor for this image is the base of the flagpole at (0, 51).
  		    anchor: new google.maps.Point(16, 32)
   	    };
		 	markerToSelect.setIcon(image);
		 	markerToSelect.originalImage = image;
		 	return true;
	}
  	
    	
  	function scrollToMarkers(tagConfigurations, siteConfiguration) {
  		clearMakers();
        
  	    for (var i = 0; i < tagConfigurations.length; ++i) {
           var tagConfiguration = tagConfigurations[i];
           var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
           
           var markerUrl = null;
           var labelClass = "markerLabelYellow";
           
           if ( tagConfiguration.validationResult == true) {
        	   markerUrl = 'img/site/greenMarker.png';  
        	   labelClass = 'markerLabelGreen';
           } else if ( tagConfiguration.validationResult == false ) {
        	   markerUrl = 'img/site/redMarker.png';  
        	   labelClass = 'markerLabelRed';
           } else {
        	   markerUrl = 'img/site/yellowMarker.png'; 
        	   labelClass = 'markerLabelYellow';
           }
	   
           var image = {
      		    url: markerUrl,
      		    // This marker is 32 pixels wide by 32 pixels high.
      		    size: new google.maps.Size(32, 32),
      		    // The origin for this image is (0, 0).
      		    origin: new google.maps.Point(0, 0),
      		    // The anchor for this image is the base of the flagpole at (0, 51).
      		    anchor: new google.maps.Point(16, 32)
       	    };
          		   
	           var marker = new MarkerWithLabel({
           		position : position,
             	map: map,
                draggable: false,
                raiseOnDrag: false,
                labelContent: tagConfiguration.name,
                labelAnchor: new google.maps.Point(100, 0),
                labelClass: labelClass,
                labelInBackground: false,
                icon: image
           }); 
	 	   marker.tagConfiguration = tagConfiguration;
	 	   marker.originalImage = image;
	 	  
	           window.google.maps.event.addListener(marker, 'click', function () {
	        	  lastClickOnMarker = this;
	        	  	if ( angular.element(document.getElementById('mainTop')).scope().getCreateOrCompletePipleTitle() === "COMPLETE_LINE") {
	        	   		angular.element(document.getElementById('mainTop')).scope().addToGroupTagConfiguration(this.tagConfiguration);
	        	    	var event = new Object();
	        	    	event.latLng = this.position;
	        	   		addLatLng(event);
	        	  	}
	           });
	        
	           markersMap[tagConfiguration.id] = marker;
	           markersList.push(marker);
	       	}
  		var pt = new google.maps.LatLng(siteConfiguration.lat, siteConfiguration.lon);
  		map.setCenter(pt);
        map.setZoom(siteConfiguration.zoomLevel);
  	}
  	
	var removeAt = false;
  	function addLatLng(event) {
  		if (removeAt == true) {
  			removeAt = false;
  			return;
  		}
  		
  		var groupTagConfiguration = angular.element(document.getElementById('mainTop')).scope().getGroupTagConfiguration();
  		if ( groupTagConfiguration.siteConfiguration == null) 
  			return; 
  		
  		var path = poly.getPath();

        // Because path is an MVCArray, we can simply append a new coordinate
        // and it will automatically appear.
        path.push(event.latLng);

  		var markerUrl = 'img/site/circular-cross.png'; 
		 	var image = {
  		    url: markerUrl,
  		    // This marker is 32 pixels wide by 32 pixels high.
  		    size: new google.maps.Size(0, 0),
  		    // The origin for this image is (0, 0).
  		    origin: new google.maps.Point(0, 0),
  		    // The anchor for this image is the base of the flagpole at (0, 51).
  		    anchor: new google.maps.Point(0, 0)
   	    };
		 	
        // Add a new marker at the new plotted point on the polyline.
        var marker = new google.maps.Marker({
          position: event.latLng,
          title: '#' + path.getLength(),
          map: map,
          icon: image
        });
   	}

  	function clearAllPolyLines() {
  		
  		for (var i = 0; i < polyArray.length; ++i) {
  			var polyLine = polyArray[i];
  			polyLine.setMap(null);
  		}
  		polyIndexTagConfigurationIdMap = [];
  		polyArray = [];
  	}
  	
  	var highlightedPolyLine = null;
  	function highlightPolyLine(tagConfiguration) {
  		if ( highlightedPolyLine != null) {
  			highlightedPolyLine.setOptions({strokeColor: '#0000FF', strokeWeight: 3});
  			highlightedPolyLine = null;
  		}
  		
  		highlightedPolyLine = polyIndexTagConfigurationIdMap[tagConfiguration.id];
  		highlightedPolyLine.setOptions({strokeColor: 'red',  strokeWeight: 5});
  	}

  	function addPolyline(coordinates, tagConfigurationStrs) {
		
		poly = new google.maps.Polyline({
            strokeColor: '#0000FF',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            editable: false,
            path: coordinates
        });
		polyArray.push(poly);
		
		var tagConfigurationStrArray = tagConfigurationStrs.split(",");
		for (var i = 0; i < tagConfigurationStrArray.length; ++i) {
			var tagConfigurationId = tagConfigurationStrArray[i];
			polyIndexTagConfigurationIdMap[tagConfigurationId] = poly; 
		} 
		
		path = poly.getPath();

        google.maps.event.addListener(poly, 'rightclick', function(e) {
            // Check if click was on a vertex control point
            if (e.vertex == undefined) {
              return;
            }
       	});

        google.maps.event.addListener(path, "insert_at", function(index, obj){
        });
	        
        google.maps.event.addListener(path, "remove_at", function(index, obj){
        });
        
        google.maps.event.addListener(path, "set_at", function(index, obj){
        });

        poly.setMap(map);
	}
	
  	function initMap() {
  		
  		var defaultPosition = {lat: 22.2855200, lng: 114.1576900};
      	map = new google.maps.Map(document.getElementById('map'), {
         	zoom: 11,
         	center: defaultPosition
       	});
        
        var script = document.createElement('script');
        script.src = './js/markerwithlabel/markerwithlabel.js';
        script.type = 'text/javascript';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(script);
    }
</script>
<div class="grid" ui-grid="gridOptions" ui-grid-selection  ui-grid-exporter ui-grid-resize-columns ui-grid-pagination ng-style="getTableStyle()" ></div>
</form>


	
			