<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title" style="font-size:20px;">{{'ALERT_RULE_SETTING'|translate}} [{{subName|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="createAlertSettingOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['ALERT_ALERT_RULE_SETTING']!=3">{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="removeAlertSetting(alertSetting.id)" uib-tooltip="Delete" ng-if="subName=='EDIT_RECORD' && currentPermission['ALERT_ALERT_RULE_SETTING']==1">{{'DELETE'|translate}}</button>	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['ALERT_ALERT_RULE_SETTING']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
			  	<div class="col-md-5">
			  		<div class="form-group" ng-class="{ 'has-error' : userForm.level.$invalid }" style="font-size:16px;">
			  			{{'ALERT_LEVEL'|translate}}:<select name="level" ng-model="alertSetting.level" class="form-control"  style="font-size:16px;" ng-options="item for item in alertLevels" required></select>
			  			<p ng-show="userForm.level.$error.required" class="help-block">{{'ALERT_LEVEL_IS_REQUIRED'|translate}}</p>
			  		</div>
			  	</div>
			   	<div class="col-md-6">
			   		<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid }" style="font-size:16px;">
			  			{{'ALERT_NAME'|translate}}:<input name="name" type="text" ng-model="alertSetting.name" class="form-control" style="font-size:16px;" required>
			  			<p ng-show="userForm.name.$error.required" class="help-block">{{'ALERT_NAME_IS_REQUIRED'|translate}}</p>
			  		</div>
			  	</div>
			</div>
			<div class="row">
				<div class="col-md-11">
			  		<div class="form-group" ng-class="{ 'has-error' : userForm.site.$invalid }" style="font-size:16px;">
			  			{{'SITE'|translate}}:<select name="site" ng-change="selectSite(alertSetting.site, alertSetting.alertSettingSensorConfigs)" ng-model="alertSetting.site" style="font-size:16px;" class="form-control" ng-options="site as site.name for site in siteConfigurations" ng-required="alertSetting.useSiteId" ng-disabled="alertSetting.useSiteId==false"></select>
			  			<p ng-show="userForm.site.$error.required" class="help-block">{{'SITE_IS_REQUIRED'|translate}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<div name="sensor" ui-grid-selection ui-grid="sensorGridOptions" class="grid" ui-grid-auto-resize ui-grid-resize-columns ng-style="getSensorTableStyle()" ng-disabled="alertSetting.useSiteId==false"></div>
				</div>
			</div>
			<br>
			<div class="row">
			  	<div class="col-md-3">
				  	<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="alertSetting.useDateRange" >{{'USE_DATE_RANGE'|translate}}
						</label>
					</div> 	
			  	</div>
				<div class="col-md-4">
				  	{{'START_DATE'|translate}}:
					<div class="form-group">
			    		<div class='input-group date' id='datetimepicker1' timepicker ng-model="alertSetting.fromDate" callback-fn="setFromDate(arg1)"  >
			           		<input name="fromDate" type='text' class="form-control" ng-disabled="alertSetting.useDateRange==false" ng-required="alertSetting.useDateRange"/>
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			        	</div>
			      	</div>  	
			  	</div>
				<div class="col-md-4">
				  	{{'END_DATE'|translate}}:
					<div class="form-group">
			    		<div class='input-group date' id='datetimepicker2' timepicker ng-model="alertSetting.toDate" callback-fn="setToDate(arg1)">
			           		<input name="toDate" type='text' class="form-control"  ng-disabled="alertSetting.useDateRange==false" ng-required="useDateRange"/>
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			        	</div>
			      	</div>  	
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-md-3">
				  	<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="alertSetting.isSendEmail" >{{'SEND_EMAIL'|translate}}:
						</label>
					</div> 	
			  	</div>
			  	<div class="col-md-8">
				  	{{'EMAIL_RECEIPT_BY_COMMA'|translate}}:
				  	<div class="form-group" ng-class="{ 'has-error' : userForm.newEmails.$invalid }">
						<textarea  rows="4" cols="50" name="newEmails" ng-model="alertSetting.emails" class="form-control"  ng-disabled="alertSetting.isSendEmail==false" ng-required="alertSetting.isSendEmail"></textarea><br>
			  		</div>
			  	</div>
			</div>
			<div class="row">
			  	<div class="col-md-3">
				  	<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="alertSetting.isRepeatAlert" >{{'REPEAT_ALERT_IN_SECS'|translate}}:
						</label>
					</div> 	
			  	</div>
			  	<div class="col-md-8">
			  		<div class="form-group" ng-class="{ 'has-error' : userForm.newRepeatAlertInSecs.$invalid }">
			  			<input name="newRepeatAlertInSecs" type="number" min="30" ng-model="alertSetting.repeatAlertInSecs" class="form-control"  ng-disabled="alertSetting.isRepeatAlert==false" ng-required="alertSetting.isRepeatAlert"><br>
			  		</div>
			  	</div>
			</div>	
		</div>
		<div class="col-md-3">
			<div id="map" style="height:650px;width:700px" ></div>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v6ML__dWqNBpQPErGxdfCcs4yIgUfMU&callback=initMap">
			</script>
			<script>
			var tagConfigurations = [];
		  	var map = null;
		  	var markers = [];
		  	var currentSelectedMarker = null;
		  	
		  	function getMarkers() {
		  		return markers;
		  	}
		  	
		  	function clearMakers() {
		  		for (var i = 0; i < markers.length; i++) {
		  	    	if ( typeof markers[i] != 'undefined') {	
		  				markers[i].setMap(null);
		  	    	}
		  	   	}
		  		markers = [];
		  		currentSelectedMarker = null;
		  	}
		  	//select current tagConfiguration in the list box
		  	function highlightMarker(tagConfiguration) {
		  		unSelectCurrentMarker(); 
		  		
		  		var markerToHighlight = markers[tagConfiguration.id];
 		  		var markerUrl = 'img/site/blueMarker.png'; 
	  		 	var image = {
	      		    url: markerUrl,
	      		    // This marker is 32 pixels wide by 32 pixels high.
	      		    size: new google.maps.Size(32, 32),
	      		    // The origin for this image is (0, 0).
	      		    origin: new google.maps.Point(0, 0),
	      		    // The anchor for this image is the base of the flagpole at (0, 51).
	      		    anchor: new google.maps.Point(16, 32)
	       	    };
	  		 	markerToHighlight.setIcon(null); 		 	
	  		 	var pt = new google.maps.LatLng(markerToHighlight.tagConfiguration.lat, markerToHighlight.tagConfiguration.lon);
		  		map.setCenter(pt);

	  			currentSelectedMarker = markerToHighlight;
	    	}
		  	
		  	function unSelectCurrentMarker() {
		  		if ( currentSelectedMarker != null) {
		  			currentSelectedMarker.setIcon(currentSelectedMarker.originalImage);
		  			currentSelectedMarker = null;
		  		}
		  	}
		  	
		  	//called by delete
		  	function deleteMarker(tagConfiguration) {
		  		unSelectCurrentMarker();
		  		
		  		var markerToUnHighlight = markers[tagConfiguration.id];
		  		
		  		var markerUrl = null;
	           	var labelClass = "markerLabelYellow";
	           
	           	if ( markerToUnHighlight.tagConfiguration.validationResult == true) {
	        	   markerUrl = 'img/site/greenMarker.png';  
	        	   labelClass = 'markerLabelGreen';
	           	} else if ( markerToUnHighlight.tagConfiguration.validationResult == false ) {
	        	   markerUrl = 'img/site/redMarker.png';  
	        	   labelClass = 'markerLabelRed';
	           	} else {
	        	   markerUrl = 'img/site/yellowMarker.png'; 
	        	   labelClass = 'markerLabelYellow';
	           	}
     	   
	           	var image = {
	      		    url: markerUrl,
	      		    // This marker is 32 pixels wide by 32 pixels high.
	      		    size: new google.maps.Size(32, 32),
	      		    // The origin for this image is (0, 0).
	      		    origin: new google.maps.Point(0, 0),
	      		    // The anchor for this image is the base of the flagpole at (0, 51).
	      		    anchor: new google.maps.Point(16, 32)
	       	    };
	           	
	           	markerToUnHighlight.setIcon(image);
	           	markerToUnHighlight.originalImage = image;
		   	}
		  	
		  	//called by add
		  	function selectMarker(tagConfiguration) {
		  		//unSelectCurrentMarker(); 
		  		
		  		var markerToSelect = markers[tagConfiguration.id];
		  		if (typeof markerToSelect == "undefined") {
		  			return false; 
		  		} 
		  		
		  		var markerUrl = 'img/site/blueMarker.png'; 
	  		 	var image = {
	      		    url: markerUrl,
	      		    // This marker is 32 pixels wide by 32 pixels high.
	      		    size: new google.maps.Size(32, 32),
	      		    // The origin for this image is (0, 0).
	      		    origin: new google.maps.Point(0, 0),
	      		    // The anchor for this image is the base of the flagpole at (0, 51).
	      		    anchor: new google.maps.Point(16, 32)
	       	    };
	  		 	markerToSelect.setIcon(image);
	  		 	markerToSelect.originalImage = image;
	  		 	return true;
	    	}
		  	
		  	function scrollToMarkers(tagConfigurations, siteConfiguration) {
		  		clearMakers();
	            
		  	    for (var i = 0; i < tagConfigurations.length; ++i) {
		           var tagConfiguration = tagConfigurations[i];
		           var position = {lat: tagConfiguration.lat, lng: tagConfiguration.lon };
		           
		           var markerUrl = null;
		           var labelClass = "markerLabelYellow";
		           
		           if ( tagConfiguration.validationResult == true) {
		        	   markerUrl = 'img/site/greenMarker.png';  
		        	   labelClass = 'markerLabelGreen';
		           } else if ( tagConfiguration.validationResult == false ) {
		        	   markerUrl = 'img/site/redMarker.png';  
		        	   labelClass = 'markerLabelRed';
		           } else {
		        	   markerUrl = 'img/site/yellowMarker.png'; 
		        	   labelClass = 'markerLabelYellow';
		           }
        	   
		           var image = {
		      		    url: markerUrl,
		      		    // This marker is 32 pixels wide by 32 pixels high.
		      		    size: new google.maps.Size(32, 32),
		      		    // The origin for this image is (0, 0).
		      		    origin: new google.maps.Point(0, 0),
		      		    // The anchor for this image is the base of the flagpole at (0, 51).
		      		    anchor: new google.maps.Point(16, 32)
		       	    };
		          		   
 		           var marker = new MarkerWithLabel({
		           		position : position,
		             	map: map,
		                draggable: false,
		                raiseOnDrag: false,
		                labelContent: tagConfiguration.name,
		                labelAnchor: new google.maps.Point(100, 0),
		                labelClass: labelClass,
		                labelInBackground: false,
		                icon: image
		           }); 
			 	   marker.tagConfiguration = tagConfiguration;
			 	   marker.originalImage = image;
			 	  
 		           window.google.maps.event.addListener(marker, 'click', function () {
 		        	  angular.element(document.getElementById('mainTop')).scope().addOrUpdateAlertSettingSensorConfig(this.tagConfiguration);
 		           });
 		           markers[tagConfiguration.id] = marker;
 		       }
		  		var pt = new google.maps.LatLng(siteConfiguration.lat, siteConfiguration.lon);
		  		map.setCenter(pt);
	            map.setZoom(siteConfiguration.zoomLevel);
		  	}
		  	
		  	function initMap() {
		  		var defaultPosition = {lat: 22.2855200, lng: 114.1576900};
		      	map = new google.maps.Map(document.getElementById('map'), {
		         	zoom: 11,
		         	center: defaultPosition
		       	});

		        map.addListener('click', function() {
		        	  angular.element(document.getElementById('mainTop')).scope().clearCurrentSelection();
		        });
		        
		        var script = document.createElement('script');
		        script.src = './js/markerwithlabel/markerwithlabel.js';
		        script.type = 'text/javascript';
		        var head = document.getElementsByTagName("head")[0];
		        head.appendChild(script);
		        angular.element(document.getElementById('mainTop')).scope().startPage();
		        
		        $("#mySlider").on("slide", function (event, ui) { return false; });
		    }
		  	</script>
			<br>
		</div>
	</div>
	<div class="col-md-12">
		<uib-tabset active="active" class="nav-tabs"  >
			<uib-tab index="0" style="font-size:16px;" heading="{{'ALERT_CRITERIA'|translate}}">
	 		<div class="row">
				<div class="col-md-2"><br>
		  			<div class="form-group" ng-class="{ 'has-error' : userForm.alertCriteria.$invalid }">
		  				<select name="alertCriteria" ng-model="alertSetting.alertCriteria" ng-change="onChangeCriteria(alertSetting.alertCriteria)" class="form-control" ng-options="item.name for item in alertCriterias" required ></select>
		  				<p ng-show="userForm.alertCriteria.$error.required" class="help-block">{{'ALERT_CRITERIA_IS_REQUIRED'|translate}}</p>
		  			</div>
		  		</div>
		  		<div class="col-md-1">
		  			<div class="form-group">
		  				<br><button class="form-group" type="button" 
						tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0"
						ng-click="openAlertCriteria(alertSetting.alertCriteria)" uib-tooltip="{{'EDIT_ALERT_CRITERIA'|translate}}" ng-disabled="alertSetting.alertCriteria==null"><i class="fa fa-2x fa-crosshairs" aria-hidden="true"></i></button>
					</div>
				</div>
		  	</div>
		  	<div class="row " ng-if="alertSetting.alertCriteria.isCoverDetect" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
			  	<div class="col-md-1" style="font-size:14px;font-weight:normal;">
			  		<label >{{'COVER_DETECT'|translate}}</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isCoverDetect" ng-click="toggleIsCoverDetect()" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
				</div>
				 <label class="switch">
					<input type="checkbox" ng-disabled="alertSetting.alertCriteria.isCoverDetect==false" ng-model="alertSetting.alertCriteria.coverDetect" ng-click="toggleCoverDetect()" disabled="true">
				    <div ng-class="alertSetting.alertCriteria.isCoverDetect?'slider round':'slider2 round'" ng-disabled="alertSetting.alertCriteria.isCoverDetect==false" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{alertSetting.alertCriteria.coverDetectOpenOrCloseStr}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isCoverLevel" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'COVER_LEVEL'|translate}}</label>&nbsp;<label style="font-size:12px;">(cm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isCoverLevel" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="0" max="200" decimal-places="0" model-min="alertSetting.alertCriteria.minCoverLevelValue" model-max="alertSetting.alertCriteria.maxCoverLevelValue" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotCoverLevelBetween" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isWaterLevel" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9;background-image: linear-gradient(to left, #8edbed, #2f96b4);border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'WATER_LEVEL'|translate}}</label>&nbsp;<label style="font-size:12px;">(cm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isWaterLevel" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="0" max="200" decimal-places="0" model-min="alertSetting.alertCriteria.minWaterLevelValue" model-max="alertSetting.alertCriteria.maxWaterLevelValue" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotWaterLevelBetween" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isH2s" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'H2S'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isH2s" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="100" decimal-places="2" model-min="alertSetting.alertCriteria.minH2sValue" model-max="alertSetting.alertCriteria.maxH2sValue" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotH2sBetween" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isSo2" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'SO2'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isSo2" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="100" decimal-places="2" model-min="alertSetting.alertCriteria.minSo2Value" model-max="alertSetting.alertCriteria.maxSo2Value" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotSo2Between" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isCo2" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'CO2'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isCo2" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="10" decimal-places="2" model-min="alertSetting.alertCriteria.minCo2Value" model-max="alertSetting.alertCriteria.maxCo2Value" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotCo2Between" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isCh4" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'CH4'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isCh4" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-50" max="50" decimal-places="2" model-min="alertSetting.alertCriteria.minCh4Value" model-max="alertSetting.alertCriteria.maxCh4Value" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotCh4Between" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isNh3" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'NH3'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isNh3" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-50" max="50" decimal-places="2" model-min="alertSetting.alertCriteria.minCh4Value" model-max="alertSetting.alertCriteria.maxCh4Value" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotNh3Between" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			<div class="row main_align" ng-if="alertSetting.alertCriteria.isO2" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px;height:70px;">
			  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
			  		<label >{{'NH3'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
			  	</div>
			  	<div >	  	
			  		<label class="switch">
						<input type="checkbox" ng-model="alertSetting.alertCriteria.isO2" disabled="true">
					    <div class="slider round"></div>
					</label>
				</div>
				<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
					<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="10" decimal-places="2" model-min="alertSetting.alertCriteria.minO2Value" model-max="alertSetting.alertCriteria.maxO2Value" attach-handle-values="true" show-values="true" disabled="true" ></span>
			   	</div>
		   		 <label class="switch">
					<input type="checkbox" ng-model="alertSetting.alertCriteria.isNotNh3Between" disabled="true" >
				    <div class="slider round" disabled="true" ></div>
				</label>
		   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
		  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
				</div> 	
			</div>
			</uib-tab>
			<uib-tab index="1" style="font-size:16px;" heading="{{'ALERT_HISTORY'|translate}}">
				<div class="row">
					<div class="col-md-2"><br>
			  			<div class="form-group">
			  				<select name="history" ng-model="currentHistorySelection" ng-change="onChangeHistory(currentHistorySelection)" class="form-control" ng-options="item for item in historyLevels" ></select>
			  			</div>
			  		</div>
					<div class="col-md-1">
		  				<div class="form-group">
		  					<br><button class="form-group" type="button" 
							tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="0"
							ng-click="onChangeHistory(currentHistorySelection)" uib-tooltip="{{'REFRESH'|translate}}"><i class="fa fa-2x fa-refresh" aria-hidden="true"></i></button>
						</div>
					</div>
			  		<div class="col-md-2" ng-show="false">
				  		<br>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="realTimeXX" ng-click="toggleRealTime()" >{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
							</label>
						</div> 	
				  	</div>
			  	</div>
			  	<div class="row">
			  		<div ui-grid="gridOptionsAlertHistory" ui-grid-auto-resize ui-grid-selection  ui-grid-resize-columns ui-grid-exporter class="grid" style="width:95%;margin-left:25px;margin-right:25px;"></div>
			  	</div>
			</uib-tab>
		</uib-tabset>
		</div>
</form>
