<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
		
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'ALERT_CRITERIA'|translate}} [{{subName|translate}}]</p>
		</div>
		
		<div class="mainTop-left">	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="createAlertCriteriaOk()" uib-tooltip="Save" ng-disabled="userForm.$invalid" ng-if="currentPermission['ALERT_ALERT_CRITERIA']!=3">{{'SAVE'|translate}}</button>
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="removeAlertCriteria(alarmCriteria.id)" uib-tooltip="Delete" ng-if="subName=='EDIT_RECORD' && currentPermission['ALERT_ALERT_CRITERIA']==1">{{'DELETE'|translate}}</button>	
			<button class="btn mainTop-btn" type="button" 
					tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
					ng-click="userCancel()" uib-tooltip="Cancel" ng-if="currentPermission['ALERT_ALERT_CRITERIA']!=3" >{{'CANCEL'|translate}}</button>
		</div>	
	</div>
		
	<form name="userForm" class="gemsContent gemsContent-style">
	<div class="row"  style="display:flex;align-items:center;margin:0px 10px 10px 5px;">
		<div class="col-md-2" style="font-size:16px;">
			<label>{{'ALERT_CRITERIA_NAME'|translate}}:</label>
		</div>
	   	<div class="col-md-4"  style="font-size:16px;">
	   		<div class="row" ng-class="{ 'has-error' : userForm.name.$invalid }" style="display:flex;align-items:center;">
	  			<input name="name" type="text" ng-model="alarmCriteria.name" class="form-control" required>
	  		</div>
	  		<p ng-show="userForm.name.$error.required" class="help-block darkRedColor bold">{{'ALERT_CRITERIA_NAME_IS_REQUIRED'|translate}}</p>
	  	</div>
	</div>
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:14px;font-weight:normal;">
	  		<label >{{'COVER_DETECT'|translate}}</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isCoverDetect" ng-click="toggleIsCoverDetect()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
		</div>
		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isCoverDetect==false" ng-model="alarmCriteria.coverDetect" ng-click="toggleCoverDetect()">
		    <div ng-class="alarmCriteria.isCoverDetect?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isCoverDetect==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{alarmCriteria.coverDetectOpenOrCloseStr}}</label>
		</div> 	
	</div>
	<div class="row" style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; border: 0px solid #35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:14px;font-weight:normal;">
	  		<label >{{'COVER_LEVEL'|translate}}</label>&nbsp;<label style="font-size:12px;">(cm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isCoverLevel" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="0" max="200" decimal-places="0" model-min="alarmCriteria.minCoverLevelValue" model-max="alarmCriteria.maxCoverLevelValue" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isCoverLevel==false"  ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isCoverLevel==false" ng-model="alarmCriteria.isNotCoverLevelBetween" >
		    <div ng-class="alarmCriteria.isCoverLevel?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isCoverLevel==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div> 	
	</div>
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:14px;font-weight:normal;">
	  		<label >{{'WATER_LEVEL'|translate}}</label>&nbsp;<label style="font-size:12px;">(cm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isWaterLevel" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="0" max="200" decimal-places="0" model-min="alarmCriteria.minWaterLevelValue" model-max="alarmCriteria.maxWaterLevelValue" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isWaterLevel==false" filter="waterLevelFilter" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isWaterLevel==false" ng-model="alarmCriteria.isNotWaterLevelBetween">
		    <div ng-class="alarmCriteria.isWaterLevel?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isWaterLevel==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div> 	
	</div>  
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'H2S'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isH2s" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="100" decimal-places="1" model-min="alarmCriteria.minH2sValue" model-max="alarmCriteria.maxH2sValue" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isH2s==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isH2s==false"  ng-model="alarmCriteria.isNotH2sBetween" >
		    <div ng-class="alarmCriteria.isH2s?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isH2s==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div> 	
	</div> 
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'SO2'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isSo2" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="100" decimal-places="2" model-min="alarmCriteria.minSo2Value" model-max="alarmCriteria.maxSo2Value" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isSo2==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isSo2==false"  ng-model="alarmCriteria.isNotSo2Between" >
		    <div ng-class="alarmCriteria.isSo2?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isSo2==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div>
	</div> 
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'CO2'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isCo2" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="10" decimal-places="2" model-min="alarmCriteria.minCo2Value" model-max="alarmCriteria.maxCo2Value" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isCo2==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isCo2==false"  ng-model="alarmCriteria.isNotCo2Between" >
		    <div ng-class="alarmCriteria.isCo2?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isCo2==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div>
	</div>
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'CH4'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isCh4" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-50" max="50" decimal-places="2" model-min="alarmCriteria.minCh4Value" model-max="alarmCriteria.maxCh4Value" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isCh4==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isCh4==false"  ng-model="alarmCriteria.isNotCh4Between" >
		    <div ng-class="alarmCriteria.isCh4?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isCh4==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div>
	</div>
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'NH3'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isNh3" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-50" max="50" decimal-places="2" model-min="alarmCriteria.minNh3Value" model-max="alarmCriteria.maxNh3Value" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isNh3==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isNh3==false"  ng-model="alarmCriteria.isNotNh3Between" >
		    <div ng-class="alarmCriteria.isNh3?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isNh3==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div>
	</div>
	<div class="row " style="display:flex;align-items:center;border: 1px solid #35aec9; background-color:#35aec9; background-image: linear-gradient(to left, #8edbed, #2f96b4); border: 0px solid #35aec9; border-radius: 5px; margin:0px 5px 10px 5px; height:70px;">
	  	<div class="col-md-1" style="font-size:15px;font-weight:normal;">
	  		<label >{{'O2'|translate}}</label>&nbsp;<label style="font-size:12px;">(ppm)</label>
	  	</div>
	  	<div >	  	
	  		<label class="switch">
				<input type="checkbox" ng-model="alarmCriteria.isO2" ng-click="toggleFlag()">
			    <div class="slider round"></div>
			</label>
		</div>
		<div class="col-md-3" style="margin: 15px 0px 0px 0px;" >
			<span style="padding: 5px 0px 5px 0px;" range-slider min="-10" max="10" decimal-places="2" model-min="alarmCriteria.minO2Value" model-max="alarmCriteria.maxO2Value" attach-handle-values="true" show-values="true" disabled="alarmCriteria.isO2==false" ></span>
	   	</div>
   		 <label class="switch">
			<input type="checkbox" ng-disabled="alarmCriteria.isO2==false"  ng-model="alarmCriteria.isNotO2Between" >
		    <div ng-class="alarmCriteria.isO2?'slider round':'slider2 round'" ng-disabled="alarmCriteria.isO2==false" ></div>
		</label>
   		<div class="col-md-3 medium vam" style="font-size:15px;font-weight:normal;">
  			<label >{{'USE_OUT_OF_RANGE_TRIGGER_ALERT'|translate}}</label>
		</div>
	</div>
</form>
