<!DOCTYPE html>
<div id="mainTop" class="gemsContentTop gemsContentTop-style">
	<form class="form-inline" action="#" method="post">
		<div class="mainTop-left">
			<button class="btn mainTop-btn" type="button" ng-click="userCancel()"
			 tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="1000"
			uib-tooltip="Back" ><img src="./img/normal/back.png" class="mainTop-icon"></button>
		</div>
		<div class="mainTop-left">
			<p class="mainTop-title">{{'NETWORK'|translate}}&#10137;{{'READER_HEART_BEAT_VIEW'|translate}}</p>
		</div>		
		<div class="mainTop-left">
				<input type="checkbox" ng-model="realTime" ng-disabled="searched==false" ng-click="toggleRealTime()" class="checkbox">&nbsp;{{'RECEIVE_REALTIME_UPDATES_FROM_SERVER'|translate}}
		</div> 	
	</form>
</div>		

<form name="applicationForm" class="gemsContent gemsContent-style">
	<div ui-grid="gridOptions" class="grid" ui-grid-auto-resize  ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ng-style="getTableStyle()"></div>
	
</form>


			